<h1>Validation</h1>


<!-- <div class="col-md-12">
        &nbsp;&nbsp;&nbsp;&nbsp;<b class="thick">Old Task: &nbsp;</b> &nbsp;&nbsp;

        <mat-select matInput type="text" autocomplete="off" name="oldtaskD" class="form-control" [(ngModel)]="oldtaskD"
          (selectionChange)="onTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
          <mat-option *ngFor="let tasktemp of taskData" [value]="tasktemp.id">
            {{tasktemp.taskName}}
          </mat-option>
        </mat-select>


      </div>



      <div class="col-md-12">
        &nbsp;&nbsp;&nbsp;&nbsp;<b class="thick">New Task: &nbsp;</b> &nbsp;&nbsp;

        <mat-select matInput type="text" autocomplete="off" name="newtaskD" class="form-control" [(ngModel)]="newtaskD"
          (selectionChange)="onTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
          <mat-option *ngFor="let tasktemp of taskData" [value]="tasktemp.id">
            {{tasktemp.taskName}}
          </mat-option>
        </mat-select>

  
      </div> -->
<div *ngFor="let item of taskData">
  <div style="width: 320px;  padding: 10px; border: 5px solid gray;background-color: lightgrey;
  margin: 0;" (click)="selected(item.hazName)" 
    [ngStyle]="slectedBox==item.hazName?{'background-color':'red'} : {'background-color': 'white'}">{{item.hazName}}

    <button (click)="deletd(item.id)"></button>
  </div>
</div>




<div style="width: 320px;  padding: 10px;
      border: 5px solid gray;
      margin: 0;" *ngIf="boxon"
  [ngStyle]="slectedBox==true?{'background-color':'red'} : {'background-color': 'white'}">{{random}}</div>
<br>

<button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
  class="mat-flat-button mat-primary" (click)="boxcre()">Save </button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="mat-flat-button mat-accent" (click)="close()" style="margin-right: 10px;">Cancel</button>