.card{
    /* width: 400px; */
    /* border-radius: 6px; */
    /* margin-top:120px;
    margin-left: -50px; */
    /* border-block-start: 4px solid  #9E9E9E; */
    border-radius: 12px;
    border-top: 5px solid #9E9E9E;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.button1{
    margin-left: 250px;
    margin-top: 20px;
    /* background-color: gray; */
    color: white;
  }
  .button2{
    margin-top: 20px;
    background-color:gray;
    color:white;
  }
  /* .wrap1{
    background-image: url('/assets/img/b4.jpeg');
    background-size: cover;
    background-position: center center;
    
    margin-top: -125px;
  } */
/* .navbar-brand{
      color: white;
      font-size: 30px;
      background: none;
}
.auth-wrapper{
    background-image: url('/assets/img/login3.jpg');
    background-size: cover;
    background-position: center center;
    height:855px;    
    margin-top: -125px;
}
.card2{
    height: 400px;width: 400px;margin-top: 300px;margin-left: 500px;
          background-color: white;border-top: 5px solid #3c8dbc;border-radius: 2px;
}
.nav-link{
    font-size: 18px;
    color: white;
    margin-right: 12px;
}
h3{
    text-align:center;
    margin-top:30px;
    margin-left:145px;
}
mat-form-field {
    margin-right: 12px;
  } */