<div class="wrap1">
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="margin-left: 0px;margin-top: -25px;">
        <section class="content-header">
          <div class="container">
            <!-- <div class="row">
            <div class="col-6">
              <h1>{{ "Robot System Details"}}</h1>
            </div>
          </div> -->
          </div>
        </section>


        <div class="card">
          <div class="card-title">
            <h5 style="text-align: center;margin-top: 20px;font-weight: bold;margin-bottom: 22px;font-size:20px">Robot
              System Details</h5>
          </div>
          <form #AddrobotFormGroup="ngForm" class="form-horizontal" autocomplete="false"
            (ngSubmit)="saveAddrobot(AddrobotFormGroup.value); AddrobotFormGroup.resetForm()" novalidate>
            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Name of System</mat-label>
                <input matInput autocomplete="off" name="robotName" #robotName="ngModel"
                  [(ngModel)]="robotSystemdata.robotName" required>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Building & Column Location</mat-label>
                <input matInput autocomplete="off" name="buildingLocation" #buildingLocation="ngModel"
                  [(ngModel)]="robotSystemdata.buildingLocation">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Asset</mat-label>
                <input matInput name="asset" #asset="ngModel" [(ngModel)]="robotSystemdata.asset">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Integrator/Manufacturer</mat-label>
                <input matInput autocomplete="off" name="integratorManufacturer" #integratorManufacturer="ngModel"
                  [(ngModel)]="robotSystemdata.integratorManufacturer">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Date of Origin</mat-label>
                <input matInput autocomplete="off" [matDatepicker]="checkin" name="dateOrigin" #dateOrigin="ngModel"
                  [(ngModel)]="robotSystemdata.dateOrigin" required>
                <mat-datepicker-toggle matSuffix [for]="checkin">
                </mat-datepicker-toggle>
                <mat-datepicker #checkin></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Last revision</mat-label>
                <input matInput autocomplete="off" name="lastRevision" #lastRevision="ngModel"
                  [(ngModel)]="robotSystemdata.lastRevision">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Reason for revision</mat-label>
                <input matInput autocomplete="off" [placeholder]="'Reason for revision'" #reasonRevision="ngModel"
                  [(ngModel)]="robotSystemdata.reasonRevision">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Project Manager</mat-label>
                <input matInput type="text" name="projectManager" #projectManager="ngModel"
                  [(ngModel)]="robotSystemdata.projectManager">
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field class="col-md-12" style="font-size: 13px;">
                <mat-label>Risk Assessment Validator</mat-label>
                <input matInput autocomplete="off" name="riskAssessmentValidator" #riskAssessmentValidator="ngModel"
                  [(ngModel)]="robotSystemdata.riskAssessmentValidator">
              </mat-form-field>
            </div>

            <div class="col-md-12" style="margin-bottom: 20px;margin-left: -110px;">
              <button mat-raised-button class="button1" color="primary" *ngIf="tempflag==null"
                [disabled]="(!AddrobotFormGroup.valid )">Save & Continue</button>&nbsp;&nbsp;
             
                <button mat-raised-button class="button1" color="primary" *ngIf="tempflag=='true'"
                [disabled]="(!AddrobotFormGroup.valid )">Update & Continue</button>&nbsp;&nbsp;

              <button mat-raised-button class="button2" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="header">
          <h4>Robot safety Center</h4>
          <p>Requires participation from all safety Team members.<br>
            Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
            Focus on <br>accurate,easy and fast data entry.
          </p>
          <br><br>
          <h4>Robot safety Center</h4>
          <p>Requires participation from all safety Team members.<br>
            Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
            Focus on <br>accurate,easy and fast data entry.
          </p>
        </div>
      </div>
      <!-- <div class="col-md-4">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <h1>{{ "Robot System"}}</h1>
            </div>
          </div>
        </div>
      </section>
      <div class="card">
        <div class="card-hedaer" style="height: 600px;">
          
        </div>

        </div>
    </div> -->
    </div>
  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">





<!-- <div class="row" style="width: 100%;">
  <div>
    <form #AddrobotFormGroup="ngForm" class="form-horizontal" autocomplete="false"
      (ngSubmit)="saveAddrobot(AddrobotFormGroup.value); AddrobotFormGroup.resetForm()" novalidate>
      <div class="modal-body">
        <div style="margin-left: 500px;">
          <h4>Robot System Details</h4>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-left: 190px;">
            <div class="col-md-12">
              <input matInput type="text" class="form-control" autocomplete="off" [placeholder]="'Name of Robot System *'"
                name="robotName" [(ngModel)]="robotSystemdata.robotName" required>
            </div>
            <div class="col-md-12">
              <input matInput autocomplete="off" type="text" class="form-control"
                [placeholder]="'Building & Column Location'" name="buildingLocation"
                [(ngModel)]="robotSystemdata.buildingLocation"  >
            </div>
            <div class="col-md-12">
              <input matInput type="text" class="form-control" [placeholder]="'Asset'" name="asset"
                [(ngModel)]="robotSystemdata.asset"  >
            </div>
            <div class="col-md-12">
              <input matInput autocomplete="off" type="text" class="form-control"
                [placeholder]="'Integrator/Manufacturer'" name="integratorManufacturer"
                [(ngModel)]="robotSystemdata.integratorManufacturer"  >
            </div>
            <div class="col-md-12">
             
              <input matInput autocomplete="off" [matDatepicker]="checkin" name="dateOrigin"
                [(ngModel)]="robotSystemdata.dateOrigin" class="form-control" [placeholder]="'Date of Origin *'" required>
              <mat-datepicker-toggle matSuffix [for]="checkin">
              </mat-datepicker-toggle>
              <mat-datepicker #checkin></mat-datepicker>
            </div>
            <div class="col-md-12">
              <input matInput autocomplete="off" type="text" class="form-control" [placeholder]="'Last revision'"
                name="lastRevision" [(ngModel)]="robotSystemdata.lastRevision"  >
            </div>
            <div class="col-md-12">
              <input matInput autocomplete="off" type="text" class="form-control" [placeholder]="'Reason for revision'"
                name="reasonRevision" [(ngModel)]="robotSystemdata.reasonRevision"  >
            </div>
            <div class="col-md-12">
              <input matInput type="text" class="form-control" [placeholder]="'Project Manager'" name="projectManager"
                [(ngModel)]="robotSystemdata.projectManager"  >
            </div>
            <div class="col-md-12">
              <input matInput autocomplete="off" type="text" class="form-control"
                [placeholder]="'Risk Assessment Validator'" name="riskAssessmentValidator"
                [(ngModel)]="robotSystemdata.riskAssessmentValidator"  >
            </div>
          </div>
        </div>
      </div>
      <button color="primary" style=" background: orange;margin-left: 370px;" type="submit" [disabled]="(!AddrobotFormGroup.valid )" class="mat-flat-button mat-primary">Save &
        Continue</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button color="primary" style=" background: orange;margin-left: 190px;" class="mat-flat-button mat-primary">Cancel</button>
    </form>
  </div>

</div> -->