<div class="col-md-6" style="margin-left: 24%;">
  <h4 style="color: darkred;font-style: italic;font-size: 13px;font-weight: 600;">Verification Matrix</h4>
  <hr style="margin-top: 1px;">
  <mat-card
    style="border: 1px solid #d8cfcf;height: 725px;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
    <div>
      <form #TaskRiskAssessment="ngForm" class="form-horizontal" autocomplete="false" novalidate>
        
         
     <table border=0 cellpadding=0 cellspacing=0 style='border-collapse:
      collapse;table-layout:fixed;'>
        <col width=102 style='mso-width-source:userset;mso-width-alt:3730;width:77pt'>
        <col width=100 style='mso-width-source:userset;mso-width-alt:3657;width:75pt'>
        <col width=171 style='mso-width-source:userset;mso-width-alt:6253;width:128pt'>
        <col width=53 style='mso-width-source:userset;mso-width-alt:1938;width:40pt'>
        <col width=94 style='mso-width-source:userset;mso-width-alt:3437;width:71pt'>
        <col width=40 style='mso-width-source:userset;mso-width-alt:1462;width:30pt'>
        <col width=60 style='mso-width-source:userset;mso-width-alt:2194;width:45pt'>
        <tr height=53 style='mso-height-source:userset;height:40.15pt'>
          <td height=53 class=xl9119120 width=102 style='height:40.15pt;width:77pt'>Severity
            of Injury</td>
          <td class=xl7819120 width=100 style='width:75pt'>Exposure to the Hazard</td>
          <td class=xl6619120 width=171 style='width:128pt'>Avoidance of the hazard</td>
          <td class=xl6619120 width=53 style='border-left:none;width:40pt'>
          </td>
          <td rowspan=2 class=xl11919120 width=94 style='border-bottom:1.0pt solid black;
       width:71pt'>Risk Level</td>
          <td colspan=2 class=xl13019120 width=100 style='border-right:1.0pt solid black;
       border-left:none;width:75pt'>Minimum SRP/CS requirements</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl6719120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
          <td class=xl8019120 width=100 style='width:75pt'>&nbsp;</td>
          <td class=xl6719120 width=171 style='width:128pt'>&nbsp;</td>
          <td class=xl6719120 width=53 style='border-left:none;width:40pt'>&nbsp;</td>
          <td class=xl9319120 style='border-left:none'>PL</td>
          <td class=xl9419120>CAT</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8119120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
          <td class=xl6519120 width=100 style='width:75pt'></td>
          <td class=xl7919120 width=171 style='width:128pt'></td>
          <td class=xl7919120 width=53 style='width:40pt'></td>
          <td rowspan=5 class=xl12119120 style='border-bottom:1.0pt solid black;
       border-top:none'>NEGLIGIBLE</td>
          <td class=xl9519120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl9519120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8119120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
          <td class=xl8219120>E0 - Prevented</td>

          <td class=xl8319120> </td>
          <td class="xl13419120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox0" [name]="RiskMatrixArray[0].ID" [(ngModel)]="RiskMatrixArray[0].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[0].ischecked"> </mat-checkbox>
          </td>

          <td class=xl9619120 style='border-left:none'>&nbsp;</td>
          <td class=xl9819120 style='border-left:none'>&nbsp;</td>

        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8119120 width=102 style='height:14.25pt;width:77pt'>&nbsp;</td>
          <td class=xl6819120>&nbsp;</td>
          <td class=xl6919120 width=171 style="border-right:0pt">&nbsp;</td>
          <td class=xl13219120 width=53 style='width:40pt'>

          </td>
          <td class=xl9819120 style='border-left:none'>b</td>
          <td class=xl9819120 style='border-left:none'>-</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl7119120>A1 - Likely</td>
          <td class="xl13319120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox1" [name]="RiskMatrixArray[1].ID" [(ngModel)]="RiskMatrixArray[1].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[1].ischecked"> </mat-checkbox>
          </td>
          <td class=xl9619120 style='border-left:none'>&nbsp;</td>
          <td class=xl9619120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8519120 style='height:13.5pt'>S1 - Minor</td>
          <td class=xl7219120>E1 - Low</td>
          <td class=xl8619120></td>
          <td class=xl8619120></td>
          <td class=xl9719120 style='border-left:none'>&nbsp;</td>
          <td class=xl9719120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl7319120>A2/A3 - Not likely/possible</td>
          <td class="xl13319120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox2" [name]="RiskMatrixArray[2].ID" [(ngModel)]="RiskMatrixArray[2].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[2].ischecked"> </mat-checkbox>
          </td>
          <td rowspan=5 class=xl12419120 style='border-bottom:1.0pt solid black;
       border-top:none'>LOW</td>
          <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl9919120 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7319120>E2 - High</td>
          <td class=xl7419120>&nbsp;</td>
          <td class="xl13519120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox3" [name]="RiskMatrixArray[3].ID" [(ngModel)]="RiskMatrixArray[3].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[3].ischecked"> </mat-checkbox>
          </td>
          <td class=xl10319120 style='border-left:none' height="28">&nbsp;</td>
          <td class=xl10019120>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>

          <td class=xl13619120></td>
          <td style='border-left:none'> </td>
          <td class=xl13619120> </td>
          <td class=xl110191122 style='border-left:none;font-weight: 600;'>c </td>
          <td class=xl110191122 style='border-left:none;font-weight: 600;'> 2</td>

        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7119120>E0 - Prevented</td>
          <td class=xl7519120 style='border-right:none'>&nbsp;</td>
          <td class=xl13519120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox4" [name]="RiskMatrixArray[4].ID" [(ngModel)]="RiskMatrixArray[4].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[4].ischecked"> </mat-checkbox>
          </td>
          <td class=xl10319120 style='border-left:none'>&nbsp;</td>
          <td class=xl10019120>&nbsp;</td>


        </tr>
        <tr height=33 style='height:24.75pt'>
          <td height=33 class=xl8419120 style='height:24.75pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl10419120>&nbsp;</td>
          <td class=xl10119120>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7319120>E1 - Low</td>
          <td class=xl7519120 style='border-right:none'>&nbsp;</td>
          <td class=xl14519120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox5" [name]="RiskMatrixArray[5].ID" [(ngModel)]="RiskMatrixArray[5].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[5].ischecked"> </mat-checkbox>
          </td>
          <td rowspan=4 class=xl14619120 style='border-bottom:1.0pt solid black;
       border-top:none'>MEDIUM</td>
          <td class=xl10719120 style='border-top:none'>&nbsp;</td>
          <td class=xl10719120 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8719120 style='height:14.25pt'>S2 - Moderate</td>
          <td class=xl8819120></td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl10819120>&nbsp;</td>
          <td class=xl10819120>&nbsp;</td>
        </tr>
        <tr height=35 style='height:26.25pt'>
          <td height=35 class=xl8419120 style='height:26.25pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl8219120>A1 - Likely</td>
          <td class=xl13719120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox6" [name]="RiskMatrixArray[6].ID" [(ngModel)]="RiskMatrixArray[6].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[6].ischecked"> </mat-checkbox>
          </td>
          <td class=xl11019120>d</td>
          <td class=xl11019120>2</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl7319120>E2 - High</td>
          <td class=xl7619120 style='border-right:none'>&nbsp;</td>
          <td class=xl8619120></td>
          <td class=xl10919120>&nbsp;</td>
          <td class=xl10919120>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl7719120 style='border-right:none'>A2/A3 -<font class="font619120"> Not likely/possible</font>
          </td>
          <td class=xl13719120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox7" [name]="RiskMatrixArray[7].ID" [(ngModel)]="RiskMatrixArray[7].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[7].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=2 class=xl14219120
            style='border-bottom:1.0pt solid black;
       border-top:none; vertical-align: bottom; border-top-style: none; border-bottom-style: solid; border-left-style: solid; border-top-width: medium; border-bottom-width: 1.0pt; border-left-width: 1.0px; border-top-color: inherit; border-bottom-color: black; border-left-color: #000000;'>
            HIGH</td>
          <td class=xl13819120 style='border-top:none'>&nbsp;</td>
          <td class=xl11119120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl15019120>fd</td>
          <td class=xl11319120 style='border-left:none'>3</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7119120>E0 - Prevented</td>
          <td class=xl7419120>&nbsp;</td>
          <td class=xl13519120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">


            <mat-checkbox ID="CheckBox8" [name]="RiskMatrixArray[8].ID" [(ngModel)]="RiskMatrixArray[8].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[8].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=2 class=xl15119120 width=94 style='border-bottom:1.0pt solid black;
       width:71pt'>LOW</td>
          <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>

        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>


          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl11419120 style='border-left:none'>c</td>
          <td class=xl11419120 style='border-left:none'>2</td>
        </tr>
        <tr height=35 style='height:26.25pt'>
          <td height=35 class=xl8419120 style='height:26.25pt'>&nbsp;</td>
          <td class=xl7319120>E1 - Low</td>
          <td class=xl7419120>&nbsp;</td>
          <td class=xl14919120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox9" [name]="RiskMatrixArray[9].ID" [(ngModel)]="RiskMatrixArray[9].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[9].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=4 class=xl14219120
            style='border-bottom:1.0pt solid black;
       border-top:none; border-top-style: none; border-bottom-style: solid; border-left-style: solid; border-top-width: medium; border-bottom-width: 1.0pt; border-left-width: 1.0px; border-top-color: inherit; border-bottom-color: black; border-left-color: #000000;'>
            HIGH</td>
          <td class=xl13819120 style='border-top:none' height="50">&nbsp;</td>
          <td class=xl11119120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl9219120 style='height:14.25pt'>S3 - Serious</td>
          <td class=xl8819120></td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl13919120>d</td>
          <td class=xl11619120 style='border-left:none'>3</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl8219120>A1/A2 - Likely/Not likely</td>
          <td class=xl13719120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">

            <mat-checkbox ID="CheckBox10" [name]="RiskMatrixArray[10].ID" [(ngModel)]="RiskMatrixArray[10].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[10].ischecked"> </mat-checkbox>

          </td>
          <td class=xl14019120>&nbsp;</td>
          <td class=xl11519120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=33 style='height:24.75pt'>
          <td height=33 class=xl8419120 style='height:24.75pt'>&nbsp;</td>
          <td class=xl7319120>E2 - High</td>
          <td class=xl7619120 style="border-right:0pt">&nbsp;</td>
          <td class=xl8619120></td>
          <td class=xl14119120>&nbsp;</td>
          <td class=xl11219120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl7719120 style="border-right:0pt">A3 - Not possible</td>
          <td class=xl13319120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            <mat-checkbox ID="CheckBox11" [name]="RiskMatrixArray[11].ID" [(ngModel)]="RiskMatrixArray[11].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[11].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=2 class=xl12819120 style='border-bottom:1.0pt solid black;
       border-top:none'>VERY HIGH</td>
          <td class=xl11719120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl11719120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8919120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl9019120>&nbsp;</td>

          <td class=xl9019120>&nbsp; </td>
          <td class=xl9019120>&nbsp;

          </td>
          <td class=xl11819120 style='border-left:none'>e</td>
          <td class=xl11819120 style='border-left:none'>4</td>
        </tr>

      </table>
      </form>
    </div>
    <br>
    <br>
    <button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
      class="mat-flat-button mat-primary" (click)="VerificationRisk(TaskRiskAssessment.value)"> Complete Verification </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="mat-flat-button mat-accent" style="margin-right: 10px;" (click)="back()">Back</button>
    <br>
  </mat-card>


</div>








<style id="Software Risk Assessment -2012_19120_Styles"><!--table
  {mso-displayed-decimal-separator:"\.";
  mso-displayed-thousand-separator:"\,";}
.font519120
  {color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;}
.font619120
  {color:black;
  font-size:9.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;}
.xl1519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl6519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl6619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl6719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl6819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:1.5pt solid windowtext;
  border-right:none;
  border-bottom:none;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl6919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.5pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl7019120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:none;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.5pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7419120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.5pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:none;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl7919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl8019120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl8119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl8219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
/* .xl8319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;} */
.xl8419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.5pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl9219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
   font-family:Arial, Sans-Serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.5pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9719120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10219120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10719120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:baseline;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11219120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11719120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl12019120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl12119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12419120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid black;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:normal;}
.xl12819120
  {padding:0px;
  mso-ignore:padding;
  color:white;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:1.0pt solid black;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12919120
  {padding:0px;
  mso-ignore:padding;
  color:white;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl13019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl13119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl13219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl13319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl13919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid black;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14419120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid black;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl14619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid black;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid black;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border:1.0pt solid black;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl15019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl15119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:normal;
  
  }


  .xl110191122
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:baseline;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}

</style>