<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4 style="color: darkred;font-style: italic;font-size: 13px;font-weight: 600;">Risk Assesment Matrix</h4>
      <hr style="margin-top: 1px;">
      <mat-card
        style="border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
        <h5 style="color: darkred;font-size: 18px;">Instructions</h5>
        <div>
          <b style="font-size: small;color: blue;font-style: italic;font-weight: bold;">Update Task:<span
              style="font-size: small;font-style: italic;color: red;">Select record and click on Edit
              button</span></b><br>
          <b style="font-size: small;color: blue;font-style: italic;font-weight: bold;">Delete Task:<span
              style="font-size: small;font-style: italic;color: red;">Select record and click on Delete
              button</span></b><br>
          <b style="font-size: small;color: blue;font-style: italic;font-weight: bold;">Add New Task:<span
              style="font-size: small;font-style: italic;color: red;">Select record and click on Add New Task
              button</span></b>
        </div>

        <div class="row" style="margin-top: 10px;margin-left: -3px;">
          <button class="btn btn-secondary" style="background: #6c757d;font-size:12px" (click)="AddNewTask()">New
            Task</button>&nbsp;&nbsp;
          <button class="btn btn-secondary" style="background: #6c757d;font-size:12px"
            (click)="showcopyTaskDialog()">Copy Task</button>&nbsp;&nbsp;
          <button class="btn btn-secondary" style="background: #6c757d;font-size:12px"
            (click)="showVarificationDialog()">Verification</button>&nbsp;&nbsp;
          <button class="btn btn-secondary" style="background: #6c757d;font-size:12px"
            (click)="showvalidationDialog()">Validation</button>&nbsp;&nbsp;
          <button class="btn btn-secondary" style="background: #6c757d;font-size:12px">Export To
            Excel</button>&nbsp;&nbsp;
        </div>

        <div class="row" style="margin-top: 10px;margin-left:1px">
          <b class="thick" style="color: darkred;margin-bottom: 10px;">Name of Robot System - &nbsp;</b><span
            style="color: darkred">{{RobotTaskName}} </span>
        </div>

        <div class="row">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let element">
                <button (click)="EditTask(element.id)"
                  style="border:none;margin-top: 5px;margin-left: -15px;background-color: transparent;">
                  <mat-icon style="color:green">edit</mat-icon>
                </button> 
              </td>
            </ng-container>

            <ng-container matColumnDef="Delete">
              <th  mat-header-cell *matHeaderCellDef>Delete</th>
              <td mat-cell *matCellDef="let element">
                <button (click)="delete(element.id)" style="border:none">
                  <mat-icon style="color:red">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="taskName">
              <th mat-header-cell *matHeaderCellDef>Task</th>
              <td mat-cell *matCellDef="let element"> {{element.taskName}}</td>
            </ng-container>


            <ng-container matColumnDef="subTaskName">
              <th mat-header-cell *matHeaderCellDef>Sub Task</th>
              <td mat-cell *matCellDef="let element">{{element.subTaskName}}</td>
            </ng-container>

            <ng-container matColumnDef="hazardName">
              <th mat-header-cell *matHeaderCellDef>Hazards</th>
              <td mat-cell *matCellDef="let element">{{element.hazardName}}</td>
            </ng-container>

            <ng-container matColumnDef="riskMatrix_s">
              <th mat-header-cell *matHeaderCellDef>S</th>
              <td mat-cell *matCellDef="let element">{{element.riskMatrix_s}} </td>
            </ng-container>

            <ng-container matColumnDef="riskMatrix_E">
              <th mat-header-cell *matHeaderCellDef>E</th>
              <td mat-cell *matCellDef="let element">{{element.riskMatrix_E}} </td>
            </ng-container>

            <ng-container matColumnDef="riskMatrix_A">
              <th mat-header-cell *matHeaderCellDef>A</th>
              <td mat-cell *matCellDef="let element">{{element.riskMatrix_A}} </td>
            </ng-container>

            <ng-container matColumnDef="riskMatrix_R">
              <th mat-header-cell *matHeaderCellDef>R</th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.chkColor  }">
                {{element.riskMatrix_R}}</td>
            </ng-container>

            <ng-container matColumnDef="riskMatrix_PLLcAT">
              <th mat-header-cell *matHeaderCellDef>PL-Cat.</th>
              <td mat-cell *matCellDef="let element">{{element.riskMatrix_PLLcAT}} </td>
            </ng-container>

            <ng-container matColumnDef="safeguardsName">
              <th mat-header-cell *matHeaderCellDef>SafeGaurds</th>
              <td mat-cell *matCellDef="let element">{{element.safeguardsName}}</td>
            </ng-container>

            <ng-container matColumnDef="protectiveName">
              <th mat-header-cell *matHeaderCellDef>Protective Procedure</th>
              <td mat-cell *matCellDef="let element">{{element.protectiveName}}</td>
            </ng-container>

            <ng-container matColumnDef="verification_S">
              <th mat-header-cell *matHeaderCellDef>S</th>
              <td mat-cell *matCellDef="let element">{{element.verification_S}} </td>
            </ng-container>

            <ng-container matColumnDef="verification_E">
              <th mat-header-cell *matHeaderCellDef>E</th>
              <td mat-cell *matCellDef="let element">{{element.verification_E}} </td>
            </ng-container>

            <ng-container matColumnDef="verification_A">
              <th mat-header-cell *matHeaderCellDef>A</th>
              <td mat-cell *matCellDef="let element">{{element.verification_A}} </td>
            </ng-container>

            <ng-container matColumnDef="comment">
              <th mat-header-cell *matHeaderCellDef>Comments</th>
              <td mat-cell *matCellDef="let element">{{element.comment}}</td>
            </ng-container>

            <ng-container matColumnDef="verification">
              <th mat-header-cell *matHeaderCellDef> Verification</th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.verificationchkColor  }">
                {{element.verification}}</td>
            </ng-container>

            <ng-container matColumnDef="validation">
              <th mat-header-cell *matHeaderCellDef>Validation</th>
              <td mat-cell *matCellDef="let element">{{element.validation}}</td>
            </ng-container>

            <ng-container matColumnDef="documentPath">
              <th mat-header-cell *matHeaderCellDef>Document</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="DownLoad()">
                  <mat-icon class="material-icons edit">cloud_download</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="trackingTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: trackingTableColumns;  let i = index;" style="min-height: 93px;">
            </tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <div class="row" style="width: 100%;">
  <div class="modal-body">
    <mat-card style="width: 92%;
    margin-left: 80px;">
    <div style="BACKGROUND: ORANGE;">
      <h3 style="margin-left: 500px;">Risk Assesment Matrix</h3>
    </div>
    <br>
    <div>
      <h5 style="margin-left: 370px;color: darkred">Instructions</h5>

      <b class="thick" style="margin-left: 370px;color: blue">Update Task:&nbsp;</b><span style="color: red"> Select
        record and click on Edit button</span> &nbsp;&nbsp;&nbsp;
      <br>
      <b class="thick" style="margin-left: 370px;color: blue">Delete Task: &nbsp;</b><span style="color: red">Select
        record and click on Delete button</span>
      <br>
      <b class="thick" style="margin-left: 370px;color: blue">Add New Task: &nbsp;</b><span style="color: red">Select
        record and click on Add New Task button</span>
      
    </div>
    <br>
    <div class="row" style="margin-left: 370px;">
      <button color="primary" style=" background: orange;" class="mat-flat-button mat-primary"
        (click)="AddNewTask()">New Task</button>
      &nbsp;&nbsp;&nbsp;
      <button color="primary" type="button" style=" background: orange;" class="mat-flat-button mat-primary"
        (click)="showcopyTaskDialog()">Copy Task</button>
      &nbsp;&nbsp;&nbsp;
      <button color="primary" style=" background: orange;" class="mat-flat-button mat-primary"
        (click)="showVarificationDialog()">Verification</button>
      &nbsp;&nbsp;&nbsp;
      <button color="primary" style=" background: orange;" class="mat-flat-button mat-primary"
        (click)="showvalidationDialog()">Validation</button>
      &nbsp;&nbsp;&nbsp;
      <button color="primary" style=" background: orange;" class="mat-flat-button mat-primary btn-tracking">Export To
        eSxcel</button>
      &nbsp;&nbsp;&nbsp;

    </div>
    <br>
    <b class="thick" style="margin-left: 370px;color: darkred">Name of Robot System - &nbsp;</b><span
      style="color: darkred">{{RobotTaskName}} </span>

    <div>
     
    </div>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button color="primary" style=" background: green;" class="mat-flat-button mat-primary"
            (click)="EditTask(element.id)">
            Edit
          </button>
          
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
        <mat-cell *matCellDef="let element">
        
          <button type="button" color="primary" style=" background: red;" class="mat-flat-button mat-primary"
            (click)="delete(element.id)">
            Delete
           
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="taskName">
        <mat-header-cell *matHeaderCellDef>Task</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.taskName}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="subTaskName">
        <mat-header-cell *matHeaderCellDef>Sub Task</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.subTaskName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="hazardName">
        <mat-header-cell *matHeaderCellDef>Hazards</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.hazardName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="riskMatrix_s">
        <mat-header-cell *matHeaderCellDef>S</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.riskMatrix_s}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="riskMatrix_E">
        <mat-header-cell *matHeaderCellDef>E</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.riskMatrix_E}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="riskMatrix_A">
        <mat-header-cell *matHeaderCellDef>A</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.riskMatrix_A}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="riskMatrix_R">
        <mat-header-cell *matHeaderCellDef>R</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.chkColor  }">
          {{element.riskMatrix_R}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="riskMatrix_PLLcAT">
        <mat-header-cell *matHeaderCellDef>Pl-Cat.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.riskMatrix_PLLcAT}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="safeguardsName">
        <mat-header-cell *matHeaderCellDef>SafeGaurds</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.safeguardsName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="protectiveName">
        <mat-header-cell *matHeaderCellDef>Protective Procedure</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.protectiveName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Ss">
        <mat-header-cell *matHeaderCellDef>S</mat-header-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Ee">
        <mat-header-cell *matHeaderCellDef>E</mat-header-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Aa">
        <mat-header-cell *matHeaderCellDef>A</mat-header-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.comment}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="verification">
        <mat-header-cell *matHeaderCellDef> Verification</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.verification}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="validation">
        <mat-header-cell *matHeaderCellDef>Validation</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.validation}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="documentPath">
        <mat-header-cell *matHeaderCellDef>Document</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <button mat-icon-button (click)="DownLoad(element.documentPath)">
            <mat-icon class="material-icons edit">cloud_download</mat-icon>
        </button>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="trackingTableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: trackingTableColumns;  let i = index;" style="min-height: 93px;"></mat-row>
    </mat-table>

  </mat-card>
  
  </div>
</div>

<style>
  .mat-toolbar {
    padding-bottom: 15px;
    background: #FF9800;
    color: #fff;
    padding: 16px 30px;
  }

  .mat-row:nth-child(even) {
    background-color: #e9e9e9;

  }

  .mat-row:nth-child(odd) {
    background-color: white;

  }

  .mat-header-cell {
    color: rgb(29 28 28);
    font-size: 14px;
    background: orange;
  }

  .mat-cell {
    font-size: 13px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
  }

  .mat-table {
    background-color: rgba(255, 255, 255, 0.959);
    height: 54vh;
    overflow: auto;

  }

  .mat-header-cell,
  .mat-cell {
    min-width: 150px;
  }

  .mat-form-field-underline {
    background-color: transparent;
  }

  .mat-form-field-flex {
    font-size: 14px;
    line-height: 1em;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    padding: 2px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    padding-top: 1.25em;
  }

  .mat-form-field-infix {
    border: 0px;
  }

  .mat-paginator {
    background-color: white;
  }

</style> -->