.mat-toolbar{
    padding-bottom: 15px;
    background: #FF9800;
    color: #fff;
    padding: 16px 30px;
}

.mat-row:nth-child(even){
    background-color:#e9e9e9;
   
    }
  
  .mat-row:nth-child(odd){
    background-color:white;
    
    }
    .mat-header-cell{
        color: rgb(29 28 28);
        font-size: 12px;
    }
    .mat-cell{
        font-size:13px;
    }
    /* .example-container {
        display: flex;
        flex-direction: column;
        max-height: 500px;
      } */
      /* .container{
          background-color: white;
          border: 1.5px solid black;
          border-radius: 10px;
          text-align: center;
      } */
      /* .mat-table {
        overflow: auto;
        max-height: 500px;
      } */
      /* .container{
          background-color: white;
          border: 1.5px solid black;
          border-radius: 10px;
          text-align: center;
      } */
      .mat-table{
          background-color: rgba(255, 255, 255, 0.959);
          height : auto;
          overflow: auto;   
          width: 100%;
          margin-left: 2px;

      }
      .mat-header-cell, .mat-cell {
        color: rgb(29 28 28);
        font-size: 12px;
        border: 1px solid #dee2e6;
      }
      /* .mat-cell{

      } */
      .mat-form-field-underline{
          background-color:transparent;
      }
      
      .mat-form-field-flex{
          font-size: 14px;
          line-height: 1em;
          color: #555;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-top: 8px;
          padding: 2px;
      }
      .mat-form-field-wrapper{
          padding-bottom: 1.25em;
          padding-top: 1.25em;
      }
      .mat-form-field-infix{
          border:0px;
      }
      .mat-paginator{
          background-color: white;
      }
      .mat-header-row{
        background-color: #c8c4bf;
        min-height: 35px;
        align-items: unset;
        border-bottom-width: 0px;
        /* border-top: 3px solid #FF9800;
        border-radius: 5px; */
      }
/* 
   .scroll-container{
    border: 2px solid silver;
    display: flex;
    align-items: center;
    overflow: hidden;
  
   } */

   thead{
    font-size: 12px;
   }
   table tr{
    height: 35px;
   }
   table th{
       color: darkred;
   }
   table{
    border-top: 2px solid #928787;
   }
   .material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
   }
