<!-- <div  class="navbar navbar-expand navbar-black " style="background-color:orange;margin-top: 48px;">
<div class="navbar navbar-fixed-top navbar-dark bg-inverse">
 <div class="container">

 </div>
</div>
</div> -->
 <!-- <div class="navtop" style="height: 35px;background-color:gray"> -->
  <div class="container-fluid">
  <div class="row" style="height: 25px;">
    <div class="col-md-4" style="background-color: #5d5a54;">
      <!-- <h5 style="font-size: 14px;color: white; margin-top: 10px;float: right;margin-right: 119px;"><i class="fa fa-address-book" aria-hidden="true" style="font-weight: 100;font-size: 13px;
        font-style: italic;">&nbsp;&nbsp;Contact Details:&nbsp;9999999999</i></h5> -->
    </div>
    <!-- <div class="col-md-4" style="background-color:white">

    </div> -->
    <div class="col-md-8" style="background-color:orange" >
      <div>
       <h5 style="font-size: 14px;color: white; margin-top: 10px;float: right;margin-left: 35px;"><i class="fa fa-envelope" aria-hidden="true" style="font-weight: 100;font-size: 13px;
        font-style: italic;margin-right: 50px;">&nbsp;&nbsp;Email:&nbsp;support@safetycenter.com</i></h5> &nbsp;&nbsp;&nbsp;&nbsp;
         
        </div>
    </div>
  </div>
  </div>
  
<!-- </div> -->

<nav class="main-header navbar navbar-expand navbar-black " style="margin-left:0px;background-color: none;border-bottom: 50px solid #fbfbfb;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
height: 0;
width: 250px;
margin-top: -41px;
margin-left: 230px;">
 <!-- <header-left-navbar></header-left-navbar>
  <ul class="navbar-nav ml-auto">
   <header-user-menu></header-user-menu>
  </ul> -->
  <a style="margin-top: -28px;">
    <img _ngcontent-hbk-c68="" src="assets/img/logo1.png" alt="Logo" style="width: 65px;margin-top: 94px;">
    <span style="float: right;
    margin-top: -32px;color:darkred;font-weight:bold;font-style:italic">Robot Safety Center</span>
  </a>
</nav> 
<div class="navbar navbar-expand-lg navbar-dark indigo" style="margin-top: -35px;height: 20px;background-color: #fdfbfb;box-shadow: 0 -5px 58px 0 rgba(0,0,0,0.2);">    
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active" style="margin-left: 370px;color: black;">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/app/home']" style="font-size: 12px;color: #5f5252;font-weight: 600;"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="#" style="font-size: 12px;color: #5f5252;font-weight: 600;"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;Account</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="#" style="font-size: 12px;color: #5f5252;font-weight: 600;"><i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;References</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="#" style="font-size: 12px;color: #5f5252;font-weight: 600;"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Definitions</a></li>
        <li class="nav-item"><a class="nav-link"  [routerLink]="['update-password']" style="font-size: 12px;color: #5f5252;font-weight: 600;"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Update Password</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/app/setup']" style="font-size: 12px;color: #5f5252;font-weight: 600;"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Setting</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:;" (click)="logout()" style="font-size: 12px;color: #5f5252;font-weight: 600;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;Logout</a></li>
    </ul>
    <header-left-navbar></header-left-navbar>
  <ul class="navbar-nav ml-auto">
   <header-user-menu></header-user-menu>
  </ul>
</div>
</div>
<!-- box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); -->
<!-- <div class="row">
  <div class="shadow-lg p-3 mb-5 bg-white rounded" style="background-color:gray">
  </div>
  </div> -->
<style>
  /* .flag {
  width: 110px;
  height: 56px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #32557f;
  color: #7eb4e2;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  }
  
  ::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #7eb4e2;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
  } */

  .col-md-4{
     
	height: 35px;
	/* transform: skew(30deg); */
  background: #555;
  border-right: 100px solid transparent;
    }
</style>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->