 <!-- <nav class="stroke">  -->
 <ul class="navbar-nav">
  
  <!-- <a>
    <img _ngcontent-hbk-c68="" src="assets/img/logo1.png" alt="Logo" style="width: 65px;
    ;">
    <span _ngcontent-hbk-c68="" class="headername">Robot Safety Center</span>
  </a> -->
  

  <!-- <li class="nav-item d-none d-sm-inline-block" style="margin-top: 10px;">
    <a class="nav-link" [routerLink]="['/app/home']" style="margin-left:675px;color: #615b5b;font-weight: 800;border-radius: 5px 25px;"><i class="fa fa-th-large" aria-hidden="true"> {{ "Dashboard"}}</i>
    </a>
  </li> 
  <li class="nav-item d-none d-sm-inline-block" style="margin-top: 10px;">
    <a class="nav-link" [routerLink]="['/app/setup']" style="color: #615b5b;"> <i class="fa fa-cog" aria-hidden="true">&nbsp;&nbsp;{{ "Setting"}}</i>
     
    </a>
  </li> -->

  
  <!-- <li class="nav-item d-none d-sm-inline-block" style="margin-top: 10px;">
    <a class="nav-link" [routerLink]="['/app/setup']" style="color: white;font-weight: 800;    border-radius: 5px 25px;
    background-color: gray;margin-left:20px"> <i class="fa fa-cog" aria-hidden="true">&nbsp;&nbsp;{{ "Setting"}}</i>
     
    </a>
  </li> -->
</ul> 
<!-- </nav>  -->


<style>
  .headername{
    color: #61605f;
    font-size: 15px;
    margin-left: -10px;
    font-weight: 600;
    font-style: italic;
  }
  .nav.navbar.bootsnav ul.nav > li > a{
    padding: 10px 15px;
    border: none;
    border-radius: 0;
    color: #ae1175;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
  }

 
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.25s;
}
nav ul li a:hover {
  color: #0000ff;
}


/* stroke */
nav.stroke ul li a {
  position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #ff0000;
  height: 5px;
  margin-top:10px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}
.vl {
  border-left: 3px solid green;
  
}


</style>
<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'> -->