<!-- 

<li class="nav-item dropdown nav-user-menu" dropdown>
  <a href="javascript:;" class="nav-link" dropdownToggle>
   
    <i class="fa fa-user" aria-hidden="true" style="color: #615b5b;font-size: 13px;">&nbsp;&nbsp;{{ "Admin"}}</i>
  </a>


  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <a class="dropdown-item" [routerLink]="['/app/home']">
      <i class="fa fa-th-large" aria-hidden="true"></i> {{ "Dashboard"}}
    </a>
    <!-- <a class="dropdown-item" [routerLink]="['update-password']">
      <i class="fas fa-user-edit"></i> {{ "UpdatePassword" | localize }}
    </a> -->
     <!-- <a class="nav-link" [routerLink]="['/app/setup']" style="color: #615b5b;"> 
      <i class="fa fa-cog" aria-hidden="true"></i>{{ "Setting"}}
    </a>
    <a class="dropdown-item" href="javascript:;" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> {{ "Logout" | localize }}
    </a>
  </div>
</li>  -->


