agm-map {
    height: 300px;
}

.card1{
    margin-top: 100px;
    margin-top:180px;
    background-color:white;
    border-top: 5px solid #3c8dbc;
}
.auth-wrapper{
    background-image: url(/assets/img/fogetpass.jpg);
    background-size: cover;
    background-position: center center;
    height:730px;
}
.navbar-brand{
    color: white;
    font-size: 30px;
    background: none;
}
.nav-link{
    font-size: 18px;
    color: white;
    margin-right: 12px;
}
/******************************/
.login-form {
    width: 400px;
    /* margin: 30px auto; */
    margin-left: 408px;
    margin-top: 192px;
    border-top: 5px solid #007bff;
}
.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    border-radius: 2px;
}
.input-group-prepend .fa {
    font-size: 18px;
}
.login-btn {
    font-size: 15px;
    font-weight: bold;
  	min-height: 40px;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}
.social-btn .btn:hover {
    opacity: 0.9;
}
.social-btn .btn-secondary, .social-btn .btn-secondary:active {
    background: #507cc0 !important;
}
.social-btn .btn-info, .social-btn .btn-info:active {
    background: #64ccf1 !important;
}
.social-btn .btn-danger, .social-btn .btn-danger:active {
    background: #df4930 !important;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}   

.col-md-8{
     /* background-color: rgba(0, 0, 0, 0.25) !important;  */
    margin-top: 165px;
    border-radius: 25px;
}
.main-top{
    color: white;
    /* margin-top: 20px; */
}
.main-top1{
    font-size: 120px;
    color: white;
    text-align: center;
   
}