<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-2">
          <!-- <b style="color:darkred">Active Users:</b>
          <select >
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select> -->
          <div class="dropdown">
            <p class="dropbtn">Active Users</p>
            <div class="dropdown-content">

              <a href="#">Deactive Users</a>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <b style="color:darkred">User Licenses:</b>&nbsp;<span
            style="font-size:14px;color:black">{{Userlicenses}}</span> &nbsp;&nbsp;&nbsp;
          <b style="color:darkred">Remaining:</b>&nbsp;<span style="font-size:14px;color:black">{{calculation}}</span>
          <hr style="margin-top: 2px;">
        </div>
      </div>
      <div class="col-md-4 profile-pic">
        <mat-card
          style="margin-top: 20px;width: 240px;border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
          <div class="profile-pic">
            <p style="font-size: 14px;font-weight:bold;color: darkred;">{{name}} {{surname}}</p>
            <p style="font-size: 14px;color: gray;"><i class="fa fa-envelope">&nbsp;&nbsp;&nbsp;{{emailID}}</i></p>
            <p style="font-size: 14px;color: gray;"><i class="fa fa-user">&nbsp;&nbsp;&nbsp;Admin</i></p>
            <div class="edit"><a href="#"><i class="fa fa-pencil fa-lg"></i></a></div>
          </div>
        </mat-card>
      </div>



      <div class="col-md-4 profile-pic" *ngFor="let userportal of UserDetails" style="margin-left: -16px;">
        <mat-card
          style="margin-top: 20px;border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
          <div class="row">
            <div style="padding:14px">
              <p style="font-size: 14px;font-weight:bold;color: darkred;margin-top: -18px;">{{userportal.fullName}}</p>
              <p style="font-size: 14px;color: gray;"><i
                  class="fas fa-envelope">&nbsp;&nbsp;&nbsp;{{userportal.emailAddress}}</i>
              </p>
              <p style="font-size: 14px;color: gray;"><i
                  class="fa fa-user">&nbsp;&nbsp;&nbsp;{{userportal.permission}}</i></p>
              <div class="edituser"><a href="#" data-toggle="modal" data-target="#EditUser">
                  <i class="fa fa-pencil fa-lg"></i></a></div>
              <div class="deleteuser"><a href="#" data-toggle="modal" data-target="#DeleteUser">
                  <i class="fas fa-trash-alt"></i></a></div>
              <div class="deactiveuser"><a href="#" data-toggle="modal" data-target="#DeactiveUser">Deactivate</a></div>
            </div>
          </div>
        </mat-card>
        <!-- <hr> -->
      </div>
    </div>


    <!----------------- modal ---------------->

    <div class="modal fade" id="DeleteUser" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #FF9800;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
              <b>Do you want to Delete this User from this portal?</b>
            </div>
          </div>
          <div class="modal-footer" style="margin-right:40px">
            <button mat-raised-button class="updatebtn">Delete </button>&nbsp;&nbsp;
            <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="DeactiveUser" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #FF9800;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="col-md-12">
              <b>Do you want to deactivate this user? User will no longer have access to this portal.</b>
            </div>
          </div>
          <div class="modal-footer" style="margin-right:40px">
            <button mat-raised-button class="updatebtn">Delete </button>&nbsp;&nbsp;
            <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>



    <!--------------------------  2nd -------->


    <div class="col-md-4" style="margin-top: 2px;">
      <I class="pull-right" style="color: dodgerblue;" [routerLink]="['/app/Locations']"
        style="margin-right: 10px;font-style: normal;font-size: 14px;font-weight: bold;color: darkred;">Need Additional
        Location.? </I>
      <hr>
      <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#createUser"
        style="margin-top: 5px;font-size: 12px;">
        Add User
      </button>
    </div>


    <div class="modal right fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title" #userclosebutton id="myModalLabel2">Add User</h4>

            <!-- <button type="button"  data-dismiss="modal" aria-label="Close"><span
                style="float: right;">&times;</span></button> -->
          </div>

          <div class="modal-body">
            <div *ngIf="!upgrade">
              <form class="form-example" #userForm="ngForm" (ngSubmit)="userform(userForm.value)">
                <div class="form-group">
                  <label for="username">FullName</label>
                  <input type="text" style="height: 45px;" class="form-control fullName" id="fullName"
                    placeholder="FullName" name="fullName" [(ngModel)]="Userp.fullName">
                </div>

                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="text" style="height: 45px;" class="form-control emailAddress" id="emailAddress"
                    placeholder="Email" name="emailAddress" [(ngModel)]="Userp.emailAddress">
                </div>
                <!-- <div class="form-group">
                      <label for="email">Location</label>
                      <input type="text" style="height: 55px;" class="form-control address" id="address"
                        placeholder="Location" name="address" [(ngModel)]="model.address">
                    </div> -->
                <!-- <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" style="height: 55px;" class="form-control password" id="password"
                        placeholder="Password" name="password">
                    </div> -->
                <div class="form-group">
                  <label for="roles">Permissions:</label>
                  <select class="form-control roles" style="height: 45px;" id="permission" placeholder="Enter Roles"
                    name="permission" [(ngModel)]="Userp.permission">
                    <option [(ngModel)]="Userp.permission">Admin</option>
                    <option [(ngModel)]="Userp.permission">Risk Manager</option>
                    <option [(ngModel)]="Userp.permission">Safety Expert</option>

                  </select></div>

                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
              </form>
            </div>
            <div *ngIf="upgrade">
              <div>
                <h3>You have <span style="color: firebrick;">'reached the maximum limit'</span> in your current plan.</h3><br>
                <h5>Upgrade Now</h5> <br>
                <div>
                  <label>I want to Add  </label>
                  <select id="user">
                    <option value="1 User" >1 User</option>
                    <option value="2 User" >2 User</option>
                    <option value="3 User" >3 User</option>
                    <option value="4 User" >4 User</option>
                    <option value="5 User" >5 User</option>
                    

                  </select>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal right fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title" #edituserclosebutton id="myModalLabel2">Edit User</h4>

            <!-- <button type="button" data-dismiss="modal" aria-label="Close"><span
                style="float: right;">&times;</span></button> -->
          </div>

          <div class="modal-body">
            <form class="form-example" #EdituserForm="ngForm" (ngSubmit)="Edituserform(EdituserForm.value)">
              <div class="form-group">
                <label for="username">FullName</label>
                <input type="text" style="height: 45px;" class="form-control fullName" id="fullName"
                  placeholder="FullName" name="fullName" [(ngModel)]="Userp.fullName">
              </div>

              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" style="height: 45px;" class="form-control emailAddress" id="emailAddress"
                  placeholder="Email" name="emailAddress" [(ngModel)]="Userp.emailAddress">
              </div>
              <div class="form-group">
                <label for="roles">Permissions:</label>
                <select class="form-control roles" style="height: 45px;" id="permission" placeholder="Enter Roles"
                  name="permission" [(ngModel)]="Userp.permission">
                  <option [(ngModel)]="Userp.permission">Admin</option>
                  <option [(ngModel)]="Userp.permission">Risk Manager</option>
                  <option [(ngModel)]="Userp.permission">Safety Expert</option>

                </select></div>

              <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;
              <button type="submit" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">