<mat-card style="margin-top: 2%;margin-left: 6%;width: 90%;">
  <div style="margin-bottom: 2%; background: antiquewhite;margin-top: -1%;">
    <h3 style="margin-left: 30%;">Update Risk Assessment by Robot System</h3>
  </div>
  <button type="button" color="primary" style=" background: black;" class="mat-flat-button mat-primary"
    (click)="AddNewRobot()">
    Add New Robot
  </button>
  <br>
  <span></span>
  <mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="dateOrigin">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateOrigin | date:'MMM d, y, h:mm'}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="robotName">
      <mat-header-cell *matHeaderCellDef>Name Of Robot System</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.robotName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="asset">
      <mat-header-cell *matHeaderCellDef>Asset</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.asset}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="integratorManufacturer">
      <mat-header-cell *matHeaderCellDef>Integration</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.integratorManufacturer}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectManager">
      <mat-header-cell *matHeaderCellDef>Project Manager</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.projectManager}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="buildingLocation">
      <mat-header-cell *matHeaderCellDef>Site</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.buildingLocation}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button color="primary" style=" background: green;" class="mat-flat-button mat-primary"
          (click)="editRobot(element.id)">
          Edit
        </button>
        <!-- <button type="button" color="primary" style=" background: red;" class="mat-flat-button mat-primary" (click)="delete(element.id)">
              Delete
            </button> -->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <button color="primary" style=" background: green;" class="mat-flat-button mat-primary" (click)="EditTask(element.id)">
            Edit
          </button> -->
        <button type="button" color="primary" style=" background: red;" (click)="DeleteRobot(element.id)"
          class="mat-flat-button mat-primary">
          Delete
          <!-- <mat-icon aria-hidden="false">delete_sweep</mat-icon> -->
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="info">
      <mat-header-cell *matHeaderCellDef>Info</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <button color="primary" style=" background: green;" class="mat-flat-button mat-primary" (click)="EditTask(element.id)">
            Edit
          </button> -->
        <button type="button" color="primary" style=" background: blue;" class="mat-flat-button mat-primary"
          (click)="EditRobotSystem(element.id)">
          Info
          <!-- <mat-icon aria-hidden="false">delete_sweep</mat-icon> -->
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="trackingTableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: trackingTableColumns;  let i = index;" style="min-height: 93px;"></mat-row>
    <mat-paginator [hidden]="!dataSource" [length]="100" [pageSize]="10" [pageSizeOptions]="[5,10,25,100]">
    </mat-paginator>

  </mat-table>
</mat-card>