<div class="auth-wrapper">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="margin-top: 20px;margin-right: 192px;margin-left: -45px;;">
      <div class="container">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="logo">
            <img src="../assets/img/logo1.png" style="width: 100px;margin-left: 20px;">
            <h4 style="color: white;margin-top: -46px;margin-left: 102px;">Robot Safety Center</h4>
          </div>
          
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-md-8" style="margin-top: 180px;">
        <div class="main3" style="margin-left: -74px;">
          <p
            style="margin-top: 25px;margin-bottom: 45px;display: inline-block;line-height: 26px;font-size: 18px;font-weight: 500;color:#ded9d9;">
            ROBOT SAFETY CENTER Offers online and or on site training <br> on how to use our
            Task Base Risk Assessment Software. </p>
          <ul
            style="padding: 0 0 0 15px;margin-bottom: 130px;font-size: 18px;color: white;">
            <li>Requires participation from all safety Team members</li>
            <li style="margin-top:20px">Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members
              and clients.</li>
            <li style="margin-top:20px">Focus on accurate,easy and fast data entry.</li>
            <li style="margin-top:20px">Anyone who can use a browser can use this <br> software-inclusion and ownership
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="login-form">
          <form autocomplete="off" #companyForm="ngForm" (ngSubmit)="save()">
            <i class="fa fa-building" aria-hidden="true" style="color: #fff;
        background: linear-gradient(45deg,#00a8ff 49%, #0097e6 50%);
        font-size: 55px;
        text-align: center;
        line-height: 80px;
        height: 65px;
        width: 65px;
        margin: 0 auto 15px;
        margin-left: 130px;
        margin-top: -13px; 
        border-radius: 25px;"></i>
            <h4 class="text-center" style="margin-bottom: 35px;font-weight: 700;text-transform: capitalize;">Company
              Details</h4>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="fa fa-building" style="color: #007bff;font-size:15px"></span>
                  </span>
                </div>
                <!-- <input type="" class="form-control" placeholder="Location Lat/Long"> -->
                <input type="text" class="form-control" name="companyName" placeholder="{{ 'CompanyName' | localize }}"
                  required maxlength="64" [(ngModel)]="model.companyName" #companyNameModel="ngModel" #nameEl />

              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker" aria-hidden="true" style="color: #007bff;font-size:15px;"></i>
                  </span>
                </div>
                <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                  name="address" [(ngModel)]="model.address" #addressModel="ngModel" #addressEl />
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-phone" style="color: #007bff;font-size:15px"></i>
                  </span>
                </div>

                <input class="form-control" type="text" appPhoneMask name="phoneno"
                  placeholder=" {{ 'Phone Numer' | localize }}" required maxlength="12" [(ngModel)]="model.phoneno"
                  #phonenoModel="ngModel" minlength="12" #phonenoEl />

              </div>
            </div>
            <!-- <div class="clearfix">
        <label class="float-left form-check-label"><input type="checkbox"> I Agree Terms and privacy policy</label>
       
    </div>  <br>    -->
            <div class="form-group">
              <!-- <button type="submit" class="btn btn-primary login-btn btn-block">Next</button> -->
              <button type="submit" class="btn btn-primary login-btn btn-block"
                [disabled]="!companyForm.form.valid || saving">
                {{ "Confirm" | localize }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
