/* GENERAL STYLES AND CLASSES 
--------------------------------------------------------------------- */
/* MAIN STYLES
--------------------------------------------------------------------- */


  /* side form */
  .side-form {
    position: absolute;
    z-index: 100;
    top: 10%;
    right: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
}


/* FOOTER STYLES
--------------------------------------------------------------------- */
footer {
text-align: center;
padding: 20px;
border-top: 1px solid #ddd;
}
