<div class="side-form">
  <form class="form-horizontal" autocomplete="off" #createSubTaskModal="ngForm"
    (ngSubmit)="save(createSubTaskModal.value)">

    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        {{ "Safeguard Name" }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="safeguardName" id="safeguardName" required maxlength="32"
          [(ngModel)]="safegaurddetails.safeguardName" #safeguardName="ngModel" />
      </div>
    </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type"   }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="safegaurddetails.msc" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" name="CSC" [(ngModel)]="safegaurddetails.csc">
            CSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="safegaurddetails.rsc" name="RSC">
            RSC
          </mat-checkbox>

        </div>
        <!-- <div>
        <mat-checkbox type="checkbox" [(ngModel)]="Default" name="Default">
          Default
        </mat-checkbox>
      </div> -->

      </div>
    </div>
    <br>

    <div class="button2" style="margin-top:20px">
      <a class="btn btn-default" (click)="close()">Cancel</a>

      <!-- <button type="button" routerLink="/" class="btn btn-primary"
        style="width: 100px; margin-left: 35%;">Cancel</button>&emsp;&emsp;&emsp; -->
      <button type="submit" class="btn btn-primary" style="width: 100px; margin-left: 20%;">Submit</button>
    </div>
  </form>
</div>