<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4>Verification by Task</h4><hr style="margin-top: 1px;">
      <mat-card style="border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
         <h3 style="font-size: 14px;color: darkred;font-style: italic;">Selected Task : Visitor / Unauthorized Personnel - Material Handling Exposure</h3>
      

      <div class="" style="font-size: 12px;font-style: italic;">
        <mat-checkbox ID="Approval" [name]="earlyArray[0].ID" [(ngModel)]="earlyArray[0].ischecked"
        (change)="onEarlyChange($event)" [checked]="earlyArray[0].ischecked">Verification requires re-assessing the values
        of SEVERITY, EXPOSURE and AVOIDANCE. Check the box and press Continue Verification button.</mat-checkbox>
        <br>
        <mat-checkbox ID="Decline" [name]="earlyArray[1].ID" [(ngModel)]="earlyArray[1].ischecked"
       (change)="onEarlyChange($event)" [checked]="earlyArray[1].ischecked">Denied</mat-checkbox>
       <br>
      </div>
      
      <div style="margin-top: 10px;">
        <input matInput autocomplete="off" type="text" class="form-control" [placeholder]="'comment'" name="Comments"
          [(ngModel)]="Comments" style="height: 60px;">
      </div>

      <div style="margin-top: 15px;">
        <button style="background: orange;font-size: 12px;" type="submit" class="btn btn-secondary"
        (click)="Verification()"> Continue Verification </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" (click)="back()" style="font-size: 12px;width: 75px;">Back</button>
      </div>

      <div>
      <table mat-table [dataSource]="dataSource" matSort>
         <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button color="primary" style="border:none;margin-top: 5px;margin-left: -15px;background-color: transparent;"
              (click)="EditTask(element.id)">
              <mat-icon style="color:green">edit</mat-icon>
            </button>
            <!-- <button type="button" color="primary" style=" background: red;" class="mat-flat-button mat-primary" (click)="delete(element.id)">
                Delete
              </button> -->
            </td>
        </ng-container>
    
       
        <ng-container matColumnDef="taskName">
          <th mat-header-cell *matHeaderCellDef>Task</th>
          <td mat-cell *matCellDef="let element"> {{element.taskName}}</td>
        </ng-container>
    
    
        <ng-container matColumnDef="subTaskName">
          <th mat-header-cell *matHeaderCellDef>Sub Task</th>
          <td mat-cell *matCellDef="let element">{{element.subTaskName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="hazardName">
          <th mat-header-cell *matHeaderCellDef>Hazards</th>
          <td mat-cell *matCellDef="let element">{{element.hazardName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="riskMatrix_s">
          <th mat-header-cell *matHeaderCellDef>S</th>
          <td mat-cell *matCellDef="let element">{{element.riskMatrix_s}} </td>
        </ng-container>

        <ng-container matColumnDef="riskMatrix_E">
          <th mat-header-cell *matHeaderCellDef>E</th>
          <td mat-cell *matCellDef="let element">{{element.riskMatrix_E}} </td>
        </ng-container>

        <ng-container matColumnDef="riskMatrix_A">
          <th mat-header-cell *matHeaderCellDef>A</th>
          <td mat-cell *matCellDef="let element">{{element.riskMatrix_A}} </td>
        </ng-container>

        <ng-container matColumnDef="riskMatrix_R">
          <th mat-header-cell *matHeaderCellDef>R</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.chkColor  }">
            {{element.riskMatrix_R}}</td>
        </ng-container>

        <ng-container matColumnDef="riskMatrix_PLLcAT">
          <th mat-header-cell *matHeaderCellDef>PL-Cat.</th>
          <td mat-cell *matCellDef="let element">{{element.riskMatrix_PLLcAT}} </td>
        </ng-container>

        <ng-container matColumnDef="safeguardsName">
          <th mat-header-cell *matHeaderCellDef>SafeGaurds</th>
          <td mat-cell *matCellDef="let element">{{element.safeguardsName}}</td>
        </ng-container>

        <ng-container matColumnDef="protectiveName">
          <th mat-header-cell *matHeaderCellDef>Protective Procedure</th>
          <td mat-cell *matCellDef="let element">{{element.protectiveName}}</td>
        </ng-container>

        <ng-container matColumnDef="Ss">
          <th mat-header-cell *matHeaderCellDef>S</th>
          <td mat-cell *matCellDef="let element"> </td>
        </ng-container>

        <ng-container matColumnDef="Ee">
          <th mat-header-cell *matHeaderCellDef>E</th>
          <td mat-cell *matCellDef="let element"> </td>
        </ng-container>

        <ng-container matColumnDef="Aa">
          <th mat-header-cell *matHeaderCellDef>A</th>
          <td mat-cell *matCellDef="let element"> </td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>Comments</th>
          <td mat-cell *matCellDef="let element">{{element.comment}}</td>
        </ng-container>

        <ng-container matColumnDef="verification">
          <th mat-header-cell *matHeaderCellDef> Verification</th>
          <td mat-cell *matCellDef="let element">{{element.verification}}</td>
        </ng-container>

        <ng-container matColumnDef="validation">
          <th mat-header-cell *matHeaderCellDef>Validation</th>
          <td mat-cell *matCellDef="let element">{{element.validation}}</td>
        </ng-container>

        <ng-container matColumnDef="documentPath">
          <th mat-header-cell *matHeaderCellDef>Document</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="DownLoad(element.documentPath)">
              <mat-icon class="material-icons edit">cloud_download</mat-icon>
            </button>
         </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="trackingTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: trackingTableColumns;  let i = index;" style="min-height: 93px;"></tr>
      </table>
    </div>

      </mat-card>
    </div>
  </div>
</div>







<!-- 
<mat-card style=" margin-left: 58px;margin-top: 42px;margin-right: 48px;">
  <div style="background: antiquewhite;">
    <hr>
    <h2 style=" margin-left: 460px;">Verification by Task</h2>
    <hr>

  </div>
  <br>

  <h3>Selected Task : {{RobotAssismenTask}}</h3>
  <br>

  <mat-checkbox ID="Approval" [name]="earlyArray[0].ID" [(ngModel)]="earlyArray[0].ischecked"
    (change)="onEarlyChange($event)" [checked]="earlyArray[0].ischecked">Verification requires re-assessing the values
    of SEVERITY, EXPOSURE and
    AVOIDANCE. Check the box and press Continue Verification button.</mat-checkbox>
  <br>
  <mat-checkbox ID="Decline" [name]="earlyArray[1].ID" [(ngModel)]="earlyArray[1].ischecked"
    (change)="onEarlyChange($event)" [checked]="earlyArray[1].ischecked">Denied</mat-checkbox>
  <br>

  <div>
    <input matInput autocomplete="off" type="text" class="form-control" [placeholder]="'comment'" name="Comments"
      [(ngModel)]="Comments">
  </div>
 
 

  <button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
    class="mat-flat-button mat-primary" (click)="Verification()"> Continue Verification </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="mat-flat-button mat-accent" style="margin-right: 10px;" (click)="back()">Back</button>

  <br>
  <br>

<div style="color: red;margin-left: 24%;"><h6>Review following result set and perform verification task.</h6></div>
  

  <br>
  <br> -->


  <!-- <mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="Edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button color="primary" style=" background: green;" class="mat-flat-button mat-primary"
          (click)="EditTask(element.id)">
          Edit
        </button> -->
        <!-- <button type="button" color="primary" style=" background: red;" class="mat-flat-button mat-primary" (click)="delete(element.id)">
            Delete
          </button> -->
      <!-- </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="taskName">
      <mat-header-cell *matHeaderCellDef>Task</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.taskName}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="subTaskName">
      <mat-header-cell *matHeaderCellDef>Sub Task</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.subTaskName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hazardName">
      <mat-header-cell *matHeaderCellDef>Hazards</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.hazardName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="riskMatrix_s">
      <mat-header-cell *matHeaderCellDef>S</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.riskMatrix_s}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="riskMatrix_E">
      <mat-header-cell *matHeaderCellDef>E</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.riskMatrix_E}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="riskMatrix_A">
      <mat-header-cell *matHeaderCellDef>A</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.riskMatrix_A}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="riskMatrix_R">
      <mat-header-cell *matHeaderCellDef>R</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.chkColor  }">
        {{element.riskMatrix_R}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="riskMatrix_PLLcAT">
      <mat-header-cell *matHeaderCellDef>Pl-Cat.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.riskMatrix_PLLcAT}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="safeguardsName">
      <mat-header-cell *matHeaderCellDef>SafeGaurds</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.safeguardsName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="protectiveName">
      <mat-header-cell *matHeaderCellDef>Protective Procedure</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.protectiveName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Ss">
      <mat-header-cell *matHeaderCellDef>S</mat-header-cell>
      <mat-cell *matCellDef="let element"> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Ee">
      <mat-header-cell *matHeaderCellDef>E</mat-header-cell>
      <mat-cell *matCellDef="let element"> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Aa">
      <mat-header-cell *matHeaderCellDef>A</mat-header-cell>
      <mat-cell *matCellDef="let element"> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.comment}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="verification">
      <mat-header-cell *matHeaderCellDef> Verification</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.verification}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="validation">
      <mat-header-cell *matHeaderCellDef>Validation</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.validation}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="documentPath">
      <mat-header-cell *matHeaderCellDef>Document</mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button mat-icon-button (click)="DownLoad(element.documentPath)">
          <mat-icon class="material-icons edit">cloud_download</mat-icon>
      </button>
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="trackingTableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: trackingTableColumns;  let i = index;" style="min-height: 93px;"></mat-row>
  </mat-table> -->
<!-- </mat-card> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
  h4{
  color: darkred;font-style: italic;font-size: 12px;font-weight: 600;
}
thead{
    font-size: 12px;
   }
   table tr{
    height: 35px;
   }
   table th{
       color: darkred;
   }
   table{
    border-top: 2px solid #928787;
   }
   .material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
   }
   .mat-table{
          background-color: rgba(255, 255, 255, 0.959);
          height : auto;
          overflow: auto;   
          width: 100%;
          margin-left: 2px;
          margin-top: 15px;

      }
      .mat-header-cell, .mat-cell {
        color: rgb(29 28 28);
        font-size: 12px;
        border: 1px solid #dee2e6;
      }
      /* .mat-cell{

      } */
      .mat-form-field-underline{
          background-color:transparent;
      }
      
      .mat-form-field-flex{
          font-size: 14px;
          line-height: 1em;
          color: #555;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-top: 8px;
          padding: 2px;
      }
      .mat-form-field-wrapper{
          padding-bottom: 1.25em;
          padding-top: 1.25em;
      }
      .mat-form-field-infix{
          border:0px;
      }
      .mat-paginator{
          background-color: white;
      }
      .mat-header-row{
        background-color: #c8c4bf;
        min-height: 35px;
        align-items: unset;
        border-bottom-width: 0px;
        /* border-top: 3px solid #FF9800;
        border-radius: 5px; */
      }
</style>