<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
</div>

<div class="container content">
	<div class="row">
		<div class="col-md-4" style="margin-left: 350px;margin-top: 25px;">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Robot System</h3>

				</div>
				<ul class="pricing-content list-unstyled">
					<li (click)="addrobot()">
						Add Robot System
					</li>
					<li >
						Add Power and Force Limited System
					</li>
					<li (click)="updaterobot()">
						Update Robot System
					</li>
					<li>
						Reset Verification/Validation
					</li>
					<li>
						Replicate
					</li>
					<li>
					Documents
					</li>
					<li>
						Share
					</li>
					<li>
					Unshare
					</li>
					<li>
						Shared Systems
					</li>

				</ul>
			</div>
		</div>
		 
	</div>
</div>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>