

<div class="auth-wrapper">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="margin-top: 20px;margin-right: 192px;margin-left: -185px;">
        <div class="container">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <div class="logo">
              <img src="../assets/img/logo1.png">
              <h4 style="color: white;margin-top: -56px;margin-left: 120px;">Robot Safety Center</h4>
            </div>
            <!-- <span>
              <img src="../assets/img/logo1.png" style="width: 100px;">
              <a class="navbar-brand" routerlinkactive="active" href="" style="margin-left: -18px;font-style: italic;">Robot Safety
                Center</a>
            </span> -->
          </div>
        </div>
      </nav>
  
   <div class="row">
     <!-- <div class="col-md-8" style="margin-top: 180px;">
     
    </div> -->
     <div class="col-md-4">
      <div class="login-form">
        <form #forgotPassForm="ngForm" novalidate (ngSubmit)="save(forgotPassForm.value)">
          <i class="fa fa-key" aria-hidden="true" style="color: #fff;
          background: linear-gradient(45deg,#00a8ff 49%, #0097e6 50%);
          font-size: 55px;
          text-align: center;
          line-height: 80px;
          height: 80px;
          width: 80px;
          margin: 0 auto 15px;
          margin-left: 130px;
          /* margin-top: -13px; */
          border-radius: 25px;"></i>
        <h4 class="text-center" style="margin-bottom: 35px;font-weight: 700;text-transform: capitalize;">Forget Password</h4>
       
     <div class="form-group">
          <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-envelope " style="color: #007bff;"></span>
                    </span>                    
                </div>
                <input type="text" class="form-control" #email="ngModel" [(ngModel)]="model.emailAddress"
                 autocomplete="off" placeholder="Enter Registered Email Address"
                name="emailAddress" required maxlength="256"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
         
            </div>
        </div>
  
       <!-- <div class="form-group">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fa fa-key"  style="color: #007bff;"></i>
                  </span>                    
              </div>
               <input class="form-control" type="text" appPhoneMask name="phoneno" placeholder=" {{ 'Confirmpassword' | localize }}" required
              maxlength="10"   />
            
          </div>
      </div>  -->
        <!-- <div class="clearfix">
          <label class="float-left form-check-label"><input type="checkbox"> I Agree Terms and privacy policy</label>
         
      </div>  <br>    -->
        <div class="form-group">
            <!-- <button type="submit" class="btn btn-primary login-btn btn-block">Next</button> -->
            <button type="submit" class="btn btn-primary login-btn btn-block" >
              {{ "Confirm" | localize }}
            </button>
        </div>

        <!-- <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Submit</button>
        </div>
        <p class="text-center"><a [routerLink]="['/account/login']" class="f-w-400">Back</a></p>
   -->
       
       
    </form>
    </div>
     </div>
   </div>
  </div>
  </div>
  













