
<!-- <form class="form-horizontal" autocomplete="off" #createSubTaskModal="ngForm" (ngSubmit)="save(createSubTaskModal.value)">

  <abp-modal-header (onCancelClick)="bsModalRef.hide()" [title]="'Create New SubTask'  "></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        {{ "SubTask Name" }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="subtaskName" id="subtaskName" required maxlength="32"
        [(ngModel)]="subtaskdetails.subtaskName" #subtaskNameModel="ngModel" />
      </div>
    </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type" }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="MSC" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox  type="checkbox" name="CSC" [(ngModel)]="CSC">
            CSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="RSC" name="RSC">
            RSC
          </mat-checkbox>

        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="Default" name="Default">
            Default
          </mat-checkbox>
        </div>
      </div>
    </div>

  </div>
  <abp-modal-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form> -->

<div class="side-form">
  <form class="form-example" autocomplete="off" (ngSubmit)="save(createSubTaskModal.value)" #createSubTaskModal="ngForm">
    <div class="form-group" style="margin-top: 20px;">
      <label for="username">SubTask Name</label>
      <input type="text" class="form-control" name="subtaskName" id="subtaskName" required maxlength="32"
        [(ngModel)]="subtaskdetails.subtaskName" #taskNameModel="ngModel" />
    </div><br>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type" }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="MSC" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" name="CSC" [(ngModel)]="CSC">
            CSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="RSC" name="RSC">
            RSC
          </mat-checkbox>

        </div>
        <!-- <div>
        <mat-checkbox type="checkbox" [(ngModel)]="Default" name="Default">
          Default
        </mat-checkbox>
      </div> -->

      </div>
    </div>
    <br>

    <div class="button2" style="margin-top:20px">
      <a class="btn btn-default" (click)="close()">Cancel</a>

      <!-- <button type="button" routerLink="/" class="btn btn-primary"
        style="width: 100px; margin-left: 35%;">Cancel</button>&emsp;&emsp;&emsp; -->
      <button type="submit" class="btn btn-primary" style="width: 100px; margin-left: 20%;">Submit</button>
    </div>
  </form>
</div>