<!-- <div class="first"> -->
<div class="container-fluid">
  <div class="row">
   <div class="col-md-6">
    <h4 style="color: darkred;font-style: italic;font-size: 13px;font-weight: 600;">Update Task Based Risk Assessment(TBRA) </h4><hr style="margin-top: 1px;">
    <mat-card style="margin-bottom:20px;height: 725px;border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
    <form #TaskRiskAssessment="ngForm" class="form-horizontal" autocomplete="false" novalidate>
        
          
       <div class="col-md-12">
         <div class="row">
         <div class="col-md-6">
          <mat-label style="font-size: 12px;font-weight: bold;">Task</mat-label>
         </div>
         <div class="col-md-6">
          <button (click)="createtask()" class="btn btn-secondary" style="font-size: 11px;float: right;">Add Task</button>
         </div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <mat-select matInput type="text" autocomplete="off" name="taskD" class="form-control" [(ngModel)]="taskD"
            (selectionChange)="onTaskSelection($event.value)" style="font-size: 12px;border-radius: 8px;border-color: #928f8f;" [placeholder]="'Select Some Option'" required>
            <mat-form-field class="col-md-12">
              <input matInput type="text" autocomplete="off" (keyup)="applyFilter($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let tasktemp of taskData" [value]="tasktemp.id">
              {{tasktemp.taskName}}
            </mat-option>
          </mat-select>
        </div>
       </div><br>

       <div class="col-md-12" style="margin-top:20px">
         <div class="row">
           <div class="col-md-6">
            <mat-label style="font-size: 12px;font-weight: bold;">Sub Task</mat-label>
           </div>
           <div class="col-md-6">
            <button (click)="createsubtask()" class="btn btn-secondary" style="font-size: 11px;float: right;">Add SubTask</button>
           </div>
         </div>
         <div class="row" style="margin-top: 5px;">
          <mat-select matInput type="text" autocomplete="off" name="subtaskD" class="form-control"
          [(ngModel)]="subtaskD" (selectionChange)="onsubTaskSelection($event.value)" style="font-size: 12px;border-radius: 8px;    border-color: #928f8f;"
          [placeholder]="'Select Some Option'" required multiple>
          <mat-form-field class="col-md-12">
            <input matInput type="text" autocomplete="off" (keyup)="applyFiltersubtask($event.target.value)"
              placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let subtasktemp of subtaskData" [value]="subtasktemp.subtaskName">
            {{subtasktemp.subtaskName}}
          </mat-option>
        </mat-select>
         </div>
       </div><br>

       <div class="col-md-12" style="margin-top:20px">
        <div class="row">
          <div class="col-md-6">
           <mat-label style="font-size: 12px;font-weight: bold;">Hazards</mat-label>
          </div>
          <div class="col-md-6">
            <button (click)="createHazard()" class="btn btn-secondary" style="font-size: 11px;float: right;" >Add Hazard</button>
          </div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <mat-select matInput type="text" autocomplete="off" name="hazardD" class="form-control" [(ngModel)]="hazardD"
            (selectionChange)="onHazardSelection($event.value)" style="font-size: 12px;border-radius: 8px;border-color: #928f8f;" [placeholder]="'Select Some Option'" required multiple>
            <mat-form-field class="col-md-12">
              <input matInput type="text" autocomplete="off" (keyup)="applyFilterhazard($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let hazardtemp of HazardData" [value]="hazardtemp.hazName">
              {{hazardtemp.hazName}}
            </mat-option>
          </mat-select>
        </div>
      </div><br>

      <div class="col-md-12" style="margin-top:20px">
        <div class="row">
          <div class="col-md-6">
           <mat-label style="font-size: 12px;font-weight: bold;">Select Safeguards</mat-label>
          </div>
          <div class="col-md-6">
            <button (click)="createsafegaurd()" class="btn btn-secondary" style="font-size: 11px;float: right;">Add Safeguards</button>
          </div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <mat-select matInput type="text" autocomplete="off" name="safegaurdD" class="form-control"
          [(ngModel)]="safegaurdD" (selectionChange)="onsafegaurdSelection($event.value)"
          [placeholder]="'Select Some Option'" style="font-size: 12px;border-radius: 8px;border-color: #928f8f;" required multiple>
          <mat-form-field class="col-md-12">
            <input matInput type="text" autocomplete="off" (keyup)="applyFiltersafe($event.target.value)"
              placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let safegaurdtemp of safegaurdData" [value]="safegaurdtemp.safeguardName">
            {{safegaurdtemp.safeguardName}}
          </mat-option>
        </mat-select>
        </div>
      </div><br>

      <div class="col-md-12" style="margin-top:20px">
        <div class="row">
          <div class="col-md-6">
           <mat-label style="font-size: 12px;font-weight: bold;">Protective Measures</mat-label>
          </div>
          <div class="col-md-6">
            <button (click)="createProtectivemeasure()" class="btn btn-secondary" style="font-size: 11px;float: right;">Add Complementary Protective</button>
          </div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <mat-select matInput type="text" autocomplete="off" name="ProtectiveD" class="form-control"
            [(ngModel)]="ProtectiveD" (selectionChange)="onProtectiveSelection($event.value)" style="font-size: 12px;border-radius: 8px;border-color: #928f8f;"
            [placeholder]="'Select Some Option'" required multiple>
            <mat-form-field class="col-md-12">
              <input matInput type="text" autocomplete="off" (keyup)="applyFilterprotective($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let Protectivttemp of Protective" [value]="Protectivttemp.protectiveName">
              {{Protectivttemp.protectiveName}}
            </mat-option>
          </mat-select>
        </div>
      </div><br>

      <div class="col-md-12" style="margin-top:20px">
        <div class="row">
          <mat-label style="font-size: 12px;font-weight: bold;">Comments</mat-label>
        </div>
        <div class="row">
         <input autocomplete="off" type="text" class="form-control" [placeholder]="' '" name="Comments"
            [(ngModel)]="Comments" style="height:50px;border-color: #928f8f;">
         </div>
      </div><br>

      <div class="col-md-12" style="margin-top:20px">
        <div class="row">
          <button style="font-size: 12px;font-weight: bold;" (click)="uploaddcoument()">Upload Document</button>
        </div>
        <!-- <div class="row">
          <input type="file" id="fileName" name="fileName"  [(ngModel)]="fileName" style="margin-top: 5px;"
            (change)="detectFile($event)" multiple />
        </div> -->
      </div><br>

      <div class="col-md-12" style="margin-top:20px">
       <button color="primary"  type="submit"
          [disabled]="(!TaskRiskAssessment.valid )" (click)="save(TaskRiskAssessment.value,TaskAssimentId); "
           *ngIf="!updateflag"  class="btn btn-secondary" style="width: 130px;
           font-size: 12px;
           background-color: #FF9800;
           border: #FF9800;
           margin-left: -28px;;">Save </button>&nbsp;&nbsp;&nbsp;
       
       
        <button color="primary"  type="submit"  class="btn btn-secondary" style="margin-left: -28px;"
      [disabled]="(!TaskRiskAssessment.valid )" (click)="save(TaskRiskAssessment.value,TaskAssimentId); "
      (click)="Update(TaskAssimentId)"  *ngIf="updateflag">update </button>&nbsp;&nbsp;&nbsp;
       
     <button color="primary"  class="btn btn-secondary"
       (click)="BacktoRsikmatrix()" style="width: 130px;font-size:12px">Cancel</button>
      </div>
    
  </form>
</mat-card>
    </div>


    <div class="col-md-6">
      <h4 style="color: darkred;font-style: italic;font-size: 13px;font-weight: 600;">Risk Level Matrix</h4><hr style="margin-top: 1px;">
      <mat-card style="border: 1px solid #d8cfcf;height: 725px;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
      <div>
      <table border=0 cellpadding=0 cellspacing=0  style='border-collapse:
      collapse;table-layout:fixed;'>
        <col width=102 style='mso-width-source:userset;mso-width-alt:3730;width:77pt'>
        <col width=100 style='mso-width-source:userset;mso-width-alt:3657;width:75pt'>
        <col width=171 style='mso-width-source:userset;mso-width-alt:6253;width:128pt'>
        <col width=53 style='mso-width-source:userset;mso-width-alt:1938;width:40pt'>
        <col width=94 style='mso-width-source:userset;mso-width-alt:3437;width:71pt'>
        <col width=40 style='mso-width-source:userset;mso-width-alt:1462;width:30pt'>
        <col width=60 style='mso-width-source:userset;mso-width-alt:2194;width:45pt'>
        <tr height=53 style='mso-height-source:userset;height:40.15pt'>
          <td height=53 class=xl9119120 width=102 style='height:40.15pt;width:77pt'>Severity
            of Injury</td>
          <td class=xl7819120 width=100 style='width:75pt'>Exposure to the Hazard</td>
          <td class=xl6619120 width=171 style='width:128pt'>Avoidance of the hazard</td>
          <td class=xl6619120 width=53 style='border-left:none;width:40pt'>
          </td>
          <td rowspan=2 class=xl11919120 width=94 style='border-bottom:1.0pt solid black;
       width:71pt'>Risk Level</td>
          <td colspan=2 class=xl13019120 width=100 style='border-right:1.0pt solid black;
       border-left:none;width:75pt'>Minimum SRP/CS requirements</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl6719120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
          <td class=xl8019120 width=100 style='width:75pt'>&nbsp;</td>
          <td class=xl6719120 width=171 style='width:128pt'>&nbsp;</td>
          <td class=xl6719120 width=53 style='border-left:none;width:40pt'>&nbsp;</td>
          <td class=xl9319120 style='border-left:none'>PL</td>
          <td class=xl9419120>CAT</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8119120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
          <td class=xl6519120 width=100 style='width:75pt'></td>
          <td class=xl7919120 width=171 style='width:128pt'></td>
          <td class=xl7919120 width=53 style='width:40pt'></td>
          <td rowspan=5 class=xl12119120 style='border-bottom:1.0pt solid black;
       border-top:none'>NEGLIGIBLE</td>
          <td class=xl9519120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl9519120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8119120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
          <td class=xl8219120>E0 - Prevented</td>

          <td class=xl8319120> </td>
          <td class="xl13419120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
           
            <mat-checkbox ID="CheckBox0" [name]="RiskMatrixArray[0].ID" [(ngModel)]="RiskMatrixArray[0].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[0].ischecked"> </mat-checkbox>
          </td>
       
          <td class=xl9619120 style='border-left:none'>&nbsp;</td>
          <td class=xl9819120 style='border-left:none'>&nbsp;</td>

        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8119120 width=102 style='height:14.25pt;width:77pt'>&nbsp;</td>
          <td class=xl6819120>&nbsp;</td>
          <td class=xl6919120 width=171 style="border-right:0pt">&nbsp;</td>
          <td class=xl13219120 width=53 style='width:40pt'>

          </td>
          <td class=xl9819120 style='border-left:none'>b</td>
          <td class=xl9819120 style='border-left:none'>-</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl7119120>A1 - Likely</td>
          <td class="xl13319120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
          
            <mat-checkbox ID="CheckBox1" [name]="RiskMatrixArray[1].ID" [(ngModel)]="RiskMatrixArray[1].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[1].ischecked"> </mat-checkbox>
          </td>
          <td class=xl9619120 style='border-left:none'>&nbsp;</td>
          <td class=xl9619120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8519120 style='height:13.5pt'>S1 - Minor</td>
          <td class=xl7219120>E1 - Low</td>
          <td class=xl8619120></td>
          <td class=xl8619120></td>
          <td class=xl9719120 style='border-left:none'>&nbsp;</td>
          <td class=xl9719120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl7319120>A2/A3 - Not likely/possible</td>
          <td class="xl13319120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            
            <mat-checkbox ID="CheckBox2" [name]="RiskMatrixArray[2].ID" [(ngModel)]="RiskMatrixArray[2].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[2].ischecked"> </mat-checkbox>
          </td>
          <td rowspan=5 class=xl12419120 style='border-bottom:1.0pt solid black;
       border-top:none'>LOW</td>
          <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl9919120 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7319120>E2 - High</td>
          <td class=xl7419120>&nbsp;</td>
          <td class="xl13519120"
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            
            <mat-checkbox ID="CheckBox3" [name]="RiskMatrixArray[3].ID" [(ngModel)]="RiskMatrixArray[3].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[3].ischecked"> </mat-checkbox>
          </td>
          <td class=xl10319120 style='border-left:none' height="28">&nbsp;</td>
          <td class=xl10019120>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
         
          <td class=xl13619120></td>
          <td style='border-left:none'> </td>
          <td class=xl13619120> </td>
          <td class=xl110191122 style='border-left:none;font-weight: 600;'>c </td>
          <td class=xl110191122 style='border-left:none;font-weight: 600;'> 2</td>

        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7119120>E0 - Prevented</td>
          <td class=xl7519120 style='border-right:none'>&nbsp;</td>
          <td class=xl13519120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
           
            <mat-checkbox ID="CheckBox4" [name]="RiskMatrixArray[4].ID" [(ngModel)]="RiskMatrixArray[4].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[4].ischecked"> </mat-checkbox>
          </td>
          <td class=xl10319120 style='border-left:none'>&nbsp;</td>
          <td class=xl10019120>&nbsp;</td>


        </tr>
        <tr height=33 style='height:24.75pt'>
          <td height=33 class=xl8419120 style='height:24.75pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl10419120>&nbsp;</td>
          <td class=xl10119120>&nbsp;</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7319120>E1 - Low</td>
          <td class=xl7519120 style='border-right:none'>&nbsp;</td>
          <td class=xl14519120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            
            <mat-checkbox ID="CheckBox5" [name]="RiskMatrixArray[5].ID" [(ngModel)]="RiskMatrixArray[5].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[5].ischecked"> </mat-checkbox>
          </td>
          <td rowspan=4 class=xl14619120 style='border-bottom:1.0pt solid black;
       border-top:none'>MEDIUM</td>
          <td class=xl10719120 style='border-top:none'>&nbsp;</td>
          <td class=xl10719120 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8719120 style='height:14.25pt'>S2 - Moderate</td>
          <td class=xl8819120></td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl10819120>&nbsp;</td>
          <td class=xl10819120>&nbsp;</td>
        </tr>
        <tr height=35 style='height:26.25pt'>
          <td height=35 class=xl8419120 style='height:26.25pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl8219120>A1 - Likely</td>
          <td class=xl13719120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            
            <mat-checkbox ID="CheckBox6" [name]="RiskMatrixArray[6].ID" [(ngModel)]="RiskMatrixArray[6].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[6].ischecked"> </mat-checkbox>
          </td>
          <td class=xl11019120>d</td>
          <td class=xl11019120>2</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl7319120>E2 - High</td>
          <td class=xl7619120 style='border-right:none'>&nbsp;</td>
          <td class=xl8619120></td>
          <td class=xl10919120>&nbsp;</td>
          <td class=xl10919120>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl7719120 style='border-right:none'>A2/A3 -<font class="font619120"> Not likely/possible</font>
          </td>
          <td class=xl13719120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            
            <mat-checkbox ID="CheckBox7" [name]="RiskMatrixArray[7].ID" [(ngModel)]="RiskMatrixArray[7].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[7].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=2 class=xl14219120
            style='border-bottom:1.0pt solid black;
       border-top:none; vertical-align: bottom; border-top-style: none; border-bottom-style: solid; border-left-style: solid; border-top-width: medium; border-bottom-width: 1.0pt; border-left-width: 1.0px; border-top-color: inherit; border-bottom-color: black; border-left-color: #000000;'>
            HIGH</td>
          <td class=xl13819120 style='border-top:none'>&nbsp;</td>
          <td class=xl11119120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl15019120>fd</td>
          <td class=xl11319120 style='border-left:none'>3</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7119120>E0 - Prevented</td>
          <td class=xl7419120>&nbsp;</td>
          <td class=xl13519120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
           

            <mat-checkbox ID="CheckBox8" [name]="RiskMatrixArray[8].ID" [(ngModel)]="RiskMatrixArray[8].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[8].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=2 class=xl15119120 width=94 style='border-bottom:1.0pt solid black;
       width:71pt'>LOW</td>
          <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>

        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>


          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl11419120 style='border-left:none'>c</td>
          <td class=xl11419120 style='border-left:none'>2</td>
        </tr>
        <tr height=35 style='height:26.25pt'>
          <td height=35 class=xl8419120 style='height:26.25pt'>&nbsp;</td>
          <td class=xl7319120>E1 - Low</td>
          <td class=xl7419120>&nbsp;</td>
          <td class=xl14919120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            
            <mat-checkbox ID="CheckBox9" [name]="RiskMatrixArray[9].ID" [(ngModel)]="RiskMatrixArray[9].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[9].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=4 class=xl14219120
            style='border-bottom:1.0pt solid black;
       border-top:none; border-top-style: none; border-bottom-style: solid; border-left-style: solid; border-top-width: medium; border-bottom-width: 1.0pt; border-left-width: 1.0px; border-top-color: inherit; border-bottom-color: black; border-left-color: #000000;'>
            HIGH</td>
          <td class=xl13819120 style='border-top:none' height="50">&nbsp;</td>
          <td class=xl11119120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl9219120 style='height:14.25pt'>S3 - Serious</td>
          <td class=xl8819120></td>
          <td class=xl8319120></td>
          <td class=xl13619120></td>
          <td class=xl13919120>d</td>
          <td class=xl11619120 style='border-left:none'>3</td>
        </tr>
        <tr height=18 style='height:13.5pt'>
          <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
          <td class=xl7019120>&nbsp;</td>
          <td class=xl8219120>A1/A2 - Likely/Not likely</td>
          <td class=xl13719120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
           
            <mat-checkbox ID="CheckBox10" [name]="RiskMatrixArray[10].ID" [(ngModel)]="RiskMatrixArray[10].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[10].ischecked"> </mat-checkbox>

          </td>
          <td class=xl14019120>&nbsp;</td>
          <td class=xl11519120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=33 style='height:24.75pt'>
          <td height=33 class=xl8419120 style='height:24.75pt'>&nbsp;</td>
          <td class=xl7319120>E2 - High</td>
          <td class=xl7619120 style="border-right:0pt">&nbsp;</td>
          <td class=xl8619120></td>
          <td class=xl14119120>&nbsp;</td>
          <td class=xl11219120 style='border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl8319120></td>
          <td class=xl7719120 style="border-right:0pt">A3 - Not possible</td>
          <td class=xl13319120
            style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            <mat-checkbox ID="CheckBox11" [name]="RiskMatrixArray[11].ID" [(ngModel)]="RiskMatrixArray[11].ischecked"
              (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[11].ischecked"> </mat-checkbox>

          </td>
          <td rowspan=2 class=xl12819120 style='border-bottom:1.0pt solid black;
       border-top:none'>VERY HIGH</td>
          <td class=xl11719120 style='border-top:none;border-left:none'>&nbsp;</td>
          <td class=xl11719120 style='border-top:none;border-left:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
          <td height=19 class=xl8919120 style='height:14.25pt'>&nbsp;</td>
          <td class=xl9019120>&nbsp;</td>

          <td class=xl9019120>&nbsp; </td>
          <td class=xl9019120>&nbsp;

          </td>
          <td class=xl11819120 style='border-left:none'>e</td>
          <td class=xl11819120 style='border-left:none'>4</td>
        </tr>
     
      </table>
    </div> 
      <br>
      <br>
    </mat-card>
    </div>
  </div>
</div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- </div> -->


<!-- <div class="row" style="width: 100%;">
  <h3 style="margin-left: 20px;"> New Task Based Risk Assessment (TBRA)</h3>
  
  <br>
  <br>
  <br>
  <br>
  <form #TaskRiskAssessment="ngForm" class="form-horizontal" autocomplete="false" novalidate>
    <div class="row">
      <div class="row" class="col-md-6">
        <div class="col-md-12">
          &nbsp;&nbsp;&nbsp;&nbsp;<b class="thick">Task: &nbsp;</b> &nbsp;&nbsp;
          <button color="primary" style=" background: orange;margin-left: 74%;"  (click)="createtask()"
            class="mat-flat-button mat-primary">Add Task</button>
          <mat-select matInput type="text" autocomplete="off" name="taskD" class="form-control" [(ngModel)]="taskD"
            (selectionChange)="onTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
            <mat-form-field class="col-md-10">
              <input matInput type="text" autocomplete="off" (keyup)="applyFilter($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let tasktemp of taskData" [value]="tasktemp.id">
              {{tasktemp.taskName}}
            </mat-option>
          </mat-select>

        </div>

        <div class="col-md-12">
          &nbsp;&nbsp;&nbsp;&nbsp; <b class="thick"> SubTask: &nbsp;</b>
          <button color="primary" style=" background: orange; margin-left: 68%;  " (click)="createsubtask()"
            class="mat-flat-button mat-primary">Add SubTask</button>
          <mat-select matInput type="text" autocomplete="off" name="subtaskD" class="form-control"
            [(ngModel)]="subtaskD" (selectionChange)="onsubTaskSelection($event.value)"
            [placeholder]="'Select Some Option'" required multiple>
            <mat-form-field class="col-md-10">
              <input matInput type="text" autocomplete="off" (keyup)="applyFiltersubtask($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let subtasktemp of subtaskData" [value]="subtasktemp.subtaskName">
              {{subtasktemp.subtaskName}}
            </mat-option>
          </mat-select>
        </div>

        <div class="col-md-12">
          &nbsp;&nbsp;&nbsp;&nbsp; <b class="thick"> Hazards: &nbsp;</b>
          <button color="primary" style=" background: orange;margin-left: 84%;" (click)="createHazard()"
            class="mat-flat-button mat-primary">Add Hazard</button>
          <mat-select matInput type="text" autocomplete="off" name="hazardD" class="form-control" [(ngModel)]="hazardD"
            (selectionChange)="onHazardSelection($event.value)" [placeholder]="'Select Some Option'" required multiple>
            <mat-form-field class="col-md-10">
              <input matInput type="text" autocomplete="off" (keyup)="applyFilterhazard($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let hazardtemp of HazardData" [value]="hazardtemp.hazName">
              {{hazardtemp.hazName}}
            </mat-option>
          </mat-select>
        </div>

        <div class="col-md-12">
          &nbsp;&nbsp;&nbsp;&nbsp; <b class="thick"> Select Safeguards: &nbsp;</b>
          <button color="primary" style=" background: orange;margin-left: 80%;" (click)="createsafegaurd()"
            class="mat-flat-button mat-primary">Add Safeguards</button>
          <mat-select matInput type="text" autocomplete="off" name="safegaurdD" class="form-control"
            [(ngModel)]="safegaurdD" (selectionChange)="onsafegaurdSelection($event.value)"
            [placeholder]="'Select Some Option'" required multiple>
            <mat-form-field class="col-md-10">
              <input matInput type="text" autocomplete="off" (keyup)="applyFiltersafe($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let safegaurdtemp of safegaurdData" [value]="safegaurdtemp.safeguardName">
              {{safegaurdtemp.safeguardName}}
            </mat-option>
          </mat-select>
        </div>

        <div class="col-md-12">
          &nbsp;&nbsp;&nbsp;&nbsp; <b class="thick"> Complementary Protective Measures&nbsp;</b>
          <button color="primary" style=" background: orange;margin-left: 66%; " (click)="createProtectivemeasure()"
            class="mat-flat-button mat-primary">Add Complementary Protective</button>
          <mat-select matInput type="text" autocomplete="off" name="ProtectiveD" class="form-control"
            [(ngModel)]="ProtectiveD" (selectionChange)="onProtectiveSelection($event.value)"
            [placeholder]="'Select Some Option'" required multiple>
            <mat-form-field class="col-md-10">
              <input matInput type="text" autocomplete="off" (keyup)="applyFilterprotective($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let Protectivttemp of Protective" [value]="Protectivttemp.protectiveName">
              {{Protectivttemp.protectiveName}}
            </mat-option>
          </mat-select>
        </div>

        <div class="col-md-12">
          &nbsp;&nbsp;&nbsp;&nbsp; <b class="thick">Comments&nbsp;</b>
          <input matInput autocomplete="off" type="text" class="form-control"   name="Comments"
            [(ngModel)]="Comments">
        </div>

        <div class="col-md-12">
          &nbsp;&nbsp;&nbsp;&nbsp; <b class="thick">Upload Document&nbsp;</b>
          <br>
          <input type="file" id="fileName" name="fileName" style="margin-left: 4%;" [(ngModel)]="fileName"
            (change)="detectFile($event)" multiple />
        </div>

        <br>

      </div>
      <div class="row" class="col-md-6">
        <div class="col-md-12">
          <b class="thick" style=" color: darkred"> Risk Level Matrix&nbsp;</b>
        </div>
        <div class="col-md-12">
          <span style=" color: red">Instruction: Use checkbox to designate Risk level.</span>
        </div>
        <div class="col-md-12">
          <span style=" color: red">Note: RIA TR R15.306-2016 final.</span>
        </div>
        <br>

        <table border=0 cellpadding=0 cellspacing=0 width=620 style='border-collapse:
        collapse;table-layout:fixed;width:570pt; '>
          <col width=102 style='mso-width-source:userset;mso-width-alt:3730;width:77pt'>
          <col width=100 style='mso-width-source:userset;mso-width-alt:3657;width:75pt'>
          <col width=171 style='mso-width-source:userset;mso-width-alt:6253;width:128pt'>
          <col width=53 style='mso-width-source:userset;mso-width-alt:1938;width:40pt'>
          <col width=94 style='mso-width-source:userset;mso-width-alt:3437;width:71pt'>
          <col width=40 style='mso-width-source:userset;mso-width-alt:1462;width:30pt'>
          <col width=60 style='mso-width-source:userset;mso-width-alt:2194;width:45pt'>
          <tr height=53 style='mso-height-source:userset;height:40.15pt'>
            <td height=53 class=xl9119120 width=102 style='height:40.15pt;width:77pt'>Severity
              of Injury</td>
            <td class=xl7819120 width=100 style='width:75pt'>Exposure to the Hazard</td>
            <td class=xl6619120 width=171 style='width:128pt'>Avoidance of the hazard</td>
            <td class=xl6619120 width=53 style='border-left:none;width:40pt'>
            </td>
            <td rowspan=2 class=xl11919120 width=94 style='border-bottom:1.0pt solid black;
         width:71pt'>Risk Level</td>
            <td colspan=2 class=xl13019120 width=100 style='border-right:1.0pt solid black;
         border-left:none;width:75pt'>Minimum SRP/CS requirements</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl6719120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
            <td class=xl8019120 width=100 style='width:75pt'>&nbsp;</td>
            <td class=xl6719120 width=171 style='width:128pt'>&nbsp;</td>
            <td class=xl6719120 width=53 style='border-left:none;width:40pt'>&nbsp;</td>
            <td class=xl9319120 style='border-left:none'>PL</td>
            <td class=xl9419120>CAT</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8119120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
            <td class=xl6519120 width=100 style='width:75pt'></td>
            <td class=xl7919120 width=171 style='width:128pt'></td>
            <td class=xl7919120 width=53 style='width:40pt'></td>
            <td rowspan=5 class=xl12119120 style='border-bottom:1.0pt solid black;
         border-top:none'>NEGLIGIBLE</td>
            <td class=xl9519120 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl9519120 style='border-top:none;border-left:none'>&nbsp;</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8119120 width=102 style='height:13.5pt;width:77pt'>&nbsp;</td>
            <td class=xl8219120>E0 - Prevented</td>

            <td class=xl8319120> </td>
            <td class="xl13419120"
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
             
              <mat-checkbox ID="CheckBox0" [name]="RiskMatrixArray[0].ID" [(ngModel)]="RiskMatrixArray[0].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[0].ischecked"> </mat-checkbox>
            </td>
         
            <td class=xl9619120 style='border-left:none'>&nbsp;</td>
            <td class=xl9819120 style='border-left:none'>&nbsp;</td>

          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8119120 width=102 style='height:14.25pt;width:77pt'>&nbsp;</td>
            <td class=xl6819120>&nbsp;</td>
            <td class=xl6919120 width=171 style="border-right:0pt">&nbsp;</td>
            <td class=xl13219120 width=53 style='width:40pt'>

            </td>
            <td class=xl9819120 style='border-left:none'>b</td>
            <td class=xl9819120 style='border-left:none'>-</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
            <td class=xl7019120>&nbsp;</td>
            <td class=xl7119120>A1 - Likely</td>
            <td class="xl13319120"
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
            
              <mat-checkbox ID="CheckBox1" [name]="RiskMatrixArray[1].ID" [(ngModel)]="RiskMatrixArray[1].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[1].ischecked"> </mat-checkbox>
            </td>
            <td class=xl9619120 style='border-left:none'>&nbsp;</td>
            <td class=xl9619120 style='border-left:none'>&nbsp;</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8519120 style='height:13.5pt'>S1 - Minor</td>
            <td class=xl7219120>E1 - Low</td>
            <td class=xl8619120></td>
            <td class=xl8619120></td>
            <td class=xl9719120 style='border-left:none'>&nbsp;</td>
            <td class=xl9719120 style='border-left:none'>&nbsp;</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
            <td class=xl7019120>&nbsp;</td>
            <td class=xl7319120>A2/A3 - Not likely/possible</td>
            <td class="xl13319120"
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
              
              <mat-checkbox ID="CheckBox2" [name]="RiskMatrixArray[2].ID" [(ngModel)]="RiskMatrixArray[2].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[2].ischecked"> </mat-checkbox>
            </td>
            <td rowspan=5 class=xl12419120 style='border-bottom:1.0pt solid black;
         border-top:none'>LOW</td>
            <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl9919120 style='border-top:none'>&nbsp;</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
            <td class=xl7319120>E2 - High</td>
            <td class=xl7419120>&nbsp;</td>
            <td class="xl13519120"
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
              
              <mat-checkbox ID="CheckBox3" [name]="RiskMatrixArray[3].ID" [(ngModel)]="RiskMatrixArray[3].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[3].ischecked"> </mat-checkbox>
            </td>
            <td class=xl10319120 style='border-left:none' height="28">&nbsp;</td>
            <td class=xl10019120>&nbsp;</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
           
            <td class=xl13619120></td>
            <td style='border-left:none'> </td>
            <td class=xl13619120> </td>
            <td class=xl110191122 style='border-left:none;font-weight: 600;'>c </td>
            <td class=xl110191122 style='border-left:none;font-weight: 600;'> 2</td>

          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
            <td class=xl7119120>E0 - Prevented</td>
            <td class=xl7519120 style='border-right:none'>&nbsp;</td>
            <td class=xl13519120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
             
              <mat-checkbox ID="CheckBox4" [name]="RiskMatrixArray[4].ID" [(ngModel)]="RiskMatrixArray[4].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[4].ischecked"> </mat-checkbox>
            </td>
            <td class=xl10319120 style='border-left:none'>&nbsp;</td>
            <td class=xl10019120>&nbsp;</td>


          </tr>
          <tr height=33 style='height:24.75pt'>
            <td height=33 class=xl8419120 style='height:24.75pt'>&nbsp;</td>
            <td class=xl7019120>&nbsp;</td>
            <td class=xl8319120></td>
            <td class=xl13619120></td>
            <td class=xl10419120>&nbsp;</td>
            <td class=xl10119120>&nbsp;</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
            <td class=xl7319120>E1 - Low</td>
            <td class=xl7519120 style='border-right:none'>&nbsp;</td>
            <td class=xl14519120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
              
              <mat-checkbox ID="CheckBox5" [name]="RiskMatrixArray[5].ID" [(ngModel)]="RiskMatrixArray[5].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[5].ischecked"> </mat-checkbox>
            </td>
            <td rowspan=4 class=xl14619120 style='border-bottom:1.0pt solid black;
         border-top:none'>MEDIUM</td>
            <td class=xl10719120 style='border-top:none'>&nbsp;</td>
            <td class=xl10719120 style='border-top:none'>&nbsp;</td>
          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8719120 style='height:14.25pt'>S2 - Moderate</td>
            <td class=xl8819120></td>
            <td class=xl8319120></td>
            <td class=xl13619120></td>
            <td class=xl10819120>&nbsp;</td>
            <td class=xl10819120>&nbsp;</td>
          </tr>
          <tr height=35 style='height:26.25pt'>
            <td height=35 class=xl8419120 style='height:26.25pt'>&nbsp;</td>
            <td class=xl7019120>&nbsp;</td>
            <td class=xl8219120>A1 - Likely</td>
            <td class=xl13719120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
              
              <mat-checkbox ID="CheckBox6" [name]="RiskMatrixArray[6].ID" [(ngModel)]="RiskMatrixArray[6].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[6].ischecked"> </mat-checkbox>
            </td>
            <td class=xl11019120>d</td>
            <td class=xl11019120>2</td>
          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
            <td class=xl7319120>E2 - High</td>
            <td class=xl7619120 style='border-right:none'>&nbsp;</td>
            <td class=xl8619120></td>
            <td class=xl10919120>&nbsp;</td>
            <td class=xl10919120>&nbsp;</td>
          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
            <td class=xl8319120></td>
            <td class=xl7719120 style='border-right:none'>A2/A3 -<font class="font619120"> Not likely/possible</font>
            </td>
            <td class=xl13719120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
              
              <mat-checkbox ID="CheckBox7" [name]="RiskMatrixArray[7].ID" [(ngModel)]="RiskMatrixArray[7].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[7].ischecked"> </mat-checkbox>

            </td>
            <td rowspan=2 class=xl14219120
              style='border-bottom:1.0pt solid black;
         border-top:none; vertical-align: bottom; border-top-style: none; border-bottom-style: solid; border-left-style: solid; border-top-width: medium; border-bottom-width: 1.0pt; border-left-width: 1.0px; border-top-color: inherit; border-bottom-color: black; border-left-color: #000000;'>
              HIGH</td>
            <td class=xl13819120 style='border-top:none'>&nbsp;</td>
            <td class=xl11119120 style='border-top:none;border-left:none'>&nbsp;</td>
          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
            <td class=xl8319120></td>
            <td class=xl8319120></td>
            <td class=xl13619120></td>
            <td class=xl15019120>fd</td>
            <td class=xl11319120 style='border-left:none'>3</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
            <td class=xl7119120>E0 - Prevented</td>
            <td class=xl7419120>&nbsp;</td>
            <td class=xl13519120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
             

              <mat-checkbox ID="CheckBox8" [name]="RiskMatrixArray[8].ID" [(ngModel)]="RiskMatrixArray[8].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[8].ischecked"> </mat-checkbox>

            </td>
            <td rowspan=2 class=xl15119120 width=94 style='border-bottom:1.0pt solid black;
         width:71pt'>LOW</td>
            <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl10219120 style='border-top:none;border-left:none'>&nbsp;</td>

          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
            <td class=xl7019120>&nbsp;</td>


            <td class=xl8319120></td>
            <td class=xl13619120></td>
            <td class=xl11419120 style='border-left:none'>c</td>
            <td class=xl11419120 style='border-left:none'>2</td>
          </tr>
          <tr height=35 style='height:26.25pt'>
            <td height=35 class=xl8419120 style='height:26.25pt'>&nbsp;</td>
            <td class=xl7319120>E1 - Low</td>
            <td class=xl7419120>&nbsp;</td>
            <td class=xl14919120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
              
              <mat-checkbox ID="CheckBox9" [name]="RiskMatrixArray[9].ID" [(ngModel)]="RiskMatrixArray[9].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[9].ischecked"> </mat-checkbox>

            </td>
            <td rowspan=4 class=xl14219120
              style='border-bottom:1.0pt solid black;
         border-top:none; border-top-style: none; border-bottom-style: solid; border-left-style: solid; border-top-width: medium; border-bottom-width: 1.0pt; border-left-width: 1.0px; border-top-color: inherit; border-bottom-color: black; border-left-color: #000000;'>
              HIGH</td>
            <td class=xl13819120 style='border-top:none' height="50">&nbsp;</td>
            <td class=xl11119120 style='border-top:none;border-left:none'>&nbsp;</td>
          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl9219120 style='height:14.25pt'>S3 - Serious</td>
            <td class=xl8819120></td>
            <td class=xl8319120></td>
            <td class=xl13619120></td>
            <td class=xl13919120>d</td>
            <td class=xl11619120 style='border-left:none'>3</td>
          </tr>
          <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl8419120 style='height:13.5pt'>&nbsp;</td>
            <td class=xl7019120>&nbsp;</td>
            <td class=xl8219120>A1/A2 - Likely/Not likely</td>
            <td class=xl13719120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
             
              <mat-checkbox ID="CheckBox10" [name]="RiskMatrixArray[10].ID" [(ngModel)]="RiskMatrixArray[10].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[10].ischecked"> </mat-checkbox>

            </td>
            <td class=xl14019120>&nbsp;</td>
            <td class=xl11519120 style='border-left:none'>&nbsp;</td>
          </tr>
          <tr height=33 style='height:24.75pt'>
            <td height=33 class=xl8419120 style='height:24.75pt'>&nbsp;</td>
            <td class=xl7319120>E2 - High</td>
            <td class=xl7619120 style="border-right:0pt">&nbsp;</td>
            <td class=xl8619120></td>
            <td class=xl14119120>&nbsp;</td>
            <td class=xl11219120 style='border-left:none'>&nbsp;</td>
          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8419120 style='height:14.25pt'>&nbsp;</td>
            <td class=xl8319120></td>
            <td class=xl7719120 style="border-right:0pt">A3 - Not possible</td>
            <td class=xl13319120
              style="border-style: none none solid none; border-bottom-width: 2px; border-bottom-color: #000000">
              <mat-checkbox ID="CheckBox11" [name]="RiskMatrixArray[11].ID" [(ngModel)]="RiskMatrixArray[11].ischecked"
                (change)="onEarlyChange($event)" [checked]="RiskMatrixArray[11].ischecked"> </mat-checkbox>

            </td>
            <td rowspan=2 class=xl12819120 style='border-bottom:1.0pt solid black;
         border-top:none'>VERY HIGH</td>
            <td class=xl11719120 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl11719120 style='border-top:none;border-left:none'>&nbsp;</td>
          </tr>
          <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl8919120 style='height:14.25pt'>&nbsp;</td>
            <td class=xl9019120>&nbsp;</td>

            <td class=xl9019120>&nbsp; </td>
            <td class=xl9019120>&nbsp;

            </td>
            <td class=xl11819120 style='border-left:none'>e</td>
            <td class=xl11819120 style='border-left:none'>4</td>
          </tr>

        </table>
        <br>
        <br>


      </div>

    </div>


    <button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
      [disabled]="(!TaskRiskAssessment.valid )" (click)="save(TaskRiskAssessment.value,TaskAssimentId); "
      class="mat-flat-button mat-primary" *ngIf="!updateflag">Save </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
      [disabled]="(!TaskRiskAssessment.valid )" (click)="save(TaskRiskAssessment.value,TaskAssimentId); "
      (click)="Update(TaskAssimentId)" class="mat-flat-button mat-primary" *ngIf="updateflag">update </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button color="primary" style=" background: orange;margin-left: 190px;width: 170px;"
      class="mat-flat-button mat-primary" (click)="BacktoRsikmatrix()">Cancel</button>
  </form>
</div> -->



 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  -->

<!--------------style css-->
<style>
  mat-table{
  font-size: 12px;
  font-weight: bold;
}
mat-card{
  
}
</style>

<style id="Software Risk Assessment -2012_19120_Styles"><!--table
  {mso-displayed-decimal-separator:"\.";
  mso-displayed-thousand-separator:"\,";}
.font519120
  {color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;}
.font619120
  {color:black;
  font-size:9.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;}
.xl1519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl6519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl6619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl6719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl6819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:1.5pt solid windowtext;
  border-right:none;
  border-bottom:none;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl6919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.5pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl7019120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:none;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.5pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7419120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.5pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.5pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl7819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:none;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl7919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl8019120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl8119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl8219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
/* .xl8319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;} */
.xl8419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:none;
  border-bottom:1.5pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.5pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:left;
  vertical-align:middle;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl8919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl9219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
   font-family:Arial, Sans-Serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.5pt solid windowtext;
  border-bottom:1.5pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl9519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9719120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl9919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10219120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10719120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl10919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:baseline;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11219120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11319120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11519120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11719120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl11919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl12019120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl12119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid windowtext;
  background:#92D050;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12419120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid black;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:normal;}
.xl12819120
  {padding:0px;
  mso-ignore:padding;
  color:white;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:1.0pt solid black;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl12919120
  {padding:0px;
  mso-ignore:padding;
  color:white;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:#0070C0;
  mso-pattern:black none;
  white-space:nowrap;}
.xl13019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl13119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl13219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:normal;}
.xl13319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13419120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13619120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl13819120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:1.0pt solid windowtext;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl13919120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14119120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial;
  mso-generic-font-family:auto;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:general;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14219120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid black;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14319120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14419120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid black;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14519120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid windowtext;
  border-right:none;
  border-bottom:1.0pt solid windowtext;
  border-left:1.0pt solid windowtext;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl14619120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:1.0pt solid black;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14719120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:none;
  border-left:1.0pt solid black;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14819120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border-top:none;
  border-right:1.0pt solid black;
  border-bottom:1.0pt solid black;
  border-left:1.0pt solid black;
  background:#FFC000;
  mso-pattern:black none;
  white-space:nowrap;}
.xl14919120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:middle;
  border:1.0pt solid black;
  mso-background-source:auto;
  mso-pattern:auto;
  white-space:nowrap;}
.xl15019120
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:1.0pt solid windowtext;
  border-left:none;
  background:red;
  mso-pattern:black none;
  white-space:nowrap;}
.xl15119120
  {padding:0px;
  mso-ignore:padding;
  color:black;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:bottom;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:1.0pt solid windowtext;
  background:yellow;
  mso-pattern:black none;
  white-space:normal;
  
  }


  .xl110191122
  {padding:0px;
  mso-ignore:padding;
  color:windowtext;
  font-size:10.0pt;
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  font-family:Arial, sans-serif;
  mso-font-charset:0;
  mso-number-format:General;
  text-align:center;
  vertical-align:baseline;
  border-top:none;
  border-right:1.0pt solid windowtext;
  border-bottom:none;
  border-left:none;
  background:yellow;
  mso-pattern:black none;
  white-space:nowrap;}

</style>

