<div class="auth-wrapper">
  <div class="container">
    <!-- <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="margin-top: 20px;margin-right: 192px;margin-left: -45px;;">
      <div class="container">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="logo">
            <img src="../assets/img/logo1.png" style="width: 100px;margin-left: 20px;">
            <h4 style="color: white;margin-top: -46px;margin-left: 102px;">Robot Safety Center</h4>
          </div>
          
        </div>
      </div>
    </nav> -->
    <!-- <div>
      <h4 style="text-align:center">Subscription Page</h4>
    </div> -->
    
    <div class="row" >
      
      <div class="col-md-3 col-sm-6" style="margin-left: 130px;margin-top: 85px;">
        <div class="pricingTable">
          <h3 class="title">Free</h3>
            <div class="price-value">
              <span class="amount">$00.00</span>
            </div>
            <ul class="pricing-content">
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Redirect to Splash</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Restricted Validity</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited System</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited Tasks</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;5 Validation</i></li>
                <li>Verification</li>
                <li>Report</li> 
            </ul>
            <a class="pricingTable-signup" (click)="Selectplan('Free')">Start With Free</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6" style="margin-top: 85px;">
      <div class="pricingTable">
              <h3 class="title">Monthly</h3>
              <div class="price-value">
                  <span class="amount">$99.00</span>
              </div>
              <ul class="pricing-content">
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;$99.9/5users/Location</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;No Restriction on Validity</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited System</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited Tasks</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited Validation</i></li>
                <li><i class="fa fa-check" aria-hidden="true">Verification</i></li>
                <li><i class="fa fa-check" aria-hidden="true">Report</i></li> 
              </ul>
              <a class="pricingTable-signup" (click)="Selectplan('Monthly')">Start With Monthly</a>
          </div>
          </div>
          <div class="col-md-3 col-sm-6" style="margin-top: 85px;">
          <div class="pricingTable">
              <h3 class="title">Annual</h3>
              <div class="price-value">
                  <span class="amount">$999.00</span>
              </div>
              <ul class="pricing-content">
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;$999/5users/Location</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;No Restriction on Validity</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited System</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited Tasks</i></li>
                <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;Unlimited Validation</i></li>
                <li><i class="fa fa-check" aria-hidden="true">Verification</i></li>
                <li><i class="fa fa-check" aria-hidden="true">Report</i></li> 
                <!-- <li><i class="fa fa-check" aria-hidden="true"> Safety centre recommendations</i></li> --> 
               </ul>
              <a class="pricingTable-signup" (click)="Selectplan('Annual')">Start With annual</a>
            </div>
      </div> 

    