.navbar-brand{
    color: white;
      font-size: 30px;
      background: none;
  }
  .info-title{
    color: rgba(255,255,255,.8);
    color: rgba(255,255,255,.8);
    margin-left: 75px;
    margin-top: -65px;
    font-size: 25px;
  }
  
  .nav-link{
    font-size: 18px;
    color: white;
    margin-right: 12px;
  }
  .auth-wrapper{
    background-image: url(/assets/img/sub1.jpg); 
    background-size: cover;
    background-position: center center;
    height: 650px; 
  }
  h3{
    text-align: center;
      margin-top: 35px;
      font-size: 24px;
  }
  .pricingTable{
    padding: 25px 20px;
    text-align: center;
    border: 2px solid #f88708;
    /* border: 4px solid #007bff; */
    transition: all 0.3s ease 0s;
  }
  .pricingTable:hover{ box-shadow: 0 8px 10px -6px rgba(0,0,0,0.7); }
  .pricingTable .title{
    padding: 10px 0;
    margin: 0 0 20px 0;
    font-size: 25px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
  }
  .pricingTable .title:before,
  .pricingTable .title:after{
    content: "";
    width: 50%;
    height: 100%;
    background: #f88708;
    /* background: #007bff; */
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: skew(0deg, -6deg);
    transition: all 0.3s ease 0s;
  }
  .pricingTable .title:after{
    right: auto;
    left: 0;
    transform: skew(0deg, 6deg);
  }
  .pricingTable:hover .title:before{ transform: skew(0deg,6deg); }
  .pricingTable:hover .title:after{ transform: skew(0deg,-6deg); }
  .pricingTable .price-value{ margin-bottom: 0px; }
  .pricingTable .amount{
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: #f88708;
    /* color: #007bff; */
  }
  .pricingTable .month{
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #9a580c;
    /* color: #007bff; */
  }
  .pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #be9f9f;
    line-height: 40px;
    letter-spacing: 1px;
  }
  .pricingTable .pricing-content li{ box-shadow:  0 7px 10px -9px rgba(258, 135, 8, 0.8); }
  .pricingTable .pricing-content ul li:last-child{ box-shadow: none; }
  .pricingTable .pricingTable-signup{
    display: block;
    padding: 7px 0;
    font-size: 18px;
    font-weight: 600;
    color:white;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
    background-color: #f88708;
    /* background-color:#007bff ; */
  }
  .pricingTable .pricingTable-signup:before{
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid #f88708;
    /* border: 2px solid #007bff; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: border-left-color 0.1s linear 0.14s,
    border-top-color 0.1s linear 0.07s,
    border-right-color 0.1s linear 0s,
    border-bottom-width 0.1s linear 0.14s;
  }
  .pricingTable:hover .pricingTable-signup:hover:before{
    border-bottom-width: 4px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transition: border-left-color 0.1s linear 0s,
    border-top-color 0.1s linear 0.07s,
    border-right-color 0.1s linear 0.14s,
    border-bottom-width 0.1s linear 0.14s;
  }
  @media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
  }
  .heading3{
    color: white;
    margin-left: 327px;
    margin-top:20px;
  }