<div class="side-form">
  <form class="form-example" (ngSubmit)="save(createTaskModal.value)" #createTaskModal="ngForm">

    <!-- <div class="form-group" style="margin-top: 20px;">
      <label for="username">Task Name</label>
      <input type="text" class="form-control" name="taskName" id="taskName" required maxlength="32"
        [(ngModel)]="TaskDetails.taskName" #taskNameModel="ngModel" />
    </div><br> -->
    <div class="form-group">
      <label for="username" style="margin-top: 10px;font-style: italic;font-size: 12px;color: darkred;">Task Name:</label>
      <input type="text" class="form-control" name="taskName" id="taskName" required maxlength="32"
        [(ngModel)]="TaskDetails.taskName" #taskNameModel="ngModel" />
    </div>

    <!-- <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type"   }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.msc" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" name="CSC" [(ngModel)]="TaskDetails.csc">
            CSC
          </mat-checkbox>
        </div>
        <div class="modalchk">
          <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.rsc" name="RSC">ROBOT </mat-checkbox>
          <p>Requires participation from all safety Team members.<br>
           
          </p>
        </div>
       
      </div>
    </div> -->

    <div class="form-group">
      <div class="modalchk">
        <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.rsc" name="RSC" style="color: darkred;font-size:12px;font-style:italic">Robot </mat-checkbox>
        <p style="font-style: italic;">Requires participation from all safety Team members.<br>
         
        </p>
      </div>
      <div class="modalchk1">
        <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.msc" name="MSC" style="color: darkred;font-size:12px;font-style:italic">Machine </mat-checkbox>
        <p style="font-style: italic;">Requires participation from all safety Team members.<br>
         
        </p>
      </div>
      <div class="modalchk1">
        <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.csc" name="CSC" style="color: darkred;font-size:12px;font-style: italic;">Crane </mat-checkbox>
        <p style="font-style: italic;">Requires participation from all safety Team members.<br>
         
        </p>
      </div>
    </div>
    <br>

    <div class="button2" style="margin-top:20px">
      <a class="btn btn-default" (click)="close()">Cancel</a>

     
      <button type="submit" class="btn btn-primary" style="width: 100px; margin-left: 20%;">Submit</button>
    </div>
  </form>
</div>