/* GENERAL STYLES AND CLASSES 
--------------------------------------------------------------------- */
/* MAIN STYLES
--------------------------------------------------------------------- */


  /* side form */
      .side-form {
          /* position: absolute;
          z-index: 100;
          top: 0;
          right: 0;
          width: 30%;
          height: 100%;
          overflow: auto;
          background: #fff;
          padding: 20px;
          border-left: 1px solid #e0e0e0; */

          margin-top: 80px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 30%;
    height: 80%;
    overflow: auto;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
    border-radius: 20px;
    border: 1px solid #FF9800;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
      }


/* FOOTER STYLES
--------------------------------------------------------------------- */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}
