<div class="" >
  <div class="" >
    <h4>Copy Task</h4><hr style="margin-top: 1px;">
    <div class="col-md-12">
      <form #TaskRiskAssessment="ngForm" class="form-horizontal" autocomplete="false"
    (ngSubmit)="save(TaskRiskAssessment.value ); TaskRiskAssessment.resetForm()" novalidate>
    
    <div class="form-group">
      <label for="" style="margin-top: 10px;font-style: italic;font-size: 12px;color: darkred;">Old Task</label>
      <mat-select matInput type="text" autocomplete="off" name="oldtaskD" class="form-control" [(ngModel)]="oldtaskD"
      (selectionChange)="onTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
      <mat-option *ngFor="let tasktemp of taskoldData" [value]="tasktemp.id">
      {{tasktemp.taskName}}
      </mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label for="" style="margin-top: 10px;font-style: italic;font-size: 12px;color: darkred;">New Task</label>
      <mat-select matInput type="text" autocomplete="off" name="newtaskD" class="form-control" [(ngModel)]="newtaskD"
      (selectionChange)="onnewTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
      <mat-option *ngFor="let tasktemp of tasknewData" [value]="tasktemp.id">
      {{tasktemp.taskName}}
      </mat-option>
      </mat-select>
    </div>

    <div>
      <div class="col-md-12" style="margin-top: 10px;">
        <button style="background: orange;font-size: 12px;
        width: 100px;    margin-left: 160px;" type="submit" class="btn btn-secondary">Save </button>&nbsp;&nbsp;&nbsp;
      <!-- </div> -->
      <!-- <div class="col-md-6"> -->
        <button class="btn btn-secondary" (click)="close()" style="font-size: 12px;
        width: 100px;">Cancel</button>
      </div>
      <!-- <button style=" background: orange;margin-left: 370px;width: 170px;" type="submit" class="btn btn-secondary">Save </button>
      <button class="btn btn-secondary" (click)="close()" style="margin-right: 10px;">Cancel</button> -->
    </div>


    </form>
    </div>
  </div>
</div>

<style>
  h4{
  color: darkred;font-style: italic;font-size: 16px;font-weight: 600;text-align: center;
}
/* .mat-dialog-container{
  width: 80%;
    margin-left: 50px;
    margin-top: -20px;
} */
</style>

<!-- <div class="container">
  <div class="row">
    <h4 style="font-size: 18px;margin-left: 250px;">Copy Task</h4>
    <div class="col-md-12">
      <form #TaskRiskAssessment="ngForm" class="form-horizontal" autocomplete="false"
    (ngSubmit)="save(TaskRiskAssessment.value ); TaskRiskAssessment.resetForm()" novalidate>

<div class="col-md-12">
  &nbsp;&nbsp;&nbsp;&nbsp;<b class="thick">Old Task: &nbsp;</b> &nbsp;&nbsp;

  <mat-select matInput type="text" autocomplete="off" name="oldtaskD" class="form-control" [(ngModel)]="oldtaskD"
    (selectionChange)="onTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
    <mat-option *ngFor="let tasktemp of taskoldData" [value]="tasktemp.id">
      {{tasktemp.taskName}}
    </mat-option>
  </mat-select>


</div>



<div class="col-md-12">
  &nbsp;&nbsp;&nbsp;&nbsp;<b class="thick">New Task: &nbsp;</b> &nbsp;&nbsp;

  <mat-select matInput type="text" autocomplete="off" name="newtaskD" class="form-control" [(ngModel)]="newtaskD"
  (selectionChange)="onnewTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
    <mat-option *ngFor="let tasktemp of tasknewData" [value]="tasktemp.id">
      {{tasktemp.taskName}}
    </mat-option>
  </mat-select>


</div>
<br>

<button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
  class="mat-flat-button mat-primary">Save </button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="mat-flat-button mat-accent" (click)="close()" style="margin-right: 10px;">Cancel</button>


</form> -->
