<div class="wrapper" >
  <app-header></app-header>
  <sidebar></sidebar>
  <div class="" style="margin-left:0px">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <div id="sidebar-overlay" (click)="toggleSidebar()"></div>
</div>
