<div class="mainpage">
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper" style="background: #727cb6;">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">pro sidebar</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-info" style="margin-top: 20px;margin-left: 20px;">
            <h5 style="color:white;font-size:18px">Locations</h5>
          </div>
        </div>

        <div class="sidebar-menu">
          <ul>
            <li class="sidebar-dropdown" style="margin-top: 20px;">
              <a href="/app/userportal">
                <i class="fa fa-tachometer-alt" style="color: #727cb6;background-color: white;"></i>
                <span style="color:white;font-size:16px">Location Details</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->

    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" style="margin-top: -58px;">
      <div class="container-fluid">
        <div class="row">
          <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">
            Add Location
          </button>
        </div>

        <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Add Location</h4>
                <button type="button" data-dismiss="modal" aria-label="Close"><span
                    style="float: right;">&times;</span></button>
              </div>
              <div class="modal-body">
                <form class="form-example" #LocationForm="ngForm" (ngSubmit)="save(LocationForm.value)">
                  <div class="form-group">
                    <label for="username">Location Name</label>
                    <input type="text" class="form-control" name="locationName"
                      placeholder="{{ 'Location' | localize }}" required maxlength="64" [(ngModel)]="model.locationName"
                      #locationNameModel="ngModel" #locationNameEl />
                  </div>

                  <div class="form-group">
                    <label for="country">Address</label>
                    <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                      class="form-control" name="address" [(ngModel)]="model.address" #addressModel="ngModel"
                      #addressEl />
                  </div>

                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" placeholder="{{ 'City' | localize }}" required
                      maxlength="64" [(ngModel)]="model.city" #cityModel="ngModel" #cityEl />
                  </div>

                  <div class="form-group">
                    <label for="country">State</label>
                    <input type="text" class="form-control" name="state" placeholder="{{ 'State' | localize }}" required
                      maxlength="64" [(ngModel)]="model.state" #stateModel="ngModel" #stateEl />
                  </div>

                  <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" name="country" placeholder="{{ 'Country' | localize }}"
                      required maxlength="64" [(ngModel)]="model.country" #countryModel="ngModel" #countryEl />
                  </div>
                  <div class="form-group">
                    <label for="password">Zip</label>
                    <input type="number" class="form-control" name="zip" placeholder="{{ 'ZipCode' | localize }}"
                      required maxlength="64" [(ngModel)]="model.zip" #zipModel="ngModel" #zipEl />
                  </div>
                  <button type="submit" class="btn btn-primary"
                    [disabled]="!LocationForm.form.valid || saving">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <!-- *ngFor="let loc of compLoc" -->
            <div class="row">
              <div class="col-md-8" style="margin-left: -20px;">
                <p style="margin-bottom: 5px;font-size: 15px;margin-top:3px;font-weight:bold;">
                  {{compLoc.address}}</p>
                <!-- <p style="margin-bottom: 5px;font-size: 15px;"><i
                    class="fas fa-phone">&nbsp;&nbsp;&nbsp;{{userportal.country}}</i>
                </p>
                <p style="margin-bottom: 5px;font-size: 15px;"><i
                    class="fa fa-envelope">&nbsp;&nbsp;&nbsp;{{userportal.zip}}</i></p> -->
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </main>
    <!-- page-content" -->
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">