<div class="auth-wrapper">
   <div class="container">
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="margin-top: 55px;">
         <div class="container">
            <div class="navbar-wrapper">
               <div class="navbar-toggle">
                  <button class="navbar-toggler" type="button">
                     <span class="navbar-toggler-bar bar1"></span>
                     <span class="navbar-toggler-bar bar2"></span>
                     <span class="navbar-toggler-bar bar3"></span>
                  </button>
               </div>

            </div>
            <button aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
               class="navbar-toggler" data-target="#navigation" data-toggle="collapse" type="button">
               <span class="navbar-toggler-bar navbar-kebab"></span>
               <span class="navbar-toggler-bar navbar-kebab"></span>
               <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
               <ul class="navbar-nav">

                  <li class="nav-item "><a class="nav-link active" [routerLink]="['/app/loginpricing']" href="#">
                        <i class="fa fa-arrow-left" aria-hidden="true">Back</i> </a>
                  </li>

               </ul>
            </div>
         </div>
      </nav>

      <!-- <div class="container"> -->

      <div class="row">
         <h3 style="text-align: center;margin-top: 62px;color: #867f7f;font-weight: 500;margin-left: 450px;">Payment
            Details</h3>
         <div class="col-md-10" style="margin-left: 70px;margin-top: 30px;">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                     <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                           1. Plan Details
                        </a>
                     </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse show" role="tabpanel" aria-labelledby="headingOne">
                     <div class="panel-body" style="height: 312px;border-top: 4px solid gray;">
                        <div class="row" style="color: #524444;margin-top: 43px;font-size: 16px;font-weight: 500;">

                           <div class="col-md-4">
                              Payment Frequency
                           </div>
                           <div class="col-md-6">
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio1" value="0.00/-" [checked]="selectedplan === 'Free'"
                                    (change)="changePricing($event)">
                                 <label class="form-check-label" for="inlineRadio1">14 Days Free</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio1" value="99.99/-" [checked]="selectedplan === 'Monthly'"
                                    (change)="changePricing($event)">
                                 <label class="form-check-label" for="inlineRadio1">Monthly</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio2" value="999.99/-" [checked]="selectedplan === 'Annual'"
                                    (change)="changePricing($event)">
                                 <label class="form-check-label" for="inlineRadio2">Annually</label>
                              </div>
                           </div>
                        </div>
                        <div class="row" style="color: #524444;font-size: 16px;font-weight: 500;">
                           <div class="col-md-4" style="margin-top: 12px;">
                              Selected plan
                           </div>
                           <div class="col-md-4" style="margin-top: 12px;">
                              {{selectedplan}}
                           </div>
                        </div>
                        <div class="row" style="color: #524444;font-size: 16px;font-weight: 500;">
                           <div class="col-md-4" style="margin-top: 12px;">
                              No. Of Users
                           </div>
                           <div class="col-md-4" style="margin-top: 12px;">
                              {{users}}
                           </div>
                           <div class="col-md-4" style="margin-top: 12px;">
                              <b>Add Additional User $29</b>
                           </div>
                        </div>
                        <div class="row"
                           style="background-color: #5a5656;margin-top: 12px;height: 45px;color: #524444;font-weight: 500;">
                           <div class="col-md-4" style="margin-top: 12px;"></div>
                           <div class="col-md-4" style="margin-top: 12px;color: white;">
                              Amount to be paid {{select_plan}}
                           </div>
                           <div class="col-md-4"
                              style="margin-top: 0px;color: white;background-color: black;height: 45px;text-align: center;">
                              <h5 style="margin-top:12px;margin-top: 12px;font-size: 15px;"> </h5>
                              {{value}}
                           </div>
                        </div>
                        <div class="row" style="color: #524444;font-weight: 500;">
                           <div class="col-md-4" style="margin-top: 12px;"> </div>
                           <div class="col-md-4" style="margin-top: 12px;"> </div>
                           <div class="col-md-4" style="margin-top: 12px;">
                              <button style="background-color: black;border-color: black;margin-top: 15px;"
                                 class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                 aria-expanded="false" aria-controls="collapseTwo">
                                 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Continue
                                 </a>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                     <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           2. Review Order
                        </a>
                     </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="panel-body" style="height: 312px;border-top: 4px solid gray;">
                        <div class="row" style="color: #524444;margin-top: 43px;font-size: 16px;font-weight: 500;">
                           <div class="col-md-4">
                           </div>
                        </div>
                        <div class="row" style="color: #524444;font-size: 16px;font-weight: 500;">
                           <div class="col-md-4">
                              Selected plan
                           </div>
                           <div class="col-md-4">
                              {{selectedplan}}
                           </div>
                           <div class="col-md-4">

                           </div>

                        </div>
                        <div class="row" style="margin-top: 12px;color: #524444;font-size:16px;font-weight: 500;">
                           <div class="col-md-4"> No. Of User </div>
                           <div class="col-md-4"> 5 </div>
                           <div class="col-md-4"> </div>
                        </div>

                        <div class="row" style="background-color: #5a5656;margin-top: 12px;height: 45px;font-size:16px">
                           <div class="col-md-4" style="margin-top: 12px;"> </div>
                           <div class="col-md-4" style="margin-top: 12px;color: white;">
                              Amount to be paid Per {{select_plan}}
                           </div>
                           <div class="col-md-4"
                              style="margin-top: 0px;color: white;background-color: black;height: 45px;text-align: center;">
                              <h5 style="margin-top:12px;margin-top: 12px;font-size: 15px;"> </h5>
                              {{value}}
                           </div>
                        </div>
                        <div class="row" style="margin-top: 12px;font-size:16px;font-weight: 500;">
                           <div class="col-md-4"></div>
                           <div class="col-md-4"></div>
                           <div class="col-md-4">
                              <!-- <button style="background-color: black;margin-top: 15px;border-color: black;"
                                 class="btn btn-success" type="button" data-toggle="collapse"
                                 data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                 Continue
                              </button> -->
                              <button style="background-color: black;border-color: black;margin-top: 15px;"
                                 class="btn btn-success" type="button" data-toggle="collapse"
                                 data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Continue
                                 </a>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                     <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           3. Billing Address & payment Details
                        </a>
                     </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                     <div class="panel-body" style="height: 590pxs;border-top: 4px solid gray;">
                        <form #updateCompanyForm autocomplete="off"
                           (ngSubmit)="Updatecomapany(updateCompanyForm.value)">
                           <div class="row" style="color: #524444;margin-top: 43px;font-size: 16px;font-weight: 500;">
                              <div class="col-md-6">
                                 <label for="exampleInputEmail1">Company Name</label>
                                 <input type="companyName" class="form-control" placeholder="Company Name"
                                    name="model.companyName" [(ngModel)]="model.companyName" #companyNameModel="ngModel"
                                    #companyNameEl>
                              </div>
                              <div class="col-md-6">
                                 <label for="exampleInputEmail1">Phone Number</label>
                                 <input type="phoneno" class="form-control" placeholder="Phone Number"
                                    name="model.phoneno" [(ngModel)]="model.phoneno" #phonenoModel="ngModel" #phonenoEl>
                              </div>
                           </div>
                           <!-- <div class="row" style="color: #524444;font-size:16px;font-weight: 500;"
                              [hidden]="!small.checked">
                              <div class="col-md-6">
                                 <label for="exampleInputEmail1">Search Location</label>
                                 <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                                    class="form-control" name="model.address" [(ngModel)]="model.address"
                                    #addressModel="ngModel" #addressEl />
                              </div>
                           </div> -->

                           <div class="row" style="color: #524444;margin-top: 43px;font-size: 16px;font-weight: 500;">
                              <div class="col-md-6 loc">
                               
                                    <div class="row">
                                     
                                       <div class="col-md-12">
                                          <input type="checkbox" #smaller id="checkbox1" name="checkbox1" (change)="toggleCheckbox($event)" [checked]="checkbox1">
                                          <label for="checkbox1">&nbsp; Use this Address</label><br>
                                          <span class="col-md-3" [hidden]="!smaller.checked">{{Compaddresss}}</span>
                                       </div> 
                                      <div class="col-md-12">
                                       <input type="checkbox" #small id="checkbox2" name="checkbox2" (change)="toggleCheckbox($event)" [checked]="checkbox2">
                                       <label for="checkbox2">&nbsp; Use Different Address</label>
                                       <div [hidden]="!small.checked">
                                          <label>Search Location</label>
                                             <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                                                class="form-control" name="address" [(ngModel)]="address"
                                                #addressModel="ngModel" #addressEl />
                                                <!-- {{model.address}} -->
                                           </div>
                                      </div>
                                       </div>
                                       
                              
                               <!-- <div class="row">
                                  <div class="col-md-12">
                                     <mat-checkbox>Use this address</mat-checkbox><br>
                                     {{model.address}}
                                  </div>
                                  <div class="col-md-12">
                                    <mat-checkbox #small>use Different address</mat-checkbox>
                                    <div [hidden]="!small.checked">
                                       <label for="exampleInputEmail1">Search Location</label>
                                          <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                                             class="form-control" name="model.address" [(ngModel)]="model.address"
                                             #addressModel="ngModel" #addressEl />
                                             <input id="it" type="submit" value="Submit">
                                        </div>
                                 </div>
                               </div> -->
                              
                                 <!-- <div class="row">
                                    <div class="col-md-5">
                                       <mat-checkbox checked>Use this address</mat-checkbox><span>{{model.address}}</span></div>
                                    <div class="col-md-1">
                                    </div>
                                    <mat-checkbox style="margin-left: 189px; margin-top: -71px; font-size: 16px;
                                 font-weight: bold;" #small> Use Different Address </mat-checkbox>
                                 </div> -->
                              </div>
                              <div class="col-md-6 loc">
                                 <div class="col-md-6" style="color: black;">
                                    Amount to be paid Per {{select_plan}}
                                 </div>
                                 <div style="margin-top: -58px;
                              color: white;
                              background-color: black;
                              height: 66px;
                              margin-left: 225px;">
                                    <h5 style="font-size: 35px;text-align: center;
                                 padding: 10px"> {{value}}</h5>

                                 </div>
                              </div>
                           </div>


                           <div class="row" style="color: #524444;font-size:16px;font-weight: 500;">
                              <div class="col-md-4" style="margin-top: 12px;"></div>
                              <div class="col-md-4" style="margin-top: 12px;"></div>
                           </div>

                           <!-- <div class="row"  style="color: #524444;font-size:16px">
                                  <div class="col-md-3" style="margin-top: 12px;">
                                    
                                  </div>
                                  <div class="col-md-3" style="margin-top: 12px;">
                                  
                                  </div>
                                  <div class="col-md-3" style="margin-top: 12px;">
                                  
                                  </div>
                                  <div class="col-md-3" style="margin-top: 12px;">
                                     <button style="background-color: black;border-color: black;" class="btn btn-success" type="button" aria-expanded="false"
                                     
                                     [disabled]="!companyupdateForm.form.valid || saving"  >
                                     [disabled]="!companyupdateForm.form.valid || saving"
                                        Make Payment
                                       </button>
                                  </div>
                                </div> -->

                           <div class="col-md-3" style="margin-top: 12px;">
                              <button style="background-color: black;border-color: black;" class="btn btn-success"
                                 type="button" aria-expanded="false" (click)="save()">
                                 Make Payment
                              </button>
                           </div>
                           <!-- <div class="col-md-3" style="margin-top: 12px;">
                           <button style="background-color: black;border-color: black;" class="btn btn-success"
                              type="button" aria-expanded="false" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">
                              Make Payment
                           </button>
                        </div> -->

                           <div id="id01" class="w3-modal">
                              <div class="w3-modal-content">
                                 <div class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'"
                                       class="w3-button w3-display-topright">&times;</span>
                                    <h4 style="font-size: 20px;font-weight: bold;color: #4b4e50;">Credit Card Details
                                    </h4>
                                    <div class="row">
                                       <div class="col-md-12" style="margin-top: 12px;">
                                          <label for="exampleInputEmail1">Card Holder</label>
                                          <input type="" class="form-control" id="" aria-describedby="" placeholder="">
                                       </div>
                                       <div class="col-md-12" style="margin-top: 12px;">
                                          <label for="exampleInputEmail1">Card Number</label>
                                          <input type="" class="form-control" id="" aria-describedby=""
                                             placeholder="Card Number">
                                       </div>
                                       <div class="col-md-12" style="margin-top: 12px;">
                                          <label for="exampleInputEmail1">Expiration Date</label>
                                          <input type="" class="form-control" id="" aria-describedby="" placeholder="">
                                       </div>
                                       <div class="col-md-12" style="margin-top: 12px;">
                                          <input type="" class="form-control" id="" aria-describedby="" placeholder="">
                                       </div>
                                    </div>
                                    <div class="pull-right" style="margin-top: 12px;">
                                       <button class="btn btn-primary">Submit</button>
                                    </div>

                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- </div> -->
      </div>
   </div>
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">