.auth-wrapper{
  background: linear-gradient(-45deg,#6e7e82a3,#fff3f3 45%,#dadada 45%, #d1d1d1 50%, #fffdfd 50.1%);
  height:1000px;
}

.navbar-brand{
    color: white;
      font-size: 30px;
      background: none;
  }
  .info-title{
    color: rgba(255,255,255,.8);
    color: rgba(255,255,255,.8);
    margin-left: 75px;
    margin-top: -65px;
    font-size: 25px;
  }
  
  .nav-link{
    font-size: 18px;
    color: #468eb1;
    margin-right: 12px;
  }
  
  a:hover,a:focus{
      text-decoration: none;
      outline: none;
    }
    #accordion{
      padding-left: 80px;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #accordion:before{
      content: "";
      width: 5px;
      height: 100%;
      background: #004e89;
      position: absolute;
      top: 0;
      left: 22px;
      z-index: -1;
    }
    #accordion .panel{
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 15px;
    }
    #accordion .panel-heading{
      padding: 0;
      border: none;
      border-radius: 0;
    }
    #accordion .panel-title a{
      display: block;
      padding: 10px 30px 15px 0;
     /* background: #fff;*/
      font-size: 20px;
      font-weight: bold;
      color: #4b4e50;
      position: relative;
      transition: all 0.5s ease 0s;
    }
    #accordion .panel-title a:before{
      content: "\f068";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      width: 50px;
      height: 50px;
      line-height: 40px;
      border-radius: 50%;
      background: #cad5c2;
      text-align: center;
      font-size: 17px;
      color: #004e89;
      border: 6px solid #004e89;
      position: absolute;
      top: 0;
      left: -80px;
    }
    #accordion .panel-title a.collapsed:before{
      content: "\f067";
      background: #fff;
    }
    #accordion .panel-body{
      padding: 10px 15px;
      box-shadow: 0px 1px 5px 1px rgb(164, 184, 255);
    background-color: #fff;
    border-radius: 5px;
     /* background: #eee;
      border: none;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.9);
      font-size: 14px;
      color: #487677;
      line-height: 25px;*/
    }

    /* button image */

    #it{
      background-image:url('/assets/img/change_address.png');
      font-size:0;
      width:50px;
      height:50px;
  }

    .loc {
     background-color: lightgrey;
    border: 7px solid gray; 
    /* margin: 13px;  */
    width: 383px;
    height: 240px;
    padding: 20px;
   
    }

    .loc2{
      /* background-color: lightgrey;
      border: 7px solid gray; */
     
      width: 383px;
      height: 140px;
      padding: 20px;
    }
