<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h4>Protective Measure Details</h4><hr style="margin-top: 1px;">
      <mat-card>
          <mat-toolbar>
            <div class="col-md-6">
              <div class="btncs">
                <!-- <a  data-toggle="modal" data-target="#myModal2" style="color:white;font-size:12px;margin-left: 16px;">
                  <i class="fa fa-plus-circle" aria-hidden="true">&nbsp;</i>Add Task</a> -->
                  <a  data-toggle="modal" data-target="#myModal2" style="color:white;font-size:12px;margin-left: 16px;">
                    <i class="fa fa-plus-circle" aria-hidden="true">&nbsp; Add Protective Measure</i></a>
              </div>
            </div>
            <div class="col-md-6">
              <!-- font-size:12px;margin-left:215px;colot:black; -->
              <mat-form-field style="font-size:12px;margin-left:215px;color:black">
                <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field><i class="fa fa-search" aria-hidden="true" style="font-size: 12px;color:black"></i>
            </div>
            <!-- <div>
              <mat-form-field>
                <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field><i class="fa fa-search" aria-hidden="true" style="font-size: 16px;"></i>
            </div>
            <div class="headerbtn">
              <a class="btncls" data-toggle="modal" data-target="#myModal2" style="width: 185px;">
                <i class="fa fa-plus-circle" aria-hidden="true" style="margin-left:20px">
                  Add Protective Measure</i></a>
            </div> -->
          </mat-toolbar>

          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="taskName">
              <mat-header-cell *matHeaderCellDef> Protective Measure </mat-header-cell>
              <mat-cell *matCellDef="let elem">
                <mat-form-field floatLabel="never" [ngClass]="{'form-field': selectedRowIndex != elem.id}">
                  <input matInput name="protectiveName" [(ngModel)]="elem.protectiveName" [disabled]="elem.isReadonly"
                  style="font-size: 12px;color: black;font-style: italic;">
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rsc">
              <mat-header-cell *matHeaderCellDef style="margin-left: 232px;margin-right: -140px;"> Robot </mat-header-cell>
              <mat-cell *matCellDef="let elem" style="margin-left: 232px;margin-right: -140px;">
                <mat-checkbox type="checkbox" [disabled]="elem.isReadonly" [(ngModel)]="elem.rsc" name="elem.rsc">
                </mat-checkbox>
              </mat-cell>
            </ng-container>&nbsp;&nbsp;&nbsp;&nbsp;

            <ng-container matColumnDef="msc">
              <mat-header-cell *matHeaderCellDef style="margin-left: 80px;"> Machine</mat-header-cell>
              <mat-cell *matCellDef="let elem" style="margin-left: 80px;">
                <mat-checkbox type="checkbox" [disabled]="elem.isReadonly" [(ngModel)]="elem.msc" name="elem.msc">
                </mat-checkbox>
              </mat-cell>
            </ng-container>&nbsp;&nbsp;&nbsp;&nbsp;

            <ng-container matColumnDef="csc">
              <mat-header-cell *matHeaderCellDef style="margin-left: -52px;margin-right: -70px;"> Crane </mat-header-cell>
              <mat-cell *matCellDef="let elem" style="margin-left: -52px;margin-right: -70px;">
                <mat-checkbox type="checkbox" [disabled]="elem.isReadonly" [(ngModel)]="elem.csc" name="elem.csc">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="defaultcheck">
              <mat-header-cell *matHeaderCellDef> DEFAULT </mat-header-cell>
              <mat-cell *matCellDef="let elem">
                <mat-checkbox type="checkbox" [disabled]="elem.isReadonly" [(ngModel)]="elem.defaultcheck"
                  name="elem.defaultcheck">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef style="margin-right: -138px;"></mat-header-cell>
              <mat-cell *matCellDef="let row" style="margin-right: -138px;">
                <button mat-icon-button (click)="delete(row)">
                  <mat-icon matTooltip="Delete" aria-hidden="false" aria-label="Example home icon" class="maticon1" style="color:gray">
                    delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>


            <ng-container matColumnDef="update">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button *ngIf="!row.isReadonly" style="margin-left: 50px" mat-button 
                  (click)="EditTask(row)">
                  <mat-icon matTooltip="Update" style="color:green">update</mat-icon>
                </button>
                <!-- <button *ngIf="!row.isReadonly" mat-icon-button (click)="cancelTask()">
                  <mat-icon matTooltip="Cancel" aria-hidden="false" aria-label="Example home icon" class="maticon1" style="margin-left: -15px;">
                    cancel</mat-icon>
                </button> -->
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="taskColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns : taskColumns; let i = index;"
              [ngClass]="{ 'highlight': selectedRowIndex == row.id }" (click)="cellClicked(row,i)">
            </mat-row>
          </mat-table>

          <mat-paginator [hidden]="!dataSource" [length]="100" [pageSize]="10" [pageSizeOptions]="[5,10,25,100]">
          </mat-paginator>
        </mat-card>
    </div>

    <!-----------------Second Section------------->
    <div class="col-md-4">
      <h4 style="color: darkred;font-style: italic;font-size: 12px;font-weight: 600;">Robot Details</h4><hr style="margin-top: 1px;">
      <mat-card style="border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
      <div class="header">
        <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
       
        <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
          Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
          Focus on <br>accurate,easy and fast data entry.
        </p>
      
        <br>
        <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
        <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
          Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
          Focus on <br>accurate,easy and fast data entry.
        </p>

        <br>
        <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
        <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
          Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
          Focus on <br>accurate,easy and fast data entry.
        </p>
      </div>
      </mat-card>
      
    </div>
  </div>
</div>

<!---------------- modal slider page add task--------->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-8">
          <h4 class="modal-title" id="myModalLabel2">New Protective Measure</h4>
        </div>
        
      </div>

      <div class="modal-body">
        <!-- <form class="form-example" #userForm="ngForm"> -->
        <form class="form-example" (ngSubmit)="save(createTaskModal.value)" #createTaskModal="ngForm">
          <div class="form-group">
            <label for="username" style="margin-top: 10px;font-style: italic;font-size: 12px;color: darkred;">Protective Measure Name:</label>
            <input type="text" class="form-control" name="protectiveName" id="protectiveName" required maxlength="32"
              [(ngModel)]="TaskDetails.protectiveName" #protectiveNameModel="ngModel" />
          </div>

          <div class="form-group">
            <div class="modalchk">
              <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.rsc" name="RSC" style="color: darkred;font-size:12px;font-style:italic">Robot </mat-checkbox>
              <p>Requires participation from all safety Team members.<br>
                
              </p>
            </div>
            <div class="modalchk1">
              <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.msc" name="MSC" style="color: darkred;font-size:12px;font-style:italic">Machine </mat-checkbox>
              <p>Requires participation from all safety Team members.<br>
               
              </p>
            </div>
            <div class="modalchk1">
              <mat-checkbox type="checkbox" [(ngModel)]="TaskDetails.csc" name="CSC" style="color: darkred;font-size:12px;font-style:italic">Crane </mat-checkbox>
              <p>Requires participation from all safety Team members.<br>
               
              </p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12" style="margin-top: 20px;margin-left: -15px;">
              <button type="submit" class="btn btn-primary" style="border-radius: 10px;font-size: 12px;">Add Protective Measure</button>&nbsp;&nbsp;&nbsp;
              <button type="reset" class="btn btn-primary" style="border-radius: 10px;font-size: 12px;">Add More</button>&nbsp;&nbsp;&nbsp;
              <button type="button" data-dismiss="modal" #closebutton class="btn btn-primary" style="border-radius: 10px;font-size: 12px;">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">