<!-- <form class="form-horizontal" autocomplete="off" #createHazModal="ngForm" (ngSubmit)="save(createHazModal.value)">
  <abp-modal-header [title]="'Create New Hazards'  "></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        {{ "Hazards Name"   }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="hazName" id="hazName" required maxlength="32"
        [(ngModel)]="HazardDetails.hazName" #hazNameModel="ngModel" #hazNameEl />
      </div>
    </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type"   }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="MSC" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox  type="checkbox" name="CSC" [(ngModel)]="CSC">
            CSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="RSC" name="RSC">
            RSC
          </mat-checkbox>

        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="Default" name="Default">
            Default
          </mat-checkbox>
        </div>

      </div>
    </div>

  </div>
  <abp-modal-footer></abp-modal-footer>
</form> -->

<div class="side-form">
  <form class="form-horizontal" autocomplete="off" #createHazModal="ngForm" (ngSubmit)="save(createHazModal.value)">

    <div class="form-group">
      <label class="col-md-3 col-form-label">
        {{ "Hazards Name"   }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="hazName" id="hazName" required maxlength="32"
          [(ngModel)]="HazardDetails.hazName" #hazNameModel="ngModel" #hazNameEl />
      </div>
    </div>

    <!-- <div class="form-group" style="margin-top: 20px;">
      <label for="username">Task Name</label>
      <input type="text" class="form-control" name="taskName" id="taskName" required maxlength="32"
        [(ngModel)]="TaskDetails.taskName" #taskNameModel="ngModel" />
    </div><br> -->

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type"   }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="HazardDetails.msc" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" name="CSC" [(ngModel)]="HazardDetails.csc">
            CSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="HazardDetails.rsc" name="RSC">
            RSC
          </mat-checkbox>

        </div>
        <!-- <div>
        <mat-checkbox type="checkbox" [(ngModel)]="Default" name="Default">
          Default
        </mat-checkbox>
      </div> -->

      </div>
    </div>
    <br>

    <div class="button2" style="margin-top:20px">
      <a class="btn btn-default" (click)="close()">Cancel</a>

      <!-- <button type="button" routerLink="/" class="btn btn-primary"
        style="width: 100px; margin-left: 35%;">Cancel</button>&emsp;&emsp;&emsp; -->
      <button type="submit" class="btn btn-primary" style="width: 100px; margin-left: 20%;">Submit</button>
    </div>
  </form>
</div>