<!-- <div class="container-fluid">
  <div class="row">
    
    <div class="col-md-8">
      <h4 style="color: darkred;font-style: italic;font-size: 13px;font-weight: 600;">Task Details</h4><hr style="margin-top: 1px;">
        <mat-card style="border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
         </mat-card>
         </div>
         </div>
         </div>
          -->