﻿<div class="auth-wrapper">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="margin-top: 20px;margin-right: 192px;margin-left: -45px;;">
      <div class="container">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="logo">
            <img src="../assets/img/logo1.png" style="width: 100px;margin-left: 20px;">
            <h4 style="color: white;margin-top: -46px;margin-left: 102px;">Robot Safety Center</h4>
          </div>
          
        </div>
      </div>
    </nav>


    <div class="row">
      <div class="col-md-8">
      
        <div class="main3" style="margin-left: -70px;">
          <ul style="padding: 0 0 0 15px;margin-top: 100px;font-size: 18px;color: white;margin-left: -10px;font-style: italic;">
            <li>Risk  Assessments are Required by OSHA  &nbsp;&  &nbsp;ANSI, &nbsp;RIA,  &nbsp;ISO,  &nbsp;NFPA and UL Standards.</li>
            <li style="margin-top:20px">Factories, &nbsp;Integrators &nbsp;AND OEMs.</li>
            <li style="margin-top:20px">Determination &nbsp;of &nbsp;PL / Category for Verification,  &nbsp;Design and Validation.</li>
            <li style="margin-top:20px">Fortune 500 adopted methodology.</li>
            <li style="margin-top:20px">1000s of Safety Professionals can't be Wrong. </li>
            <li style="margin-top:20px">Robot Fenceless,  &nbsp;AMR,  &nbsp;Collaborative and Power & Force Limited.</li>
            <li style="margin-top:20px">Cranes, &nbsp;ASRS, &nbsp;Lifts, &nbsp;Distribution Centers etc.</li>
            <li style="margin-top:20px">Software is in strict compliance with  ANSI / RIA &nbsp;TR &nbsp;R15.306-2016. <br> </li>
        </ul>
        </div>
        <!-- <div class="main-top">
          <p class="text-center" style="font-size: 30px;">KEEP YOUR ACCOUNT SECURE</p>
          <p class="text-center" style="font-size: 20px;">Safety Center Have its own in-house multi-factor <br>
            authentication app. Be assured we Shield your account <br>
            all the time.
          </p>
        </div> -->
        <!-- <div class="footer1" style="color:white;margin-top:45px">
          <p class="text-center" style="font-size: 22px;">Don’t have a Safety Center account? <a [routerLink]="['']"
              class="f-w-400">Sign up Now</a></p>
        </div> -->

      </div>
      <div class="col-md-4">
        <div class="login-form">
          <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()" class="form-horizontal">
            <i class="fa fa-user-tie" style="color: #fff;
            background: linear-gradient(45deg,#00a8ff 49%, #0097e6 50%);
            font-size: 55px;
            text-align: center;
            line-height: 67px;
            height: 65px;
            width: 65px;
            margin: 0 auto 15px;
            margin-left: 130px;
            margin-top: -13px;
            border-radius: 25px;"></i>
            <h4 class="text-center" style="margin-bottom: 35px;
            font-weight: 700;
           
            text-transform: capitalize;">Sign in</h4>
            <div class="form-group" style="margin-top: -5px;">
              <div class="input-group">
                <div class="input-group-append">
                  <div class="input-group-text" style="color: #007bff;">
                    <span class="fas fa-user" style="font-size: 15px;"></span>
                  </div>
                </div>
                <input type="text" class="form-control" name="userNameOrEmailAddress"
                  [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
                  [placeholder]="'UserNameOrEmail' | localize" required maxlength="256"
                  #userNameOrEmailAddressModel="ngModel" #userNameOrEmailAddressEl />
                
              </div>
              <abp-validation-summary [control]="userNameOrEmailAddressModel" [controlEl]="userNameOrEmailAddressEl">
              </abp-validation-summary>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <div class="input-group-text" style="color: #007bff;">
                    <span class="fas fa-lock" style="font-size: 15px;"></span>
                  </div>
                </div>
                <input type="password" class="form-control" name="password"
                  [(ngModel)]="authService.authenticateModel.password" [placeholder]="'Password' | localize" required
                  maxlength="32" #passwordModel="ngModel" #passwordEl />
                
              </div>
              <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"></abp-validation-summary>
            </div>
            <div class="clearfix">
              <label class="float-left form-check-label" style="font-size: 14px;">By continuing, you agree to the 
                 <a href="../../assets/img/uploads/Safety-Center-Privacy-Policy.pdf">privacy policy</a> and <a href="../../assets/img/uploads/Safety Center  Terms and Conditions.pdf"> Terms and conditions </a> of Robot Safety Center.
                </label>
              <!-- <a href="#" class="float-right">Forgot Password?</a> -->
            </div> <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
            </div>


            <!-- <div class="or-seperator"><i>or</i></div> -->
            <p class="text-center" style="font-size: 15px;">Forgot password? <a [routerLink]="['/account/forgetpass']" class="f-w-400">Reset</a></p>
            <p class="text-center" style="font-size: 15px;">Don’t have an account? <a [routerLink]="['/account/register']" class="f-w-400">Signup</a></p>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>