 <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4 style="color: darkred;font-style: italic;font-size: 13px;font-weight: 600;">Download To Excel</h4><hr style="margin-top: 1px;">
      <mat-card style="border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
        
        <div class="table1">
        <table class="table table-striped" style="margin-left: 0px;">
          <thead >
            <tr style="color: darkred;
            font-size: 12px;
            font-style: italic;">
              <th>Task</th>
              <th>Sub Task</th>
              <th>Hazards</th>
              <th>Protective Measure</th>
              <th>Safeguards</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div>
                <!-- <th> -->
                <mat-checkbox type="checkbox" [(ngModel)]="taskCheckbox" name="taskCheckbox"
                  (change)="selectAllTask($event)" style="margin-left: 3px;font-size: 12px;    width: 14px;
                  height: 14px;font-style: italic;">
                  Select All</mat-checkbox>
                <!-- </th> -->
                <mat-selection-list #task [(ngModel)]="taskSelectedOptions" (selectionChange)="onSelectionTask($event)"
                (ngModelChange)="onNgModelChangeTask($event)" >
                <mat-list-option checkboxPosition="before" *ngFor="let task of TaskdData" [value]="task.taskName" style="margin-left: -12px;margin-top: -19px;font-size: 12px;font-style: italic;">
                  {{task.taskName}}
                </mat-list-option>
                </mat-selection-list>
              </div>
              </td>

              <td>
                <div>
                <!-- <th> -->
                <mat-checkbox type="checkbox" [(ngModel)]="subtaskCheckbox" name="subtaskCheckbox"
                (change)="selectAllSubTask($event)" style="margin-left: 3px;font-size: 12px;    width: 14px;
                height: 14px;font-style: italic;">
                Select All</mat-checkbox>
                <!-- </th> -->
                <mat-selection-list #subtask [(ngModel)]="subtaskSelectedOptions" (selectionChange)="onSelectionSubtask($event)"
                (ngModelChange)="onNgModelChangeSubtask($event)">
                <mat-list-option checkboxPosition="before" *ngFor="let sub of SubtaskdData" [value]="sub.subtaskName" style="margin-left: -12px;
                margin-top: -19px;
                font-size: 12px;
                width: 165px;font-style: italic;">
                {{sub.subtaskName}}
                </mat-list-option>
                </mat-selection-list>
              </div>
              </td>

              <td>
                <div>
                <!-- <th> -->
                <mat-checkbox type="checkbox" name="hazardCheckbox" (change)="selectAllHazard($event)" [(ngModel)]="hazardCheckbox" style="margin-left: 3px;font-size: 12px;    width: 14px;
                height: 14px;font-style: italic;">
                Select All</mat-checkbox>
                <!-- </th> -->
                <mat-selection-list #hazard [(ngModel)]="hazardSelectedOptions" (selectionChange)="onSelectionHazard($event)"
                (ngModelChange)="onNgModelChangeHazard($event)">
                <mat-list-option checkboxPosition="before" *ngFor="let haz of HazardData" [value]="haz.hazName"  style="margin-left: -12px;
                margin-top: -19px;
                font-size: 12px;
                width: 165px;font-style: italic;">
                {{haz.hazName}}
                </mat-list-option>
                </mat-selection-list>
              </div>
              </td>

              <td>
                <div>
                <!-- <th> -->
                <mat-checkbox type="checkbox" name="protectCheckbox" [(ngModel)]="protectCheckbox"
                (change)="selectAllProtect($event)" style="margin-left: 3px;font-size: 12px;width: 14px;
                height: 14px;font-style: italic;">
                 Select All</mat-checkbox>
                <!-- </th> -->
                <mat-selection-list #protectM [(ngModel)]="protectSelectedOptions" (selectionChange)="onSelectionProtect($event)"
                (ngModelChange)="onNgModelChangeProtect($event)">
                <mat-list-option checkboxPosition="before" *ngFor="let pm of ProtectiveData" [value]="pm.protectiveName"  style="margin-left: -12px;
                margin-top: -19px;
                font-size: 12px;
                width: 165px;font-style: italic;">
                {{pm.protectiveName}}
                </mat-list-option>
                </mat-selection-list>
              </div>
              </td>

              <td>
              <div>
              <!-- <th> -->
              <mat-checkbox type="checkbox" name="safeCheckbox" [(ngModel)]="safeCheckbox" (change)="selectAllSafeguard($event)" style="margin-left: 3px;font-size: 12px;width: 14px;
              height: 14px;font-style: italic;">
              Select All</mat-checkbox>
              <!-- </th> -->
              <mat-selection-list #safeguard [(ngModel)]="safeguardSelectedOptions" (selectionChange)="onSelectionSafeguard($event)"
              (ngModelChange)="onNgModelChangeSafeguard($event)">
              <mat-list-option checkboxPosition="before" *ngFor="let safe of SafeguardData" [value]="safe.safeguardName"  style="margin-left: -12px;
              margin-top: -19px;
              font-size: 12px;
              width: 165px;font-style: italic;">
              {{safe.safeguardName}}
              </mat-list-option>
              </mat-selection-list>
            </div>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
       <div class="row">
         <button (click)="exportToExcel()" style="margin-left: 42%; background-color: #337ab7;height: 35px;color:white;font-size: 12px;" mat-button>Export To Excel</button>
         <button (click)="cancelExcel()" style="margin-left: 2%; background-color: #337ab7;height: 35px;color:white;font-size: 12px;" mat-button>Cancel</button>
       </div> 

    </mat-card>
</div>

</div>
 </div>
    







      
    <!-- <div class="col-md-4">
      <h4 style="color: darkred;font-style: italic;font-size: 13px;font-weight: 600;">Robot Details</h4><hr style="margin-top: 1px;">
      <mat-card style="border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
      <div class="header">
        <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
       
        <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
          Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
          Focus on <br>accurate,easy and fast data entry.
        </p>
      
        <br>
        <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
        <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
          Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
          Focus on <br>accurate,easy and fast data entry.
        </p>

        <br>
        <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
        <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
          Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
          Focus on <br>accurate,easy and fast data entry.
        </p>
      </div>
      </mat-card>
      
    </div> -->
  <!-- </div>
</div> -->


 <!-- <div class="container-fluid" style="margin-top: -25px;">
  <div class="row">
    <div class="">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">

          </div>
        </div>
      </section>
      <section class="content px-2" style="margin-top: -28px; margin-left: 300px;">
        <mat-card-content class="card-body">
          <mat-toolbar style="background-color: #FF9800;">
            <div style="margin-left: 350px;" class="">
              <h1>Download To Excel</h1>
            </div>
            
          </mat-toolbar>
          <table class="table text-nowrap">
            <thead class="bg-light">
              <tr>
                <th>Task</th>
                <th>Sub Task</th>
                <th>Hazards</th>
                <th>Protective Measure</th>
                <th>Safeguards</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  
                  <div>
                <th style="border: 0ch;">
                  <mat-checkbox type="checkbox" [(ngModel)]="taskCheckbox" name="taskCheckbox"
                    (change)="selectAllTask($event)">
                    Select All</mat-checkbox>
                </th>
                <mat-selection-list #task [(ngModel)]="taskSelectedOptions" (selectionChange)="onSelectionTask($event)"
                  (ngModelChange)="onNgModelChangeTask($event)">
                  <mat-list-option checkboxPosition="before" *ngFor="let task of TaskdData" [value]="task.taskName">
                    {{task.taskName}}
                  </mat-list-option>
                </mat-selection-list>
    </div>
    </td>

    <td>
      <div>
    <th style="border: 0ch;">
      <mat-checkbox type="checkbox" [(ngModel)]="subtaskCheckbox" name="subtaskCheckbox"
        (change)="selectAllSubTask($event)">
        Select All</mat-checkbox>
    </th>
    <mat-selection-list #subtask [(ngModel)]="subtaskSelectedOptions" (selectionChange)="onSelectionSubtask($event)"
      (ngModelChange)="onNgModelChangeSubtask($event)">
      <mat-list-option checkboxPosition="before" *ngFor="let sub of SubtaskdData" [value]="sub.subtaskName">
        {{sub.subtaskName}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  </td>

  <td>
    <div>
  <th style="border: 0ch;">
    <mat-checkbox type="checkbox" name="hazardCheckbox" (change)="selectAllHazard($event)" [(ngModel)]="hazardCheckbox">
      Select All</mat-checkbox>
  </th>
  <mat-selection-list #hazard [(ngModel)]="hazardSelectedOptions" (selectionChange)="onSelectionHazard($event)"
    (ngModelChange)="onNgModelChangeHazard($event)">
    <mat-list-option checkboxPosition="before" *ngFor="let haz of HazardData" [value]="haz.hazName">
      {{haz.hazName}}
    </mat-list-option>
  </mat-selection-list>
</div>
</td>

<td>
  <div>
<th style="border: 0ch;">
  <mat-checkbox type="checkbox" name="protectCheckbox" [(ngModel)]="protectCheckbox"
    (change)="selectAllProtect($event)">
    Select All</mat-checkbox>
</th>
<mat-selection-list #protectM [(ngModel)]="protectSelectedOptions" (selectionChange)="onSelectionProtect($event)"
  (ngModelChange)="onNgModelChangeProtect($event)">
  <mat-list-option checkboxPosition="before" *ngFor="let pm of ProtectiveData" [value]="pm.protectiveName">
    {{pm.protectiveName}}
  </mat-list-option>
</mat-selection-list>
</div>
</td>
<td>
  <div>
<th style="border: 0ch;">
  <mat-checkbox type="checkbox" name="safeCheckbox" [(ngModel)]="safeCheckbox" (change)="selectAllSafeguard($event)">
    Select All</mat-checkbox>
</th>
<mat-selection-list #safeguard [(ngModel)]="safeguardSelectedOptions" (selectionChange)="onSelectionSafeguard($event)"
  (ngModelChange)="onNgModelChangeSafeguard($event)">
  <mat-list-option checkboxPosition="before" *ngFor="let safe of SafeguardData" [value]="safe.safeguardName">
    {{safe.safeguardName}}
  </mat-list-option>
</mat-selection-list>
</div>
</td>

</tr>
</tbody>
</table>

</mat-card-content>
<div class="row">
<button (click)="exportToExcel()" style="margin-left: 40%; background-color: gray;" mat-button>Export To Excel</button>
<button (click)="cancelExcel()" style="margin-left: 10%; background-color: gray;" mat-button>Cancel</button>
</div>
</section>
</div>

</div>
</div>  -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">