.mat-card{
  
  /* margin-top: 25px;
  max-width: fit-content; */
  /* width: 100%;*/
}

/* .table {
  border-collapse: collapse;
} */

.table, th, td {
  border: 1px solid #bababa; 
 } 

/* .th{
  text-align: center;
} */