﻿<div class="auth-wrapper">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="margin-top: 20px;margin-right: 192px;margin-left: -45px;;">
      <div class="container">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="logo">
            <img src="../assets/img/logo1.png" style="width: 100px;margin-left: 20px;">
            <h4 style="color: white;margin-top: -46px;margin-left: 102px;">Robot Safety Center</h4>
          </div>
          
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-8">
        <div class="main3" style="margin-left: -70px;">
          <h3 style="font-weight: bold;color:white;font-size: 20px;">Why to Sign Up?</h3>
          <ul
            style="padding: 0 0 0 15px;margin-bottom: 130px;margin-top: 35px;font-size: 18px;color: white;margin-left: 8px;">
            <li>RIA Certified Robot Integrators must conduct a Risk <br> Assessment on every system.</li>
            <li style="margin-top:20px">Task Based Risk Assessment Software.</li>
            <li style="margin-top:20px">Scalable User License.</li>
            <li style="margin-top:20px">Consulting and Training Service.</li>
            <li style="margin-top:20px">Collaborative Work System. </li>
            <li style="margin-top:20px">Cloud Base Scaling with Flexible design for your needs.</li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="login-form">
          <form autocomplete="off" #registerForm="ngForm" (ngSubmit)="save()">
            <h4 class="mb-3 f-w-400" style="font-size: 18px;
            color: orangered;
            margin-top: 0px;
            margin-left: 20px;">Start
              With Your Free Account Today </h4>
            <h4 class="mb-3 f-w-400" style="font-size: 18px;margin-top: -10px;text-align: center;">OR
            </h4>
            <h4 class="mb-3 f-w-400"
              style="font-size: 26px;font-size: 18px;margin-top: -10px;color:#3c8dbc;text-align: center;">Buy Now</h4>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <div class="input-group-text" style="color: #007bff;">
                    <span class="fas fa-user" style="font-size: 15px;"></span>
                  </div>
                </div>
                <input type="text" class="form-control" name="name" placeholder="{{ 'First Name' | localize }}" required
                  maxlength="64" [(ngModel)]="model.name" #nameModel="ngModel" #nameEl />
               
              </div>
              <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <div class="input-group-text" style="color: #007bff;">
                    <span class="fas fa-arrow-left" style="font-size: 15px;"></span>
                  </div>
                </div>
                <input type="text" class="form-control" name="surname" placeholder="{{ 'Last Name' | localize }}" required
                  maxlength="64" [(ngModel)]="model.surname" #surnameModel="ngModel" #surnameEl />
              </div>
              <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope" style="color: #007bff;font-size: 15px;"></span>
                  </div>
                </div>
                <input type="email" class="form-control" name="emailAddress"
                  placeholder="{{ 'Email  Address' | localize }}" required maxlength="256"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" [(ngModel)]="model.emailAddress"
                  #emailAddressModel="ngModel" #emailAddressEl (keyup)="keytab($event)" />
               
              </div>
              <abp-validation-summary [control]="emailAddressModel" [controlEl]="emailAddressEl">
              </abp-validation-summary>
            </div>
        
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <div class="input-group-text" style="color: #007bff;">
                    <span class="fas fa-key" style="font-size: 15px;"></span>
                  </div>
                </div>
                <input [type]="passwordTextType ? 'text' : 'password'" class="form-control" name="password" placeholder="{{ 'Password' | localize }}"
                [(ngModel)]="model.password"  validateEqual="password" reverse="false" required maxlength="32" 
                #passwordModel="ngModel"  #passwordEl/>
                <div class="input-group-text"> <i
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !passwordTextType,
                    'fa-eye': passwordTextType
                  }"
                  (click)="passwordFieldTextType()"
                ></i></div>
                 
              </div>
              <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"
              [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-check" style="color: #007bff;font-size:15px"></span>
                    </div>
                  </div>
                  <input [type]="confirmpassTextType ? 'text' : 'password'" class="form-control" name="confirmPassword" placeholder="{{ 'Confirm Password' | localize }}"
                  [(ngModel)]="model.confirmPassword"  validateEqual="password" reverse="false" required maxlength="32" 
                  #confirmPasswordModel="ngModel"  #confirmPasswordEl/>
                  <div class="input-group-text"> <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !confirmpassTextType,
                      'fa-eye': confirmpassTextType
                    }"
                    (click)="confirmpasswordFieldTextType()"
                  ></i></div>
                   
                </div>
                <abp-validation-summary [control]="confirmPasswordModel" [controlEl]="confirmPasswordEl"
                [customValidationErrors]="confirmPasswordValidationErrors"></abp-validation-summary>
                </div>
  

            <div class="form-group">
              <div class="input-group">
                <input type="email" class="form-control" name="userName" placeholder=" {{ 'UserName' | localize }}"
                  required maxlength="32" [(ngModel)]="model.userName" #userNameModel="ngModel" #userNameEl (keyup)="keytab($event)" hidden/>
              </div>
              <abp-validation-summary [control]="userNameModel" [controlEl]="userNameEl"></abp-validation-summary>
            </div>

            <!-- <div  class="switches clearfix">
              <label class="float-left form-check-label"> By continuing, you agree to the 
                <a href="../../assets/img/uploads/Safety-Center-Privacy-Policy.pdf">privacy policy</a> and <a href="../../assets/img/uploads/Safety Center  Terms and Conditions.pdf"> Terms and conditions </a> of Robot Safety Center.
                </label>

            </div> <br> -->
            <!-- <ol class="switches" style="margin-top: -17px;">
              <input type="checkbox" id="8">
              <label for="8" style="font-size: 14px;">
                <span></span>&nbsp;&nbsp;
                By continuing, you agree to the 
              </label>
          </ol> -->

          <ol class="switches">
            <li>
              <input type="checkbox" id="1">
              
                <label for="1">
                  <!-- <span>Tidy the Car</span> -->
                  <span></span>&nbsp;&nbsp;
                  
                </label>
              
              <div class="" style="margin-top: -50px;margin-left: 20px;">
                <b style="font-size: 14px;font-weight: 400;">By continuing, you agree to the 
                  <a href="../../assets/img/uploads/Safety-Center-Privacy-Policy.pdf">privacy policy</a> and <a href="../../assets/img/uploads/Safety Center  Terms and Conditions.pdf"> Terms and conditions </a> of Robot Safety Center.</b>
              </div>
            </li>
            </ol>

            <div class="form-group" style="margin-top:10px">
              <button type="submit" class="btn btn-primary login-btn btn-block"
                [disabled]="!registerForm.form.valid || saving">Sign Up For Free</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>