
.navbar-brand{
    color: white;
      font-size: 30px;
      background: none;
}
.auth-wrapper{
    background-image: url('/assets/img/company1.jpg');
    background-size: cover;
    background-position: center center;
    height: 820px;
    margin-top: -164px;
}

.description{
    color: rgba(255,255,255,.8);
}
.info-title{
    color: rgba(255,255,255,.8);
    color: rgba(255,255,255,.8);
    margin-left: 75px;
    margin-top: -65px;
    font-size: 25px;
}
.description1{
    color: rgba(255,255,255,.8);
    margin-left:75px;
    font-size: 16px
}

.card1{
    height: 500px;
    width: 450px;
    margin-top: 290px;
    background-color: white;
    border-top: 5px solid #3c8dbc;
    border-radius: 2px;
    margin-left: 520px;
}

.nav-link{
    font-size: 18px;
    color: white;
    margin-right: 12px;
}
.custom-control-label{
    font-size: 14px;
    margin-left: -175px;
    
}

/*-------------------------------*/
.login-form {
    width: 380px;
    margin: 30px auto;
    margin-top: 210px;
    border-top: 5px solid #007bff;
}
.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    border-radius: 2px;
}
.input-group-prepend .fa {
    font-size: 18px;
}
.login-btn {
    font-size: 15px;
    font-weight: bold;
  	min-height: 40px;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}
.social-btn .btn:hover {
    opacity: 0.9;
}
.social-btn .btn-secondary, .social-btn .btn-secondary:active {
    background: #507cc0 !important;
}
.social-btn .btn-info, .social-btn .btn-info:active {
    background: #64ccf1 !important;
}
.social-btn .btn-danger, .social-btn .btn-danger:active {
    background: #df4930 !important;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}   

.col-md-8{
     /* background-color: rgba(0, 0, 0, 0.25) !important;  */
    margin-top: 320px;
    border-radius: 25px;
}
.main-top{
    color: white;
    /* margin-top: 20px; */
}
.main-top1{
    font-size: 120px;
    color: white;
    text-align: center;
   
}


/* Toggle button */

:root {
    --white: #e8e9ed;
    --gray: #434257;
    --green: #00BFFF;
  
  }
  
  [type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  .switches label {
    display: flex;
   /* padding: 15px; */
  }
  
  .switches span:last-child {
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 15px;
    background: var(--gray);
    margin-left: -39px;
    margin-top: -15px;
  }
  
  .switches span:last-child::before,
  .switches span:last-child::after {
    content: "";
    position: absolute;
  }
  
  .switches span:last-child::before {
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background: var(--white);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
  }
  
  .switches span:last-child::after {
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
    background-size: 12px 12px;
  }
  
  .switches [type="checkbox"]:checked + label span:last-child {
    background: var(--green);
  }
  
  .switches [type="checkbox"]:checked + label span:last-child::before {
    transform: translateX(24px);
  }
  
  .switches [type="checkbox"]:checked + label span:last-child::after {
    width: 14px;
    height: 14px;
    /*right: auto;*/
    left: 8px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
    background-size: 14px 14px;
  }
  
  