<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h4>Safety Measure Details</h4><hr style="margin-top: 1px;">
              <mat-card style="height: 445px;">
                <mat-toolbar>
                  <div class="col-md-6">
                    <div class="btncs">
                      <a  data-toggle="modal" data-target="#myModal2"  style="color:white;font-size:12px;margin-left: 16px;">
                        <i class="fa fa-plus-circle" aria-hidden="true">&nbsp;</i>Add Safety Measure</a>
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <mat-form-field style="font-size:12px;margin-left: 215px;color:black">
                        <input matInput type="text"  placeholder="Search" style="font-size: 12px;color:black">
                    </mat-form-field><i class="fa fa-search" aria-hidden="true" style="font-size: 12px;"></i>
                  </div> -->
                </mat-toolbar>
                
                <mat-table>
                  <ng-container matColumnDef="taskName">
                    <mat-header-cell *matHeaderCellDef> Requirement  </mat-header-cell>
                    <mat-cell *matCellDef="let elem">
                      <mat-form-field floatLabel="never" >
                        <input matInput name="taskName" 
                          style="font-size: 12px;color: black;font-style: italic;">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="taskName">
                    <mat-header-cell *matHeaderCellDef> Measure Name  </mat-header-cell>
                    <mat-cell *matCellDef="let elem">
                      <mat-form-field floatLabel="never" >
                        <input matInput name="taskName" 
                          style="font-size: 12px;color: black;font-style: italic;">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

      
                  <!-- <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef style="margin-right: -138px;"></mat-header-cell>
                    <mat-cell *matCellDef="let row" style="margin-right: -138px;">
                      <button mat-icon-button >
                        <mat-icon matTooltip="Delete" aria-hidden="false" aria-label="Example home icon" class="maticon1" style="color:gray">
                          delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container> -->
      
      
                  <!-- <ng-container matColumnDef="update">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button *ngIf="!row.isReadonly" style="margin-left: 50px" mat-button  
                        (click)="EditTask(row)">
                        <mat-icon matTooltip="Update" style="color:green">update</mat-icon>
                        
                      </button>
                      
                    </mat-cell>
                  </ng-container> -->
      
      
                  <mat-header-row ></mat-header-row>
                  <mat-row >
                  </mat-row>
                </mat-table>
      
              </mat-card>
             
          </div>

          <div class="col-md-4">
            <h4 style="color: darkred;font-style: italic;font-size: 12px;font-weight: 600;">Robot Details</h4><hr style="margin-top: 1px;">
            <mat-card style="border: 1px solid #d8cfcf;box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);border-radius: 10px;">
            <div class="header">
              <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
             
              <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
                Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
                Focus on <br>accurate,easy and fast data entry.
              </p>
            
              <br>
              <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
              <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
                Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
                Focus on <br>accurate,easy and fast data entry.
              </p>
        
              <br>
              <h4 style="color: #FF9800;font-size: 14px;font-style: italic;">Robot safety Center</h4>
              <p style="font-size: 14px;font-style: italic;">Requires participation from all safety Team members.<br>
                Continuous Improvement and Lessons Learned from <br> ANSI/ RIA Committe members and clients.
                Focus on <br>accurate,easy and fast data entry.
              </p>
            </div>
            </mat-card>
            
          </div>
    </div>
</div>

<!---------------------modal form-------------------->
<div class="modal right fade" id="myModal2"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-8">
          <h4 class="modal-title" id="myModalLabel2">New Safety Measure</h4>
        </div>
      
      </div>

      <div class="modal-body"><span class="arrow"></span>
       <form class="form-example" >
          <div class="form-group">
            <label for="username" style="margin-top: 10px;font-style: italic;font-size: 12px;color: darkred;">Safety Requirement:</label>
            <input type="text" class="form-control" name="taskName" id="taskName" required maxlength="32"
              />
          </div>

          <div class="form-group">
            <label for="username" style="margin-top: 10px;font-style: italic;font-size: 12px;color: darkred;">Safety Measure:</label>
            <input type="text" class="form-control" name="taskName" id="taskName" required maxlength="32"
              />
          </div>

          
          <div class="form-group">
            <div class="col-md-12" style="margin-top: 20px;margin-left: -15px;">
              <button type="submit" class="btn btn-primary" style="border-radius: 10px;font-size: 12px;">Add Safety Measure</button>&nbsp;&nbsp;&nbsp;
              <button type="reset" class="btn btn-primary" #resetButton style="border-radius: 10px;font-size: 12px;">Add More</button>&nbsp;&nbsp;&nbsp;
              <button type="button" data-dismiss="modal" style="border-radius: 10px;font-size: 12px;" #closebutton class="btn btn-primary">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">







