<!-- <div class="container">
    <section class="content-header" *ngIf="subscriptiondiv">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6" style="margin-left: 120px;margin-top: -20px;">
                    <h4>{{ "Setup Page"}}</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="content-header" *ngIf="!subscriptiondiv">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h4 style="color: black;font-weight: bold;margin-bottom: 20px;">{{ "My Profile"}}</h4>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-md-3 col-sm-3" *ngIf="subscriptiondiv" style="margin-left: 130px;margin-top: -18px;">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="heading">
                        <h3>MY SUBSCRIPTION</h3>
                    </span>
                </div>
                <div class="pricingContent">
                    <ul>
                        <li [routerLink]="['/app/Locations']"><i class="fa fa-map-marker" aria-hidden="true"
                                style="font-style: italic;">&nbsp;&nbsp;Location</i></li>
                        <li [routerLink]="['/app/userprotal']"><i class="fa fa-user" aria-hidden="true"
                                style="font-style: italic;">&nbsp;&nbsp;Manage User</i></li>
                        <li><i class="fa fa-university" aria-hidden="true"
                                style="font-style: italic;">&nbsp;&nbsp;Billing Information</i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3"  *ngIf="subscriptiondiv" style="margin-top: -18px;">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="heading">
                        <h3>PARAMETERS</h3>
                    </span>
                </div>
                <div class="pricingContent">
                    <ul>
                        <li> <i class="fas fa-bars" [routerLink]="['/app/task']"
                                style="font-style: italic;">&nbsp;&nbsp;Task</i></li>
                        <li> <i class="fas fa-check-square" [routerLink]="['/app/subtask']"
                                style="font-style: italic;">&nbsp;&nbsp;Subtask</i></li>
                        <li><i class="fas fa-th" [routerLink]="['/app/hazard']"
                                style="font-style: italic;">&nbsp;&nbsp;Hazards</i></li>
                        <li><i class="fas fa-chevron-circle-down" [routerLink]="['/app/safeguard']"
                                style="font-style: italic;">&nbsp;&nbsp;Safeguards</i></li>
                        <li><i class="fas fa-lock" [routerLink]="['/app/protectivemeasure']"
                                style="font-style: italic;">&nbsp;&nbsp;Protective Measures</i></li>
                    </ul>
                </div>
            </div>
        </div>

       
        <!-- <div class="col-md-3 col-sm-3" style="margin-top:60px" *ngIf="subscriptiondiv"></div> -->

        <!-- <div class="col-md-9 col-sm-9"  *ngIf="!subscriptiondiv">
            <div class="card" style="margin-top: -20px;    box-shadow: 0 0 1px rgb(0 0 0 / 70%), 0 1px 3px rgb(0 0 0 / 65%);">
                <div style="height: 22px;
                margin-top: 9px;
                margin-left: -2px;">
                    <div class="col-md-6">
                        <b>Company:</b> <br> {{model1.companyName}}
                    </div>
                    <div class="col-md-6">
                        <button type="button" data-toggle="modal" data-target="#Company" class="btn btn-secondary"
                        style="float:right;width:90px;font-size:12px;background-color: #b7b4b4;">Edit</button>
                    </div>
                </div><hr>
                <div style="margin-top: -14px;height:25px">
                    <div class="col-md-6">
                        <b>Name:</b> <br>{{model2.name}} {{model2.surname}}
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myprofile"
                        style="float:right;width:90px;font-size: 12px;background-color: #b7b4b4;">Edit</button>
                    </div>
                </div><hr>
                <div style="margin-top: -14px;height: 25px;">
                    <div class="col-md-6">
                        <b>Email Address:</b><br> {{model2.emailAddress}}
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Email"
                        style="float:right;width:90px;font-size:12px;background-color: #b7b4b4;">Edit</button>
                    </div>
                </div><hr>
                <div style="margin-top: -14px;height: 55px;">
                    <div class="col-md-6">
                        <b>Password Details:</b><br>{{password}}
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#password"
                    style="float:right;width:90px;font-size:12px;background-color: #b7b4b4;">Edit</button>
                    </div>
                </div>
            </div>
            <div>
                <h4 style="color: black;font-weight: bold;margin-top: 20px;">Billing Info</h4>
            </div>
            <div class="card" style="box-shadow: 0 0 1px rgb(0 0 0 / 70%), 0 1px 3px rgb(0 0 0 / 65%);">
                <div style="height: 25px;margin-top: 9px;
                margin-left: -2px;">
                    <div class="col-md-6">
                        <b>Address:</b><br> {{model1.address}}
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Address"
                        style="float:right;width:90px;font-size:12px;background-color: #b7b4b4;">Edit</button>
                    </div>
                </div><hr>
                <div style="height: 55px;">
                    <div class="col-md-6">
                        <b>Card Details:</b>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#carddetails"
                        style="float:right;width:90px;font-size:12px;background-color: #b7b4b4;">Edit</button>
                    </div>
                </div>
            </div>
         </div>

    <!-- Modal -->

        <!-- <div class="modal fade" id="Company" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #FF9800;"> -->
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <form #updateCompanyForm  autocomplete="off" (ngSubmit)="Updatecomapany(updateCompanyForm.value)">
                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Company Name:</label>
                                    <input type="text" name="companyName" class="form-control"
                                        placeholder="{{ 'Company Name' | localize }}" required maxlength="64"
                                        [(ngModel)]="model1.companyName" #companyNameModel="ngModel" #companyNameEl /> -->
                                        <!-- Cname -->
                                    <!-- </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Phone Number:</label>
                                    <input type="text" name="phoneno" class="form-control" appPhoneMask
                                        placeholder="{{ 'Phone No' | localize }}" required maxlength="64"
                                        [(ngModel)]="model1.phoneno" #phonenoModel="ngModel" #phonenoEl />
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-right: 20px;">
                                <button mat-raised-button class="updatebtn" >Update </button>&nbsp;&nbsp;
                                <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="modal fade" id="myprofile" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #FF9800;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <form #updateprofileForm  autocomplete="off" (ngSubmit)="Updateprofile(updateprofileForm.value)">
                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>First Name:</label>
                                    <input type="text" name="name" class="form-control"
                                        placeholder="{{ 'First Name' | localize }}" required maxlength="64"
                                        [(ngModel)]="model2.name" #nameModel="ngModel" #nameEl />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Last Name:</label>
                                    <input type="text" name="surname" class="form-control"
                                        placeholder="{{ 'Last Name' | localize }}" required maxlength="64"
                                        [(ngModel)]="model2.surname" #surnameModel="ngModel" #surnameEl />
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-right:40px">
                                <button mat-raised-button class="updatebtn">Update </button>&nbsp;&nbsp;
                                <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="modal fade" id="Email" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #FF9800;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <form #updateprofileemailForm  autocomplete="off" (ngSubmit)="UpdateprofileEmail(updateprofileemailForm.value)">
                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Email Id:</label>
                                    <input type="text" name="emailAddress" class="form-control"
                                        placeholder="{{ 'Email Address' | localize }}" required maxlength="64"
                                        [(ngModel)]="model2.emailAddress" #emailAddressModel="ngModel" #emailAddressEl />
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-right:40px">
                                <button mat-raised-button class="updatebtn">Update </button>&nbsp;&nbsp;
                                <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
                            </div>
                            </form>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="modal fade" id="password" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #FF9800;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">

                            <form #passwordform autocomplete="off"  (ngSubmit)="Updatepassword(passwordform.value)" > --> 
                            <!-- <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Current Password:</label>
                                    <input type="text" name="name" class="form-control"
                                        placeholder="{{ 'Current Password' | localize }}" required maxlength="64"
                                        [(ngModel)]="model.name" #nameModel="ngModel" #nameEl />
                                </div>
                            </div> -->

                            <!-- <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>New Password:</label>
                                    <input type="text" name="password" class="form-control"
                                        placeholder="{{ 'New Password' | localize }}" required maxlength="64"
                                        validateEqual="password" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Confirm Password:</label>
                                    <input type="text" name="confirmPassword"/>
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-right:40px">
                                <button mat-raised-button class="updatebtn">Update </button>&nbsp;&nbsp;
                                <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
                            </div>
                            </form>
                        </div>
                    </div>
          
                </div>
            </div>
        </div>

        <div class="modal fade" id="Address" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #FF9800;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <form #companyaddressform autocomplete="off"  (ngSubmit)="UpdatecomapanyAddress(companyaddressform.value)" >
                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Address:</label>
                                    <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                                 class="form-control" name="address" [(ngModel)]="model1.address" #addressModel="ngModel" placeholder="{{ 'Address' | localize }}"
                                 #addressEl />
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-right:40px" >
                                <button mat-raised-button class="updatebtn" >Update </button>&nbsp;&nbsp;
                                <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
                            </div>
                            </form>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="modal fade" id="carddetails" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #FF9800;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-field1 col-md-12">
                                    <label>Card Details:</label>
                                    <input type="text" name="name" class="form-control"
                                        placeholder="{{ 'Card Details' | localize }}" required maxlength="64"
                                        [(ngModel)]="model.name" #nameModel="ngModel" #nameEl />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-right:40px">
                        <button mat-raised-button class="updatebtn" >Update </button>&nbsp;&nbsp;
                        <button mat-raised-button class="cancelbtn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

     
        <div class="col-md-3 col-sm-3" style="margin-top: -18px;">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="heading">
                        <h3>My Profile</h3>
                    </span>
                </div>
                <div class="pricingContent">
                    <ul>
                        <li><i class="fa fa-user" aria-hidden="true" style="font-style: italic;"
                                (click)="ShowHideButton()">&nbsp;&nbsp;Profile</i>
                        </li>
                        <li><i class="fa fa-envelope" aria-hidden="true" style="font-style: italic;">&nbsp;&nbsp;Manage
                                Subscription</i></li>
                        <li><i class="fa fa-mobile" aria-hidden="true" style="font-style: italic;">&nbsp;&nbsp;Billing
                                History</i></li>
                        <li><i class="fa fa-mobile" aria-hidden="true" style="font-style: italic;">&nbsp;&nbsp;Customer
                                Support</i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --> 
