   <div class="">
     <div class="">
      <h4>Verification By Task</h4><hr style="margin-top: 1px;">
       <div class="col-md-12">
        <div class="form-group">
          <label for="" style="margin-top: 10px;font-style: italic;font-size: 12px;color: darkred;">Task</label>
          <mat-select matInput type="text" autocomplete="off" name="oldtaskD" class="form-control" [(ngModel)]="oldtaskD"
        (selectionChange)="onTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
        <mat-option *ngFor="let tasktemp of taskoldData" [value]="tasktemp.id">
          {{tasktemp.taskName}}
        </mat-option>
      </mat-select>

      <div>
        <div class="col-md-12" style="margin-top: 30px;">
          <button style="background: orange;font-size: 12px;
          width: 100px;    margin-left: 160px;" type="submit" class="btn btn-secondary" (click)="Verify()">Verify </button>&nbsp;&nbsp;&nbsp;
        
          <button class="btn btn-secondary" (click)="close()" style="font-size: 12px;
          width: 100px;">Cancel</button>
        </div>
       
      </div>
        </div>
       </div>
     </div>
   </div>
   
   <style>
    h4{
    color: darkred;font-style: italic;font-size: 16px;font-weight: 600;text-align: center;
  }
  
  
  </style>
   <!-- <h1>Verification By Task</h1>


    <div class="col-md-12">
      &nbsp;&nbsp;&nbsp;&nbsp;<b class="thick"> Tasks&nbsp;</b> &nbsp;&nbsp;
    
      <mat-select matInput type="text" autocomplete="off" name="oldtaskD" class="form-control" [(ngModel)]="oldtaskD"
        (selectionChange)="onTaskSelection($event.value)" [placeholder]="'Select Some Option'" required>
        <mat-option *ngFor="let tasktemp of taskoldData" [value]="tasktemp.id">
          {{tasktemp.taskName}}
        </mat-option>
      </mat-select>
  
<br>
<br>
<br>


      <button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
         class="mat-flat-button mat-primary" (click)="Verify()" >Verify </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="mat-flat-button mat-accent" (click)="close()" style="margin-right: 10px;">Cancel</button>
 -->









