<div class="mainpage">
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper" style="background: #727cb6;">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">pro sidebar</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
         
          <div class="user-info" style="margin-top: 20px;margin-left: 20px;">
            <h5 style="color:white;font-size:18px">Personal Preferences</h5>
          </div>
        </div>
       
        <div class="sidebar-menu">
          <ul>
           <li class="sidebar-dropdown" style="margin-top: 20px;">
              <a href="/app/profile">
                <i class="fa fa-tachometer-alt" style="color: #727cb6;background-color: white;"></i>
                <span style="color:white;font-size:16px">personal Information</span>
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a href="">
                <i class="fa fa-building" style="color: #727cb6;background-color: white;"></i>
                <span style="color:white;font-size:16px">company profile</span>
             </a>
             </li>
             <li class="sidebar-dropdown">
                <a href="/app/userportal">
                  <i class="fa fa-cog" style="color: #727cb6;background-color: white;"></i>
                  <span style="color:white;font-size:16px">Manage User</span>
               </a>
               </li>
           
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
    
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" style="margin-top: -58px;">
      <div class="container-fluid">
        <div class="row">
           <!-- <h4>Portal User</h4> -->
          <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">
           Edit User
          </button>
        </div>
       
  
      <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
    
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel2">Edit User</h4>
  
              <button type="button" data-dismiss="modal"  aria-label="Close"><span style="float: right;">&times;</span></button>
            </div>
    
            <div class="modal-body">
              <form class="form-example" #userForm="ngForm">
               <div class="form-group">
                <label for="username">UserName</label>
                <input type="text" style="height: 55px;" class="form-control userName" id="userName" placeholder="Username" name="userName"   >
            </div>
  
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" style="height: 55px;" class="form-control emailID" id="emailID" placeholder="Email" name="emailID" >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" style="height: 55px;" class="form-control password" id="password" placeholder="Password" name="password"  >
            </div>
            <div class="form-group">
              <label for="roles">Roles:</label>
            <select class="form-control roles" style="height: 55px;" id="roles" placeholder="Enter Roles" name="roles" >
              <option value="risk">Admin</option>
              <!-- <option value="safety">User</option> -->
              <!-- <option value="3">Three</option> -->
            </select>
          </div> 
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
    
          </div>
        </div>
      </div>
  
        <hr>
       
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="row" >
                <div class="col-md-4">
                    <div class="photouser">
                        <img class="img-responsive img-rounded" style="width: 130px;
                        margin-left: -9px;
                        margin-top: -15px;" src="./assets/img/blankimg.jpg"
                          alt="User picture">
                    </div>
                    <p style="margin-top:20px;color:blue">Change Photo</p>
                 </div>
                 <div class="col-md-8" style="margin-left: -20px;">
                   
                  <p style="margin-bottom: 5px;font-size: 15px;margin-top:3px;font-weight:bold;">{{name}}</p>
                  <!-- <p style="margin-bottom: 5px;font-size: 15px;"><i class="fas fa-phone">&nbsp;&nbsp;&nbsp;</i></p> -->
                  <p style="margin-bottom: 5px;font-size: 15px;"><i class="fa fa-envelope">&nbsp;&nbsp;&nbsp;{{emailID}}</i></p>
                 </div>
                 
            </div>
            <hr>
          </div>
        </div>
      
      </div>
    </main>
    <!-- page-content" -->
  </div>
</div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  
  
    

