<h1>Upload Document</h1>
<button (click)="Close()" style="    margin-left: 92%;"  class="btn btn-secondary">close</button>
<mat-label style="font-size: 12px;font-weight: bold;">Upload Document</mat-label>
<div style="margin-top:2px">

  <input type="file" id="fileName" name="fileName" [(ngModel)]="fileName" style="margin-top: 5px;"
    (change)="detectFile($event)" multiple />
</div>

<button class="btn btn-secondary" style="    margin-left: 38%;
margin-top: -6%;" (click)="uploadSave()">Upload Document</button>
<mat-table [dataSource]="dataSource" matSort>
   

  <ng-container matColumnDef="Delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button (click)="delete(element.id)" style="border:none">
        <mat-icon style="color:red">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="documentName">
    <mat-header-cell *matHeaderCellDef>Document Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.documentName}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="documentType">
    <mat-header-cell *matHeaderCellDef>Document size</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.documentType}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="documentPath">
    <mat-header-cell *matHeaderCellDef>Document Download</mat-header-cell>
    <mat-cell *matCellDef="let element" >
      <button mat-icon-button (click)="DownLoad(element.documentPath)">
        <mat-icon class="material-icons edit">cloud_download</mat-icon>
    </button>
    </mat-cell>

  </ng-container>



  <mat-header-row *matHeaderRowDef="trackingTableColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: trackingTableColumns;  let i = index;" style="min-height: 93px;"></mat-row>
</mat-table>