<!-- <form class="form-horizontal" autocomplete="off" #createProtectiveModal="ngForm"
  (ngSubmit)="save(createProtectiveModal.value)">

  <abp-modal-header [title]="'Create New Protective Measure'  "></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">
        {{ "Protective Measure Name"   }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="protectiveName" id="protectiveName" required maxlength="32"
          [(ngModel)]="PMDetails.protectiveName" #protectiveName="ngModel" />
      </div>
    </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type"   }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="MSC" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" name="CSC" [(ngModel)]="CSC">
            CSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="RSC" name="RSC">
            RSC
          </mat-checkbox>

        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="Default" name="Default">
            Default
          </mat-checkbox>
        </div>

      </div>
    </div>

  </div>
  <abp-modal-footer></abp-modal-footer>
</form> -->

<div class="side-form">
  <form class="form-horizontal" autocomplete="off" #createProtectiveModal="ngForm"
  (ngSubmit)="save(createProtectiveModal.value)">

  <div class="form-group row required">
    <label class="col-md-3 col-form-label">
      {{ "Protective Measure Name"   }}
    </label>
    <div class="col-md-9">
      <input type="text" class="form-control" name="protectiveName" id="protectiveName" required maxlength="32"
        [(ngModel)]="PMDetails.protectiveName" #protectiveName="ngModel" />
    </div>
  </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Select Type"   }}
      </label>
      <div class="col-md-9">
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="PMDetails.msc" name="MSC">
            MSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" name="CSC" [(ngModel)]="PMDetails.csc">
            CSC
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox type="checkbox" [(ngModel)]="PMDetails.rsc" name="RSC">
            RSC
          </mat-checkbox>

        </div>
        <!-- <div>
        <mat-checkbox type="checkbox" [(ngModel)]="Default" name="Default">
          Default
        </mat-checkbox>
      </div> -->

      </div>
    </div>
    <br>

    <div class="button2" style="margin-top:20px">
      <a class="btn btn-default" (click)="close()">Cancel</a>
      <button type="submit" class="btn btn-primary" style="width: 100px; margin-left: 20%;">Submit</button>
    </div>
  </form>
</div>

