﻿<!-- <div class="login-box">
  <account-header></account-header> -->
  <!-- <div class="card"> -->
    <!-- <div *ngIf="showTenantChange()" class="card-header">
      <tenant-change></tenant-change>
    </div> -->
    <!-- <div class="card-body login-card-body" style="height: 435px;width: 400px;
    background-color: white;
    border-top: 5px solid #3c8dbc;
    border-radius: 2px;"> -->
      <!-- <router-outlet></router-outlet> -->
    <!-- </div> -->
    <!-- <div class="card-footer">
      <account-languages></account-languages>
    </div> -->
  <!-- </div>
  <account-footer></account-footer> -->
<!-- </div> -->
<account-header></account-header>
<router-outlet></router-outlet>
<account-footer></account-footer>

