<mat-card style=" margin-left: 58px;margin-top: 42px;margin-right: 48px;">
  <div style="background: antiquewhite;">
    <hr>
    <h2 style=" margin-left: 460px;">Verify Punch List</h2>
    <hr>

  </div>
  <br>

  <h4>Selected Task : {{RobotAssismenTask}}</h4>
  <br>
  <!-- 
<mat-checkbox ID="Approval" [name]="earlyArray[0].ID" [(ngModel)]="earlyArray[0].ischecked" (change)="onEarlyChange($event)"
[checked]="earlyArray[0].ischecked">Verification requires re-assessing the values of SEVERITY, EXPOSURE and
AVOIDANCE. Check the box and press Continue Verification button.</mat-checkbox>
<br>
<mat-checkbox ID="Decline" [name]="earlyArray[1].ID" [(ngModel)]="earlyArray[1].ischecked" (change)="onEarlyChange($event)"
[checked]="earlyArray[1].ischecked">Denied</mat-checkbox>
<br>

<div >
  <input matInput autocomplete="off" type="text" class="form-control" [placeholder]="'comment'" name="Comments"
    [(ngModel)]="Comments">
</div> -->
  <br>
  <br>

  <button color="primary" style=" background: orange;margin-left: 370px;width: 170px;" type="submit"
    class="mat-flat-button mat-primary" (click)="Verification()"> Continue Verification </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="mat-flat-button mat-accent" style="margin-right: 10px;" (click)="back()">Back</button>
  <br>
  <br>
  <div style="background: antiquewhite;">
    <hr>

    <h5 style=" margin-left: 380px;">Safeguards and Protective Measures For Selectd Task</h5>
    <hr>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-md-6">
      <h5>Safeguard</h5>
      <div class="col-md-12" style="margin-top:20px">
       
        <div class="row" style="margin-top: 5px;">
          <mat-select matInput type="text" autocomplete="off" name="safegaurdD" class="form-control"
          [(ngModel)]="safegaurdD" (selectionChange)="onsafegaurdSelection($event.value)"
          [placeholder]="'Select Some Option'" style="font-size: 12px;border-radius: 8px;border-color: #928f8f;" required multiple>
          <mat-form-field class="col-md-12">
            <input matInput type="text" autocomplete="off" (keyup)="applyFiltersafe($event.target.value)"
              placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let safegaurdtemp of safegaurdData" [value]="safegaurdtemp.safeguardName">
            {{safegaurdtemp.safeguardName}}
          </mat-option>
        </mat-select>
        </div>
      </div><br>

    </div>
    <div class="col-md-6">
      <h5>Protective Procedure</h5>

      
      <div class="col-md-12" style="margin-top:20px">
        
        <div class="row" style="margin-top: 5px;">
          <mat-select matInput type="text" autocomplete="off" name="ProtectiveD" class="form-control"
            [(ngModel)]="ProtectiveD" (selectionChange)="onProtectiveSelection($event.value)" style="font-size: 12px;border-radius: 8px;border-color: #928f8f;"
            [placeholder]="'Select Some Option'" required multiple>
            <mat-form-field class="col-md-12">
              <input matInput type="text" autocomplete="off" (keyup)="applyFilterprotective($event.target.value)"
                placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let Protectivttemp of Protective" [value]="Protectivttemp.protectiveName">
              {{Protectivttemp.protectiveName}}
            </mat-option>
          </mat-select>
        </div>
      </div><br>
    </div>
  </div>
</mat-card>