

.navbar-brand{
    color: white;
      font-size: 30px;
      background: none;
}
.auth-wrapper{
    background-size: cover;
    background-position: center center;
    height: 858px;
    margin-top: -164px;
}

.description{
    color: rgba(255,255,255,.8);
}
.info-title{
    color: rgba(255,255,255,.8);
    color: rgba(255,255,255,.8);
    margin-left: 75px;
    margin-top: -65px;
    font-size: 25px;
}
.description1{
    color: rgba(255,255,255,.8);
    margin-left:75px;
    font-size: 16px
}

.card1{
    height: 500px;
    width: 450px;
    margin-top: 290px;
    background-color: white;
    border-top: 5px solid #3c8dbc;
    border-radius: 2px;
    margin-left: 520px;
}

.nav-link{
    font-size: 18px;
    color: white;
    margin-right: 12px;
}
.custom-control-label{
    font-size: 14px;
    margin-left: -175px;
    
}

/*-------------------------------*/
.login-form {
    width: 400px;
    margin: 30px auto;
    margin-top: 260px;
    /* border-top: 5px solid #007bff; */
   
}

.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    border-radius: 2px;
}
.input-group-prepend .fa {
    font-size: 18px;
}
.login-btn {
    font-size: 15px;
    font-weight: bold;
  	min-height: 40px;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}
.social-btn .btn:hover {
    opacity: 0.9;
}
.social-btn .btn-secondary, .social-btn .btn-secondary:active {
    background: #507cc0 !important;
}
.social-btn .btn-info, .social-btn .btn-info:active {
    background: #64ccf1 !important;
}
.social-btn .btn-danger, .social-btn .btn-danger:active {
    background: #df4930 !important;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}   

.col-md-8{
     /* background-color: rgba(0, 0, 0, 0.25) !important;  */
    margin-top: 320px;
    border-radius: 25px;
}
.main-top{
    color: white;
    /* margin-top: 20px; */
}
.main-top1{
    font-size: 120px;
    color: white;
    text-align: center;
   
}

