<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="auth-wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="login-form">
                    <form autocomplete="off" #userpassform="ngForm" (ngSubmit)="userpass(userpassform.value)">
                        <h4 class="mb-3 f-w-400" style="font-size: 22px;color: orangered;text-align: center;
              padding: 20px;">
                            Enter Your Password</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text" style="color: #007bff;">
                                        <span class="fas fa-key"></span>
                                    </div>
                                </div>
                                <input [type]="passwordTextType ? 'text' : 'password'" class="form-control"
                                    name="password" placeholder="{{ 'Password' | localize }}"
                                    [(ngModel)]="Userp.password" validateEqual="password" reverse="false" required
                                    maxlength="32" #passwordModel="ngModel" #passwordEl />
                                <div class="input-group-text"> <i class="fa" [ngClass]="{
                      'fa-eye-slash': !passwordTextType,
                      'fa-eye': passwordTextType
                    }" (click)="passwordFieldTextType()"></i></div>

                            </div>
                            <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"
                                [customValidationErrors]="passwordValidationErrors"></abp-validation-summary>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-check" style="color: #007bff;"></span>
                                    </div>
                                </div>
                                <input [type]="confirmpassTextType ? 'text' : 'password'" class="form-control"
                                    name="confirmPassword" placeholder="{{ 'Confirm Password' | localize }}"
                                    [(ngModel)]="Userp.confirmPassword" validateEqual="password" reverse="false"
                                    required maxlength="32" #confirmPasswordModel="ngModel" #confirmPasswordEl />
                                <div class="input-group-text"> <i class="fa" [ngClass]="{
                        'fa-eye-slash': !confirmpassTextType,
                        'fa-eye': confirmpassTextType
                      }" (click)="confirmpasswordFieldTextType()"></i></div>

                            </div>
                            <abp-validation-summary [control]="confirmPasswordModel" [controlEl]="confirmPasswordEl"
                                [customValidationErrors]="confirmPasswordValidationErrors"></abp-validation-summary>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary login-btn btn-block">Confirm</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div> -->